@keyframes circleMoving {
    0% {
        transform: scale(1);
        opacity: 0.9;
        background-color: rgba($color: #ff80c0, $alpha: 0.1);
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
        background-color: rgba($color: #d20069, $alpha: 0.15);
    }
}

@keyframes snailMoving {
    10% {
        bottom: 0
    }

    20% {
        bottom: 0
    }

    50% {
        bottom: 0
    }

    70% {
        bottom: 0
    }

    80% {
        bottom: 0
    }

    100% {
        left: 100%;
    }

}

@keyframes introFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        top: -100%;
        opacity: 0.7;
    }
}

@keyframes introBounce {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
    }


    50% {
        transform: translate(-50%, -60%) scale(0.5);
    }

    100% {
        transform: translate(-50%, -50%) scale(0.5);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0.5;
        //transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        //transform: translateY(0);
        color: #bbb1f1
    }
}



@keyframes wave {
    0% {
        background-position: 0px 0px;
    }

    50% {
        background-position: 1000px 150px
    }

    100% {
        background-position: 2000px 0px;
    }
}

@keyframes wave2 {
    0% {
        background-position: 0 0px;
    }

    50% {
        background-position: 800px 100px
    }

    100% {
        background-position: 2000px 0px;
    }
}