.sub-top {
	//padding-top: 960px;
	width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	///object-fit: cover;
	background-size: cover;
	background-position: top center;
	height: 760px;
	overflow: hidden;
	margin-top: 60px;

	&--nurinori {
		background-image: url("../img/src/_common_imgs/nurinori_detail_top.png");
	}

	&--ssuniv {
		background-image: url("../img/src/_common_imgs/soongsil_detail_top.png");
	}

	&--little {
		background-image: url("../img/src/_common_imgs/littlehomelearn_detail_top.png");
	}

	&--asolution {
		background-image: url("../img/src/_common_imgs/asolution_detail_top.png");
	}

	&--goodus {
		background-image: url("../img/src/_common_imgs/goodus_detail_top.png");
	}

	&--gnlife {
		background-image: url("../img/src/_common_imgs/gnlife_detail_top.png");
	}

	&--tbd {
		background-image: url("../img/src/_common_imgs/tbd_detail_top.png");
	}

	&--dse {
		background-image: url("../img/src/_common_imgs/dse_detail_top.png");
	}

	&--tinpo {
		background-image: url("../img/src/_common_imgs/tinpo_detail_top.png");
	}

	&--petratec {
		background-image: url("../img/src/_common_imgs/petratec_detail_top.png");
	}

	&--gaonhightech {
		background-image: url("../img/src/_common_imgs/gaonhightech_detail_top.png");
	}

	&--didlab {
		background-image: url("../img/src/_common_imgs/did_detail_top.png");
	}

	&--khtire {
		background-image: url("../img/src/_common_imgs/khtire_detail_top.png");
	}

	&--biopharma {
		background-image: url("../img/src/_common_imgs/biopharma_detail_top.png");
	}

	&--yearplan {
		background-image: url("../img/src/_common_imgs/yearplan_detail_top.png");
	}

	&--newedu {
		background-image: url("../img/src/_common_imgs/newedu_detail_top.png");
	}

	&--ezcook {
		background-image: url("../img/src/_common_imgs/ezcook_detail_top.png");
	}

	&--qins {
		background-image: url("../img/src/_common_imgs/qins_detail_top.png");
	}

	&--tabbyhands {
		background-image: url("../img/src/_common_imgs/tabbyhands_detail_top.png");
	}

	&--nemo {
		background-image: url("../img/src/_common_imgs/nemodive_detail_top.png");
	}

	&--promotionteam {
		background-image: url("../img/src/_common_imgs/promotionteam_detail_top.png");
	}

	&--anymedinhealth {
		background-image: url("../img/src/_common_imgs/anymedinhealth_detail_top.png");
	}

	&--cellsmith {
		background-image: url("../img/src/_common_imgs/cellsmith_detail_top.png");
	}

	&--gsfic {
		background-image: url("../img/src/_common_imgs/gsfic_detail_top.png");
	}

	&--df {
		background-image: url("../img/src/_common_imgs/design_forte_detail_top.png");
	}

	&--mkg {
		background-image: url("../img/src/_common_imgs/mkg_detail_top.png");
	}

	&--chlaw {
		background-image: url("../img/src/_common_imgs/chaum_detail_top.png");
	}

	&--kmf {
		background-image: url("../img/src/_common_imgs/kmf_detail_top.png");
	}

	&--anytape {
		background-image: url("../img/src/_common_imgs/anytape_detail_top.png");
	}

	&--gaoncons {
		background-image: url("../img/src/_common_imgs/gaoncons_detail_top.png");
	}

	&--secretisland {
		background-image: url("../img/src/_common_imgs/secretisland_detail_top.png");
	}

	&--luchestar {
		background-image: url("../img/src/_common_imgs/luchestar_detail_top.png");
	}

	&--geri {
		background-image: url("../img/src/_common_imgs/geri_detail_top.png");
	}

	&--riderlog {
		background-image: url("../img/src/_common_imgs/riderlog_detail_top.png");
	}

	&--lgdwebzine {
		background-image: url("../img/src/_common_imgs/lgdwebzine_detail_top.png");
	}

	&--jcr {
		background-image: url("../img/src/_common_imgs/jcrpack_detail_top.png");
	}
}

.next-project {
	display: block;
	width: 100%;
	height: 520px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	position: relative;
	margin-top: 100px;
	display: flex;
	align-items: center;
	padding-left: 5%;
	padding-right: 5%;

	&:hover {
		&::after {
			opacity: 0.2;
		}
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.5;
		transition: 0.5s;
	}

	&--nurinori {
		background-image: url("../img/src/_common_imgs/nurinori_next.png");
	}

	&--ssuniv {
		background-image: url("../img/src/_common_imgs/soongsil_next.png");
	}

	&--little {
		background-image: url("../img/src/_common_imgs/littlehomelearn_next.png");
	}

	&--asolution {
		background-image: url("../img/src/_common_imgs/asolution_next.png");
	}

	&--goodus {
		background-image: url("../img/src/_common_imgs/goodus_next.png");
	}

	&--gnlife {
		background-image: url("../img/src/_common_imgs/gnlife_next.png");
	}

	&--tbd {
		background-image: url("../img/src/_common_imgs/tbd_next.png");
	}

	&--dse {
		background-image: url("../img/src/_common_imgs/dse_next.png");
	}

	&--tinpo {
		background-image: url("../img/src/_common_imgs/tinpo_next.png");
	}

	&--petratec {
		background-image: url("../img/src/_common_imgs/petratec_next.png");
	}

	&--gaonhightech {
		background-image: url("../img/src/_common_imgs/gaonhightech_next.png");
	}

	&--didlab {
		background-image: url("../img/src/_common_imgs/did_next.png");
	}

	&--khtire {
		background-image: url("../img/src/_common_imgs/khtire_next.png");
	}

	&--biopharma {
		background-image: url("../img/src/_common_imgs/biopharma_next.png");
	}

	&--yearplan {
		background-image: url("../img/src/_common_imgs/yearplan_next.png");
	}

	&--newedu {
		background-image: url("../img/src/_common_imgs/newedu_next.png");
	}

	&--ezcook {
		background-image: url("../img/src/_common_imgs/ezcook_next.png");
	}

	&--qins {
		background-image: url("../img/src/_common_imgs/qins_next.png");
	}

	&--tabbyhands {
		background-image: url("../img/src/_common_imgs/tabbyhands_next.png");
	}

	&--nemo {
		background-image: url("../img/src/_common_imgs/nemodive_next.png");
	}

	&--promotionteam {
		background-image: url("../img/src/_common_imgs/promotionteam_next.png");
	}

	&--anymedinhealth {
		background-image: url("../img/src/_common_imgs/anymedinhealth_next.png");
	}

	&--cellsmith {
		background-image: url("../img/src/_common_imgs/cellsmith_next.png");
	}

	&--gsfic {
		background-image: url("../img/src/_common_imgs/gsfic_next.png");
	}

	&--df {
		background-image: url("../img/src/_common_imgs/design_forte_next.png");
	}

	&--mkg {
		background-image: url("../img/src/_common_imgs/mkg_next.png");
	}

	&--chlaw {
		background-image: url("../img/src/_common_imgs/chaum_next.png");
	}

	&--kmf {
		background-image: url("../img/src/_common_imgs/kmf_next.png");
	}

	&--anytape {
		background-image: url("../img/src/_common_imgs/anytape_next.png");
	}

	&--gaoncons {
		background-image: url("../img/src/_common_imgs/gaoncons_next.png");
	}

	&--secretisland {
		background-image: url("../img/src/_common_imgs/secretisland_next.png");
	}

	&--luchestar {
		background-image: url("../img/src/_common_imgs/luchestar_next.png");
	}

	&--geri {
		background-image: url("../img/src/_common_imgs/geri_next.png");
	}

	&--jcr {
		background-image: url("../img/src/_common_imgs/jcrpack_next.png");
	}

	&--lgdwebzine {
		background-image: url("../img/src/_common_imgs/lgdwebzine_next.png");
	}

	.container {
		margin: 0 auto;
		font-size: 20px;
		color: #fff;
		position: relative;
		z-index: 1;
		width: 100%;
		letter-spacing: -2px;

		.heading {
			letter-spacing: -0.5px;
		}

		h3 {
			margin-top: 50px;
			font-size: 45px;

			span {
				display: block;
				font-size: 20px;
			}

			p {
				font-weight: bold;
			}
		}
	}
}

.sub-contents {
	background-color: #fff;
	padding: 150px 0 0 0;

	font-family: "NanumSquareRound";

	.description {
		width: 1200px;
		margin: 0 auto;
		font-size: 18px;

		h3 {
			font-size: 40px;
			padding-bottom: 10px;
			border-bottom: 5px solid #333;
			margin-bottom: 20px;
		}

		dl {
			display: flex;
			flex-wrap: wrap;

			dt,
			dd {
				margin-top: 30px;
				font-size: 16px;

				&.overview {
					width: 100%;
				}
			}

			dt {
				width: 10%;
				font-weight: bold;
				text-transform: uppercase;
			}

			dd {
				width: 40%;
				color: #999;

				&.overview {
					margin-top: 10px;
					width: 50%;
					text-align: justify;
				}

				a {
					color: #999;
					position: relative;

					&:hover {
						color: #ff4058;
					}

					// &:hover {
					//     color: #fff;
					//     background: linear-gradient(to right, #86c7fb 0%, #42add3 31%, #9353d4d7 100%);
					//     padding: 6px 10px;
					//     ;
					// }
				}
			}
		}
	}

	.img-container {
		margin: 50px auto 0 auto;
		text-align: center;

		p {
			margin: 10px auto;

			img {
				border-radius: 10px;
				overflow: hidden;
			}
		}

		.imgbox {
			overflow: hidden;
			border-radius: 20px;
			border: 1px solid #ddd;
			box-shadow: 5px 5px 0 rgba($color: #000000, $alpha: 0.07);

			img {
				max-width: 100%;
			}
		}

		&.img-overlay {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			position: relative;

			.imgbox-under {
				width: 80%;
			}

			.imgbox-overlay {
				position: absolute;
				right: 0;
				top: 5%;
				width: 45%;
				box-shadow: -5px 5px 0 rgba($color: #000000, $alpha: 0.07);
			}
		}
	}
}

.fix-layer-control {
	position: fixed;
	z-index: 1000;
	left: 0;
	bottom: -100px;
	right: 0;
	width: 100%;
	height: 100px;
	background: rgba($color: #000000, $alpha: 0.8);

	.page-prev,
	.page-next {
		span {
			font-size: 13px;
			display: block;
			padding: 0 50px;
		}

		p {
			padding: 0 50px;
			font-size: 22px;
			font-weight: bold;
			line-height: 1.2;
			margin-top: 2px;
		}
	}

	.page-prev {
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translate(0, -50%);
		color: #fff;
		font-size: 30px;
		font-family: "NanumSquareRound";
		font-weight: bold;
		text-transform: uppercase;

		&::before {
			content: "👈";
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.page-next {
		position: absolute;
		text-align: right;
		right: 10px;
		top: 50%;
		transform: translate(0, -50%);
		color: #fff;
		font-size: 30px;
		font-family: "NanumSquareRound";
		font-weight: bold;
		text-transform: uppercase;

		&::before {
			content: "👉";
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
