/*RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
article,
aside,
hgroup,
header,
footer,
figure,
figcaption,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: 1.4em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
}

article,
aside,
hgroup,
header,
footer,
figure,
figcaption,
nav,
section {
  display: block;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 17px "Gmarket Sans", sans-serif;
  color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  overflow: visible;
  line-height: 1;
}

a:link,
a:visited,
a:hover,
a,
active,
a:focus {
  text-decoration: none;
  color: #111;
}

legend,
caption {
  display: none;
}

textarea {
  resize: vertical;
  font: inherit;
  overflow-y: auto;
}

input,
select {
  color: inherit;
  font: inherit;
  vertical-align: middle;
}

address,
i {
  font-style: normal;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

img,
select,
input,
button {
  vertical-align: middle;
}

em {
  font-style: normal;
}

input {
  font-family: 'Gmarket Sans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* slick CSS  */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "silgothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/silgothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

html body {
  margin: 0;
  background-color: transparent;
  font-family: "NotoKR", "NanumGothic", "dotum", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 14px;
  font-size: 1.4rem;
  overflow-x: hidden !important;
}

body {
  cursor: url("../img/main/n_basic_32.png"), default !important;
}

::-moz-selection {
  color: #09003c;
  background: rgba(255, 211, 36, 0.99);
}

::selection {
  color: #09003c;
  background: rgba(255, 211, 36, 0.99);
}

@-webkit-keyframes circleMoving {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.9;
    background-color: rgba(255, 128, 192, 0.25);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
    background-color: rgba(210, 0, 105, 0.25);
  }
}

@keyframes circleMoving {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.9;
    background-color: rgba(255, 128, 192, 0.25);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
    background-color: rgba(210, 0, 105, 0.25);
  }
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.menu-btn {
  position: fixed;
  z-index: 1000;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 30px;
  border: 3px solid transparent;
}

.menu-btn span {
  background: #fff;
  width: 30px;
  height: 2px;
  position: absolute;
  left: 12px;
  top: 17px;
}

.menu-btn span.btn-line-2 {
  margin-top: 10px;
}

.menu-btn span.btn-line-3 {
  margin-top: 20px;
}

.menu-btn::before {
  content: '';
  height: 60px;
  width: 60px;
  left: -5px;
  top: -5px;
  border: 1px solid #fff;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.menu-btn:hover {
  background-color: #fff;
  border-color: #f9cd35;
  cursor: url("../img/main/n_link_32.png"), auto !important;
}

.menu-btn:hover::before {
  -webkit-animation: circleMoving 0.5s ease 0.1s infinite;
          animation: circleMoving 0.5s ease 0.1s infinite;
}

.menu-btn:hover span {
  background: #cc5376;
}

a:hover {
  cursor: url("../img/main/n_link_32.png");
  width: 100px;
  height: 100px;
}

.visual {
  background-color: #cc5376;
  background-size: cover;
  background-repeat: repeat-x;
  height: 90vh;
  position: relative;
  background-attachment: fixed;
  font-family: 'Pangolin', cursive;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.visual h2 {
  color: #fff;
  font-family: 'Pangolin', cursive;
  font-size: 4em;
  padding-top: 25vh;
  letter-spacing: -10px;
}

.visual h2 li {
  letter-spacing: 0;
  display: inline-block;
}

.visual .snail {
  width: 50%;
  background: url("../img/main/smail.png") no-repeat;
  height: 400px;
  position: absolute;
  bottom: -30%;
  left: -30%;
  background-size: contain;
}

.visual .snail1 {
  left: 10%;
  -webkit-animation: snailMoving infinite 100s forwards;
          animation: snailMoving infinite 100s forwards;
}

.visual .snail2 {
  left: -50%;
  -webkit-animation: snailMoving infinite 110s 10s forwards;
          animation: snailMoving infinite 110s 10s forwards;
}

@-webkit-keyframes snailMoving {
  10% {
    bottom: -10%;
  }
  20% {
    bottom: -30%;
  }
  50% {
    bottom: -20%;
  }
  70% {
    bottom: -40%;
  }
  80% {
    bottom: -30%;
  }
  100% {
    left: 100%;
  }
}

@keyframes snailMoving {
  10% {
    bottom: -10%;
  }
  20% {
    bottom: -30%;
  }
  50% {
    bottom: -20%;
  }
  70% {
    bottom: -40%;
  }
  80% {
    bottom: -30%;
  }
  100% {
    left: 100%;
  }
}

.visual .visual-subtext {
  font-size: 1.3em;
  padding: 0 5em;
}

.visual .visual-subtext span {
  display: inline-block;
  margin-left: 5px;
  -webkit-transform: scale(1.5) rotate(180deg);
          transform: scale(1.5) rotate(180deg);
}

.visual .circle {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  left: 40px;
  bottom: -50px;
}

.visual .circle.circle2 {
  left: 80px;
}

.visual .circle.circle3 {
  left: 50%;
}

.visual .circle.circle4 {
  left: 90%;
}

.visual .circle.circle5 {
  left: 56%;
}

.visual .circle.circle6 {
  left: 80%;
}

.visual .circle.circle7 {
  left: 70%;
}

.layer-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer-popup .popup-container {
  min-width: 50vw;
  max-height: 80vh;
  overflow: auto;
  text-align: center;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body {
  cursor: url("../img/main/n_basic_32.png"), auto !important;
}

body a:hover {
  cursor: url("../img/main/n_link_32.png"), auto !important;
}

body .grid-item:hover {
  cursor: url("../img/main/n_select_aim.png"), auto !important;
}

.grid .grid-item {
  width: 30%;
  overflow: hidden;
  padding: 2%;
}

.visual-wave {
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.wave {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.wave + .wave {
  z-index: 2;
}

#menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: #444;
}

#menu .menu-data {
  position: absolute;
  left: 10%;
  top: 20%;
}

#menu .menu-data li a {
  color: #fff;
  font-family: 'Pangolin', cursive;
  font-size: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#menu .menu-data li:hover a {
  padding-left: 20px;
  color: #ff4b6a;
}

.page-nav a {
  width: 50px;
  height: 200px;
  background: #000;
  color: #fff;
  display: block;
  position: fixed;
  top: 50%;
  margin-top: -100px;
  -webkit-transition: 1s;
  transition: 1s;
  border: 1px solid transparent;
}

.page-nav a:hover {
  cursor: url("../img/main/n_link_32.png"), auto !important;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
}

.page-nav a span {
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.page-nav a span::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url("../img/main/skip_w.png") no-repeat;
  background-size: contain;
  right: -70px;
  bottom: 14px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: block;
  position: absolute;
}

.page-nav a.page-prev {
  left: 0;
}

.page-nav a.page-prev span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.page-nav a.page-next {
  right: 0;
}
/*# sourceMappingURL=main.css.map */