/*RESET */
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
article,
aside,
hgroup,
header,
footer,
figure,
figcaption,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: 1.4em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
}

article,
aside,
hgroup,
header,
footer,
figure,
figcaption,
nav,
section {
  display: block;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 17px "Gmarket Sans", sans-serif;
  color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  overflow: visible;
  line-height: 1;
}

a:link,
a:visited,
a:hover,
a,
active,
a:focus {
  text-decoration: none;
  color: #111;
}

legend,
caption {
  display: none;
}

textarea {
  resize: vertical;
  font: inherit;
  overflow-y: auto;
}

input,
select {
  color: inherit;
  font: inherit;
  vertical-align: middle;
}

address,
i {
  font-style: normal;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

img,
select,
input,
button {
  vertical-align: middle;
}

em {
  font-style: normal;
}

input {
  font-family: 'Gmarket Sans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* slick CSS  */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "silgothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/silgothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KyoboHand';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@-webkit-keyframes circleMoving {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.9;
    background-color: rgba(255, 128, 192, 0.25);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
    background-color: rgba(210, 0, 105, 0.25);
  }
}

@keyframes circleMoving {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.9;
    background-color: rgba(255, 128, 192, 0.25);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
    background-color: rgba(210, 0, 105, 0.25);
  }
}

@-webkit-keyframes snailMoving {
  10% {
    bottom: 0;
  }
  20% {
    bottom: 0;
  }
  50% {
    bottom: 0;
  }
  70% {
    bottom: 0;
  }
  80% {
    bottom: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes snailMoving {
  10% {
    bottom: 0;
  }
  20% {
    bottom: 0;
  }
  50% {
    bottom: 0;
  }
  70% {
    bottom: 0;
  }
  80% {
    bottom: 0;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes introFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    top: -100%;
  }
}

@keyframes introFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    top: -100%;
  }
}

@-webkit-keyframes introBounce {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    -webkit-transform: translate(-50%, -60%) scale(0.5);
            transform: translate(-50%, -60%) scale(0.5);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
  }
}

@keyframes introBounce {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    -webkit-transform: translate(-50%, -60%) scale(0.5);
            transform: translate(-50%, -60%) scale(0.5);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
  }
}

html {
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

html body {
  margin: 0;
  background-color: transparent;
  font-family: "NotoKR", "NanumGothic", "dotum", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 14px;
  font-size: 1.4rem;
  overflow-x: hidden !important;
}

body {
  cursor: url("../img/main/n_basic_32.png"), auto !important;
}

body a:hover {
  cursor: url("../img/main/n_link_32.png"), auto !important;
}

::-moz-selection {
  color: #09003c;
  background: rgba(255, 211, 36, 0.99);
}

::selection {
  color: #09003c;
  background: rgba(255, 211, 36, 0.99);
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

a:hover {
  cursor: url("../img/main/n_link_32.png");
  width: 100px;
  height: 100px;
}

.menu-btn {
  position: fixed;
  z-index: 1000;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 30px;
  border: 3px solid transparent;
}

.menu-btn span {
  background: #fff;
  width: 30px;
  height: 2px;
  position: absolute;
  left: 12px;
  top: 17px;
}

.menu-btn span.btn-line-2 {
  margin-top: 10px;
}

.menu-btn span.btn-line-3 {
  margin-top: 20px;
}

.menu-btn::before {
  content: '';
  height: 60px;
  width: 60px;
  left: -5px;
  top: -5px;
  border: 1px solid #fff;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.menu-btn:hover {
  background-color: #fff;
  border-color: #f9cd35;
  cursor: url("../img/main/n_link_32.png"), auto !important;
}

.menu-btn:hover::before {
  -webkit-animation: circleMoving 0.5s ease 0.1s infinite;
          animation: circleMoving 0.5s ease 0.1s infinite;
}

.menu-btn:hover span {
  background: #cc5376;
}

#menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: #ff9f9f;
}

#menu .menu-data {
  position: absolute;
  left: 10%;
  top: 20%;
}

#menu .menu-data li a {
  color: #fff;
  font-family: 'Vidaloka', serif;
  font-size: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

#menu .menu-data li a::before {
  content: '';
  width: 30px;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

#menu .menu-data li:hover a {
  padding-left: 20px;
  color: #ff4b6a;
}

#menu .menu-data li:hover a::before {
  width: 100%;
}

.visual {
  background-size: cover;
  background-repeat: repeat-x;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-attachment: fixed;
  font-family: 'Pangolin', 'KyoboHand', cursive;
  color: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.visual video {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.visual h2 {
  color: #fff;
  font-family: 'KyoboHand';
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.visual h2 li {
  letter-spacing: -1px;
  margin: 0 1px;
  display: inline-block;
}

.visual h2 .visual-subtext {
  margin-top: 0.4em;
  font-size: 0.4em;
  letter-spacing: 1px;
}

.visual h2 .visual-subtext span {
  display: inline-block;
}

.visual .snail {
  width: 50%;
  background: url("../img/main/snail2.png") no-repeat;
  height: 200px;
  position: absolute;
  bottom: 0%;
  left: -30%;
  background-size: contain;
  display: none;
}

.visual .snail.snail {
  left: 10%;
  -webkit-animation: snailMoving infinite 100s forwards;
          animation: snailMoving infinite 100s forwards;
}

.visual .snail.snail2 {
  left: -50%;
  -webkit-animation: snailMoving infinite 100s 10s forwards;
          animation: snailMoving infinite 100s 10s forwards;
}

.visual .circle {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  left: 40px;
  bottom: -50px;
}

.visual .circle.circle2 {
  left: 80px;
}

.visual .circle.circle3 {
  left: 50%;
}

.visual .circle.circle4 {
  left: 90%;
}

.visual .circle.circle5 {
  left: 56%;
}

.visual .circle.circle6 {
  left: 80%;
}

.visual .circle.circle7 {
  left: 70%;
}

.visual .visual-wave {
  height: 140px;
  position: absolute;
  bottom: 100px;
  width: 100%;
  bottom: 0px;
  width: 100%;
}

.visual .visual-wave .wave {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
}

.visual .visual-wave .wave + .wave {
  z-index: 3;
}

.intro {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 200;
  left: 0;
  top: 0;
  -webkit-animation: introFadeOut 2s 2s forwards;
          animation: introFadeOut 2s 2s forwards;
  display: none;
}

.intro .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.intro .intro-text img {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.intro .intro-text p {
  font-family: 'Vidaloka', serif;
  font-size: 20px;
  color: #dfdfdf;
  margin-top: -100px;
}

.about {
  font-family: 'Vidaloka', serif;
  background: #fff;
  height: 100vh;
  top: 100vh;
  width: 100%;
  z-index: 10;
}

.about h3 {
  line-height: 1;
  font-size: 5em;
  text-align: center;
  color: #ffd0e8;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  padding-top: 2em;
  position: relative;
}

.about .about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 50px auto;
}

.about .about-item .item {
  width: 32%;
}
/*# sourceMappingURL=main.css.map */