@import "reset";
@import "slick";

@font-face {
  font-family: "silgothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/silgothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');


html {
  //font-size: calc(100vw / 7.2);
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;

  body {
    margin: 0;
    background-color: transparent;
    font-family: "NotoKR", "NanumGothic", "dotum", -apple-system,
      BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    //font-size: 1rem;
    color: #333;
    font-size: 14px;
    font-size: 1.4rem;
    overflow-x: hidden !important;

  }
}

body {
  cursor: url('../img/main/n_basic_32.png'), default !important;
}

//selection text color 
::selection {
  color: #09003c;
  background: rgba($color: #ffd324, $alpha: 0.99);
}

@keyframes circleMoving {
  0% {
    transform: scale(1);
    opacity: 0.9;
    background-color: rgba($color: #ff80c0, $alpha: 0.25);
  }

  100% {
    transform: scale(1.3);
    opacity: 0;
    background-color: rgba($color: #d20069, $alpha: 0.25);
  }
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.menu-btn {
  position: fixed;
  z-index: 1000;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  //cursor: pointer;
  background: transparent;
  border-radius: 30px;
  //transition: 0.4s;
  border: 3px solid transparent;


  span {
    background: #fff;
    width: 30px;
    height: 2px;
    position: absolute;
    left: 12px;
    top: 17px;
    //transition: 0.1s;

    &.btn-line-2 {
      margin-top: 10px;
    }

    &.btn-line-3 {
      margin-top: 20px;
    }
  }

  &::before {
    content: '';
    height: 60px;
    width: 60px;
    left: -5px;
    top: -5px;
    border: 1px solid #fff;

    position: absolute;
    border-radius: 50%;
    opacity: 0;
    transition: 1s;
    transform-origin: center;
  }

  &:hover {
    background-color: #fff;
    border-color: #f9cd35;
    cursor: url('../img/main/n_link_32.png'), auto !important;

    &::before {
      //opacity: 1;
      animation: circleMoving 0.5s ease 0.1s infinite;
      //animation: name duration timing-function delay iteration-count direction fill-mode;
    }


    span {
      background: #cc5376;

    }
  }

}

a:hover {
  cursor: url('../img/main/n_link_32.png');
  width: 100px;
  height: 100px;
}



.visual {
  //background: url('../img/main/bg_snail.jpg') top center;
  background-color: #ff7890;
  background-size: cover;
  background-repeat: repeat-x;
  height: 90vh;
  position: relative;
  background-attachment: fixed;
  font-family: 'Pangolin', cursive;
  color: #fff;
  text-align: center;
  overflow: hidden;


  h2 {
    color: #fff;
    font-family: 'Pangolin', cursive;
    font-size: 4em;
    padding-top: 25vh;
    letter-spacing: -10px;

    li {
      letter-spacing: 0;
      display: inline-block;

    }
  }

  .snail {
    width: 50%;
    background: url('../img/main/smail.png') no-repeat;
    height: 400px;
    position: absolute;
    bottom: -30%;
    left: -30%;
    background-size: contain;

  }

  .snail1 {
    left: 10%;
    animation: snailMoving infinite 100s forwards;
  }

  .snail2 {
    left: -50%;
    animation: snailMoving infinite 110s 10s forwards;
  }

  @keyframes snailMoving {
    10% {
      bottom: -10%;
    }

    20% {
      bottom: -30%;
    }

    50% {
      bottom: -20%;
    }

    70% {
      bottom: -40%;
    }

    80% {
      bottom: -30%;
    }

    100% {
      left: 100%;
    }

  }

  .visual-subtext {
    font-size: 1.3em;
    padding: 0 5em;

    span {
      display: inline-block;
      margin-left: 5px;
      transform: scale(1.5) rotate(180deg);
    }
  }



  //circle ani
  .circle {
    width: 30px;
    height: 30px;
    background: rgba($color: #ffffff, $alpha: 0.3);
    border-radius: 50%;
    position: absolute;
    left: 40px;
    bottom: -50px;

    &.circle2 {
      left: 80px;
    }

    &.circle3 {
      left: 50%;
    }

    &.circle4 {
      left: 90%;
    }

    &.circle5 {
      left: 56%;
    }

    &.circle6 {
      left: 80%;
    }

    &.circle7 {
      left: 70%;
    }
  }
}



//layer 
.layer-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.7);
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .popup-container {
    min-width: 50vw;
    max-height: 80vh;
    overflow: auto;
    text-align: center;
    background: rgba($color: #ffffff, $alpha: 1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

body {
  cursor: url('../img/main/n_basic_32.png'), auto !important;

  a {
    &:hover {
      cursor: url('../img/main/n_link_32.png'), auto !important;
    }
  }


  .grid-item:hover {
    cursor: url('../img/main/n_select_aim.png'), auto !important;
  }
}

.grid {
  .grid-item {
    width: 30%;
    overflow: hidden;
    padding: 2%;
  }
}



.visual-wave {
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;

}

.wave {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.wave+.wave {
  z-index: 2;
}


#menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: #ff9f9f;

  .menu-data {
    position: absolute;
    left: 10%;
    top: 20%;

    li {



      a {
        color: #fff;
        font-family: 'Vidaloka', serif;
        font-size: 50px;
        transition: 0.3s;
        position: relative;

        &::before {
          content: '';
          width: 30px;
          height: 1px;
          background: #fff;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: 1s;
        }

      }

      &:hover {


        a {
          padding-left: 20px;
          color: #ff4b6a;

          &::before {
            width: 100%;
          }

        }
      }
    }
  }
}

.page-nav {


  a {
    width: 50px;
    height: 200px;
    background: #000;
    color: #fff;
    display: block;
    position: fixed;
    top: 50%;
    margin-top: -100px;
    transition: 1s;
    border: 1px solid transparent;

    &:hover {
      cursor: url('../img/main/n_link_32.png'), auto !important;
      background-color: rgba($color: #ffffff, $alpha: 0.1);
      border: 1px solid #fff;
    }

    span {
      display: block;
      transform: rotate(90deg);
      transform-origin: 0 100%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-family: 'Abel', sans-serif;
      font-size: 18px;
      position: relative;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: -40px;
      letter-spacing: 2px;
      width: 100px;

      &::after {
        content: '';
        width: 20px;
        height: 20px;
        background: url('../img/main/skip_w.png') no-repeat;
        background-size: contain;
        right: -70px;
        bottom: 14px;
        transform: rotate(-90deg);
        display: block;
        position: absolute;
      }
    }

    &.page-prev {
      left: 0;

      span::after {
        transform: rotate(90deg);
      }
    }

    &.page-next {
      right: 0;
    }
  }
}

.about {
  font-family: 'Vidaloka', serif;
  background: #f7f7f7;
  height: 100vh;
  position: relative;


  h3 {
    line-height: 1;
    font-size: 5em;
    text-align: center;
    color: #ff4b6a;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
  }
}