@import "reset";
@import "font";
//@import "slick";
@import "_swiper.min";
@import "animation";

@import "iconfonts";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

html {
	line-height: 1.3;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;

	body {
		margin: 0;
		background-color: transparent;
		font-family: "S-CoreDream-3Light", "Noto Sans KR", "NanumGothic", "dotum",
			-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
			"Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
		font-weight: 400;
		//font-size: 1rem;
		color: #333;
		font-size: 14px;
		font-size: 1.4rem;
		overflow: auto;
		overflow-x: hidden !important;
		user-select: auto;
		min-width: 1200px;
		//cursor: none;
	}

	img {
		max-width: 100%;
	}
}

//selection text color
::selection {
	color: #09003c;
	background: rgba($color: #ffd324, $alpha: 0.99);
}

.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

//////////////MENU

.menu-btn {
	position: fixed;
	z-index: 1500;
	left: 20px;
	top: 20px;
	width: 60px;
	height: 60px;
	background: transparent;
	border-radius: 30px;
	border: 3px solid transparent;

	span {
		background: #fff;
		background: #e3c9ef;
		width: 30px;
		height: 2px;
		position: absolute;
		left: 12px;
		top: 17px;
		transition: 0.5s;

		&.btn-line-2 {
			margin-top: 10px;
		}

		&.btn-line-3 {
			margin-top: 20px;
		}
	}

	&::before {
		content: "";
		height: 60px;
		width: 60px;
		left: -5px;
		top: -5px;
		border: 1px solid #fff;
		position: absolute;
		border-radius: 50%;
		opacity: 0;
		transition: 1s;
		transform-origin: center;
	}

	&::after {
		content: "";
		height: 50px;
		width: 50px;
		left: 0;
		top: 0;
		border: 1px solid rgba($color: #ffffff, $alpha: 0.6);
		position: absolute;
		border-radius: 50%;
		opacity: 0;
		transition: 1.2s;
		transform-origin: center;
	}

	&:hover {
		&::before {
			//opacity: 1;
			animation: circleMoving 1s ease infinite;
		}

		&::after {
			animation: circleMoving 1s ease 0.1s infinite;
		}

		span {
			background: #e3c9ef;
		}
	}

	&.open {
		span {
			background: #fff;
		}

		span.btn-line-1 {
			transform: rotate(45deg);
			top: 25px;
		}

		span.btn-line-2 {
			display: none;
		}

		span.btn-line-3 {
			transform: rotate(-45deg);
			margin-top: 8px;
		}
	}
}

header {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	padding: 0 10px;
	width: 100%;
	text-align: right;
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #e4e4e4;

	.header-container {
		width: 1200px;
		margin: auto;
		position: relative;
	}

	.logo {
		position: absolute;
		left: 10px;
		top: 13px;
		font-size: 15px;
		text-align: left;
		color: #333;
		letter-spacing: -1px;
		font-family: "Rubik", sans-serif;
		padding-right: 10px;

		p {
			letter-spacing: 0.1em;
		}

		a {
			display: block;
		}

		&::after {
			content: "";
			width: 7px;
			height: 7px;
			border-radius: 2px;
			background: #ff9d9d;
			position: absolute;
			right: -2px;
			bottom: 14px;
			transform: rotate(30deg);
		}

		p {
			font-weight: 500;
			font-size: 22px;
			line-height: 1;
		}

		span {
			font-size: 10px;
			letter-spacing: 0.17em;
			line-height: 1;
			margin-top: 2px;
			display: block;
		}
	}

	li {
		display: inline-block;

		a {
			font-family: "Rubik", "Noto Sans KR", sans-serif;
			//text-transform: uppercase;
			font-size: 16px;
			padding: 0 20px;
			letter-spacing: 0;
			line-height: 60px;
			color: #333 !important;

			&:hover {
				color: red !important;
			}
		}
	}
}

.portfolio {
	position: relative;
	overflow: hidden;
	padding: 100px 0 100px 0;
	background: #f8f8f8;
	min-height: 80vh;

	.section-container {
		margin: auto;
		position: relative;
		//z-index: 1;
		width: 1200px;
	}

	.button-group {
		margin: 0 auto;

		button {
			color: #333;

			font-size: 17px;
			font-weight: 400;

			padding: 10px 0;
			text-align: left;
			position: relative;
			transition: 0.5s 0.3s;
			border-radius: 5px;
			margin-right: 20px;
			font-family: "Rubik", sans-serif;
			cursor: pointer;

			&:focus {
				outline: none;
			}

			&::before {
				content: "";
				background: rgb(238, 174, 202);
				background: -moz-linear-gradient(
					346deg,
					rgba(238, 174, 202, 1) 0%,
					rgba(148, 187, 233, 1) 100%
				);
				background: -webkit-linear-gradient(
					346deg,
					rgba(238, 174, 202, 1) 0%,
					rgba(148, 187, 233, 1) 100%
				);
				background: linear-gradient(
					346deg,
					rgba(238, 174, 202, 1) 0%,
					rgba(148, 187, 233, 1) 100%
				);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
				position: absolute;
				bottom: 0;
				left: 0;
				height: 5px;
				width: 0;
				transition: 0.5s;
				z-index: 1;
			}

			&:hover,
			&.is-checked {
				&::before {
					left: 0;
					width: 100%;
				}

				padding-left: 10px;
				padding-right: 10px;
			}

			span {
				padding-left: 5px;
				font-size: 11px;
				color: #bbb;
			}
		}
	}

	.grid {
		min-height: 400px;
		transition: height 1s;
		//margin-top: 50px;
		margin-top: 20px;

		.grid-item {
			//width: calc(33.3333% - 50px);
			width: 25%;
			box-sizing: border-box;
			margin: 25px;
			margin-top: 70px;
			margin: 0;
			z-index: 1;

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				color: #333;
				position: relative;
				overflow: hidden;

				&:hover {
					img {
						transform: scale(1.1);
					}
					.desc {
						//top: 0;
						background: rgba($color: #000000, $alpha: 0.7);

						.site,
						.work {
							transform: translateY(0);
							opacity: 1;
						}
					}
				}

				img {
					width: 100%;
					transition: 0.3s;
					transform: scale(1);
				}

				.lable-container {
					position: absolute;
					right: 0;
					bottom: 0;
					width: 100%;
					padding: 10px;
					text-align: right;
					z-index: 10;
					&.lable-dark {
						.label {
							color: #333;
						}
					}
				}
				.label {
					display: inline-block;
					padding: 2px 5px;
					color: #fff;
					border-radius: 3px;
					font-size: 13px;
					//opacity: 0.9;
					font-family: "S-CoreDream-4Regular";
					letter-spacing: -0.3px;
					text-transform: uppercase;
				}

				.desc {
					position: absolute;
					background: rgba($color: #000000, $alpha: 0);
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #fff;
					padding: 20px;
					//flex-wrap: wrap;
					text-align: center;
					transition: 0.1s;
					font-family: "S-CoreDream-4Regular";

					.site,
					.work {
						transition: 0.2s;
						opacity: 0;
						width: 100%;
					}

					.site {
						font-size: 1.1em;
						color: #ff9d9d;
						display: block;
						transform: translateY(10px);
						transition-delay: 0.1s;
					}

					.work {
						margin-top: 5px;
						transform: translateY(15px);
						transition-delay: 0.3s;
					}
				}
			}
		}
	}
}

.contact {
	background: #333;
	padding: 50px 0;
	font-family: "Rubik", "Noto Sans KR", sans-serif;

	h3 {
		color: #fff;
		font-size: 30px;
		text-align: center;
		font-weight: normal;
	}

	.location {
		margin: 50px auto 20px auto;
		text-align: center;
		width: 1200px;
		filter: grayscale(90%);
		transition: 0.5s;

		&:hover {
			filter: grayscale(0%);
		}
	}

	.location-detail {
		display: flex;
		flex-wrap: wrap;
		width: 550px;
		margin: 0 auto;
		margin-top: 20px;

		li {
			font-size: 13px;
			width: 33%;
			text-align: center;
			color: #fff;

			i {
				margin: 1px;
			}

			span {
				padding-right: 10px;
				//width: 80px;
				display: block;
				width: 100%;
				text-transform: uppercase;
				opacity: 0.8;
				padding-bottom: 5px;
			}

			a {
				color: #d8bbfb;
			}
		}
	}

	.copyrights {
		//background: transparent;
		color: #fff;
		text-align: center;
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin-top: 20px;
		opacity: 0.8;
	}
}

@import "portfolio";

/* General Styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	//cursor: none;
}

body {
	background-color: rgb(24, 23, 23);
	color: wheat;
	font-family: "Poppins";
	overflow: hidden;
	font-size: 20px;
}

/* Card Styling */
.card {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10%;
}

.card img:hover {
	transform: scale(1.1);
}

.image-holder img {
	border-radius: 20px;
	object-fit: cover;
	opacity: 0.8;
	width: 300px;
	height: 400px;
	box-shadow: 3px 11px 27px 0px rgba(0, 0, 0, 0.75);
	transition: all 0.5s ease-in-out;
}
