::-webkit-input-placeholder {
    color: #999;
    font-size: 15px;
}

:-ms-input-placeholder {
    color: #999;
    font-size: 15px;
}

::placeholder {
    color: #999;
    font-size: 15px;
}


.col-navy {
    color: #095379
}

select {
    background-image: url('../img/arr_sel_gray.png');
    background-repeat: no-repeat;
    background-position: 95% center;
    padding-left: 10px;
    color: #666;
    border-radius: 0;
    background-color: #fff;
    font-size: 14px;
    appearance: none;
}

.border-box {
    border: 1px solid #ddd;
    padding: 30px;
    background-color: #fff;

    @include mq('tablet-small') {
        padding: 20px;
    }
}

.tb-gray {
    border-top: 2px solid #023d5c;

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;
        text-align: center;


        td,
        th {
            border-bottom: 1px solid #c9c9c9;
            border-right: 1px solid #c9c9c9;
            border-left: 1px solid #c9c9c9;
            padding: 15px 10px;
            background-color: #fff;

        }

        th {
            background: #f7f7f7;
            color: #333;

        }

        tbody th {
            color: #023d5c;
        }

        tbody td {
            td {
                color: #666666
            }
        }
    }

    @include mq('tablet') {
        table {
            font-size: 15px;
        }
    }

    @include mq('tablet-small') {
        table {
            font-size: 14px;

            td,
            th {
                padding: 10px;
            }
        }
    }

    @include mq('phone') {
        table {
            font-size: 13px;

            td,
            th {
                padding: 10px 7px
            }
        }
    }
}


.tab-list {
    width: 100%;
    border-bottom: 1px solid #023d5c;

    ul {
        width: 1200px;
        @include push--auto;
        text-align: center;
        letter-spacing: -10px;

        li {
            display: inline-block;
            width: 245px;
            height: 50px;
            line-height: 50px;
            overflow: hidden;
            letter-spacing: 0;
            vertical-align: bottom;
            border: 1px solid #023d5c;
            border-bottom: none;
            margin: 0 5px;
            cursor: pointer;

            &.on {
                background: #023d5c;
                color: #fff;
            }
        }
    }

    &.tab-list-2type {
        ul li {
            width: 345px;
        }
    }

    &.tab-list-3type {
        ul li {
            width: 245px;
        }
    }


}


//컨텐츠 공통스타일 
.tab-cnt {
    //opadisplay: none;
    opacity: 0;
    height: 1px;
    position: absolute;
    width: 1200px;
    @include push--auto;


    &.on {
        opacity: 1;
        height: auto;
        padding-top: 60px;
        overflow: hidden;
        position: static;
    }

}

@include mq('contents') {
    .tab-list {
        ul {
            width: auto;
        }
    }

    .tab-cnt {
        width: auto;
        padding-left: 3%;
        padding-right: 3%;
    }
}

@include mq('tablet') {
    .tab-list {

        &.tab-list-2type {
            ul li {
                width: 45%;
                margin: 0 1%;
            }
        }

        &.tab-list-3type {
            ul li {
                width: 30%;
                margin: 0 1%;
            }
        }
    }
}

@include mq('tablet-small') {
    .tab-list {
        ul li {
            font-size: 14px;
            width: auto;
        }
    }

    .tab-cnt.on {
        padding-top: 30px;
        padding-left: 3%;
        padding-right: 3%;
    }
}

@include mq('phone') {
    .tab-list {
        ul li {
            font-size: 13px;
        }

    }
}

.title01 {
    margin-top: 60px;
    font-size: 22px;
    color: #023d5c;
    line-height: 1;
    padding-bottom: 20px;
    text-transform: uppercase;

    span {
        font-size: 16px;
        color: #888;
        display: block;
        margin-top: 10px;
    }
}

.line-title {
    border-bottom: 2px solid #000;
    font-size: 25px;
    line-height: 1;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.li-bul {
    li {
        padding-left: 30px;
        position: relative;
        font-size: 18px;
        color: #666666;
        margin-top: 18px;

        &::before {
            content: '';
            width: 13px;
            height: 23px;
            background: url('../img/bul01.png') no-repeat;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.li-square {
    li {
        padding-left: 15px;
        position: relative;
        font-size: 17px;
        color: #666666;
        line-height: 1.6;
        margin-top: 15px;
        text-align: left;

        &:first-child {
            margin-top: 0;
        }

        &::before {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            left: 0;
            top: 9px;
            background: #043d5d;
        }
    }
}

//checkbox custom
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 31px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
    font-size: 16px;

    &.ciecle {
        .checkmark {
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid #efefef;

            &::after {
                content: "";
                position: absolute;
                display: none;
                top: 6px;
                left: 6px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: white;
                transform: none;
            }
        }

        input:checked~.checkmark {
            background-color: #095379;
        }

    }

    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    &:hover input~.checkmark {
        background-color: #ccc;
    }

    input:checked~.checkmark {
        background-color: #095379;
    }

    input:checked~.checkmark:after {
        display: block;
    }
}

.radio-container {

    //   <label class="container">Four
    //     <input type="radio" name="radio">
    //     <span class="checkmark"></span>
    //   </label>
    display: block;
    position: relative;
    padding-left: 31px;
    cursor: pointer;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border-radius: 50%;

        &:after {
            content: "";
            position: absolute;
            display: none;
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }
    }

    &:hover input~.checkmark {
        background-color: #ccc;
    }

    input:checked~.checkmark {
        background-color: #095379;
    }

    input:checked~.checkmark:after {
        display: block;
    }

}

@include mq('tablet-small') {
    .title01 {
        margin-top: 40px;
        font-size: 18px;
        padding-bottom: 15px;

        span {
            font-size: 15px;
            margin-top: 5px;
        }
    }

    .line-title {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .li-bul {
        li {
            font-size: 16px;
        }
    }

    .li-square {
        li {
            font-size: 15px;
        }
    }



    .checkbox-container,
    .radio-container {
        font-size: 15px;
    }
}

@include mq('phone-wide') {
    .title01 {
        margin-top: 20px;

        span {
            font-size: 14px;
        }
    }

    .line-title {
        font-size: 20px;
    }

    .li-bul {
        li {
            font-size: 14px;
        }
    }

    .li-square {
        li {
            font-size: 14px;
        }
    }

    .checkbox-container,
    .radio-container {
        font-size: 14px;
    }

    ::-webkit-input-placeholder {
        font-size: 13px;
    }

    :-ms-input-placeholder {
        font-size: 13px;
    }

    ::placeholder {
        font-size: 13px;
    }
}