//BASIC TABLE
.tb-type01 {
      border-top: 1px solid #333;
      overflow: hidden;

      &.top-border-black {
            border-top: 1px solid #000;
      }

      &.font-NBG {
            table {
                  font-family: 'NanumBarunGothic';
                  font-weight: 400;
            }
      }

      &.align-center {
            table {
                  text-align: center;
            }
      }

      &.align-left {

            table,
            td,
            th {
                  text-align: left;
            }
      }

      &.font-14 {
            table {
                  font-size: 14px;
            }
      }

      table {
            width: 100%;
            border-collapse: collapse;
            font-weight: normal;
            font-size: 15px;
            letter-spacing: -0.5px;
            margin-left: -1px;
            word-break: break-all;

            th {
                  background-color: #fafafa;
                  text-align: center;
            }

            th,
            td {
                  border-bottom: 1px solid #e5e5e5;
                  padding: 14px 20px;
                  font-weight: normal;

                  i {
                        font-weight: 300;
                        //float: left;
                  }

                  &.t-left {
                        text-align: left;
                  }

            }
      }
}



.tb-policy {
      margin: 20px 0;
      overflow: hidden;
      border-top: 1px solid #333;
      text-align: center;

      table {
            width: 100%;
            margin-left: -1px;
            font-size: 15px;
      }

      th {
            background: #fafafa;
      }

      td,
      th {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            border-left: 1px solid #ddd;
      }
}

///////////RESERVATION
.tb-reservation {
      table {
            font-size: 14px;
            letter-spacing: -1px;

            th,
            td {
                  border-left: 1px solid #ddd;
            }
      }

      .b-num,
      .b-point,
      .b-dir,
      .b-dir {
            width: 10%;
      }

      .b-thumb {
            width: 15%;

            img {
                  max-width: 100%;
            }
      }

      .b-info,
      .b-usage,
      .tb-reservation {
            width: 15%;
      }
}

//시설소개 _공간_내용
.tb-reservation2 {
      table {
            font-size: 14px;
            letter-spacing: -1px;

            th,
            td {
                  border-left: 1px solid #eee;
            }
      }

      .b-num,
      .b-point,
      .b-dir {
            width: 10%;
      }

      .b-thumb {
            width: 15%;

            img {
                  max-width: 100%;
            }
      }

      .b-info {
            width: 20%;
      }

      .tb-reservation {
            width: 15%;
      }


}

///////////APPLY
.tb-my-apply {
      border-top: 1px solid #000;
      font-family: "Nanum Gothic", sans-serif;
      font-weight: 400;
      overflow: hidden;

      table {
            width: 100%;
            margin-left: -1px;
            font-size: 15.5px;
            word-break: break-all;
      }

      th,
      td {
            padding: 22px 15px;
            border-bottom: 1px solid #eee;
            font-weight: normal;
            border-left: 1px solid #eee;

            &.t-left {
                  text-align: left;
            }
      }

      th {
            background-color: #f9fafb;
            text-align: center;
            //font-weight: 700;
      }
}


.bbs-content {
      padding: 50px 30px;
      font-size: 15px;
      line-height: 1.4;

      img {
            //width: 65%;
            max-width: 100%;
      }
}

.bbs-top {
      overflow: hidden;
      font-size: 15px;

      .total-count {
            float: left;
            line-height: 33px;
      }

      .view-option {
            float: right;
            overflow: hidden;


            button,
            .select-list {
                  float: left;
            }

            button {
                  width: 31px;
                  height: 33px;
                  background: url('../img/ico_sort.png') no-repeat;

                  &.btn-view-list {
                        background-position: 0 0;

                        &.selected {
                              background-position-y: -33px;
                        }
                  }

                  &.btn-view-thumb {
                        width: 32px;
                        background-position: -31px 0;

                        &.selected {
                              background-position-y: -33px;
                        }
                  }

            }

            #select-list {
                  margin-left: 10px;
                  height: 33px;
                  //overflow: hidden;
                  width: 115px;
                  border: 1px solid #ddd;
                  background-image: url('../img/ico_select_arrow_thin.png');
                  background-repeat: no-repeat;
                  background-position: 90% 12px;
                  padding-left: 10px;
                  position: relative;
                  appearance: none;
                  background-color: #fff;

                  li {
                        line-height: 33px;
                        height: 33px;
                  }
            }
      }

      &.bbs-top-recent {
            .bbs-subtitle {
                  float: left;
                  font-size: 24px;
            }

            .total-count {
                  float: right;
                  font-size: 14px;
            }
      }


      &.bbs-top-publication {
            padding-bottom: 10px;
            overflow: hidden;

            .year-info {
                  float: left;

                  .current-year,
                  .select-year {
                        display: inline-block;
                        vertical-align: middle;
                  }

                  .current-year {
                        font-size: 18px;
                        margin-right: 10px;
                  }

                  .select-year {
                        height: 33px;
                        width: 115px;
                        border: 1px solid #ddd;
                        background-image: url(../img/ico_select_arrow_thin.png);
                        background-repeat: no-repeat;
                        background-position: 90% 12px;
                        padding-left: 10px;
                        position: relative;
                        appearance: none;
                        background-color: #fff;
                  }

            }
      }
}

.bbs-gallery-pub {
      display: flex;
      //justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 -5px auto -5px;
      padding: 20px 0;
      border-top: 1px solid #000;

      .item {
            width: 25%;
            padding: 0 5px;
            overflow: hidden;
            height: 460px;
            margin: 20px 0;

            a {
                  display: block;
                  height: 100%;
                  padding: 20px 20px 0 20px;
                  border: 1px solid #ddd;
                  overflow: hidden;
            }

            .thumb {
                  width: 100%;
                  overflow: hidden;
                  height: 325px;

                  img {
                        height: 100%;
                        width: 100%;
                  }
            }

            .desc {
                  margin-top: 10px;
                  color: #999;
                  font-size: 13px;

                  .title {
                        color: #000;
                        font-size: 17px;
                        @include ellipsis(initial);
                  }

                  .writer {
                        margin-top: 25px;
                  }

                  .date-view {
                        overflow: hidden;
                        margin-top: 4px;

                        &>span {
                              display: block;
                        }

                        .date {
                              float: left
                        }

                        .view {
                              float: right
                        }
                  }
            }

      }
}

///////////BOARD VIEW PAGE
.bbs-view {
      border-top: 1px solid #333;

      .titlearea {
            padding: 30px;
            background: #fafafa;
            border-bottom: 1px solid #ddd;
            position: relative;
            font-family: 'Nanum Square R';
            //font-size:

            .date-view {
                  position: absolute;
                  top: 30px;
                  right: 20px;

                  li {
                        display: inline-block;
                        font-size: 15px;

                        &:first-child::after {
                              content: '';
                              width: 1px;
                              height: 10px;
                              background: #333;
                              display: inline-block;
                              margin: 0 7px;

                        }
                  }
            }

            h4 {
                  font-size: 20px;
            }
      }

      .schedule-info {
            background: #fafafa;
            font-size: 16px;
            padding: 30px;
            margin-top: 10px;

            li {
                  margin-top: 8px;
                  position: relative;
                  padding-left: 15px;

                  &::before {
                        content: '';
                        width: 5px;
                        height: 1px;
                        background: #333;
                        position: absolute;
                        left: 0;
                        top: 10px;
                  }

                  &:first-child {
                        margin-top: 0;
                  }
            }
      }

      img {
            width: 100%;
      }

}


.bbs-attach {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #333;
      display: flex;
      padding: 30px 0;
      font-size: 16px;
      font-family: 'Nanum Square R';

      dt {
            width: 100px;
            text-align: center;
      }
}

.reply-wrap {
      margin-top: 30px;

      .reply-title {

            strong {
                  color: #333;
                  font-size: 18px;
                  padding-right: 20px;
            }
      }

      .commentbox {
            background: #f8f8f8;
            border: 1px solid #ddd;
            box-sizing: border-box;
            padding: 30px;
            margin: 30px 0;
      }

      .comment-list {
            &>li {
                  position: relative;
                  border-bottom: 1px dashed #ddd;
                  padding: 20px 0;

                  &:last-child {
                        padding-bottom: 0;
                        border-bottom: 0;
                  }

                  &:first-child {
                        padding-top: 0;
                  }

                  .cont-header {
                        font-size: 14px;
                        overflow: hidden;

                        .writer {
                              color: #6a99d5;
                              font-weight: bold;
                              padding-right: 20px;
                        }

                        .date {
                              color: #888;
                        }

                        .btn-edit {
                              float: right;

                        }
                  }

                  .cont-text {
                        font-size: 14px;
                        line-height: 1.5;
                        margin-top: 15px;

                        .reply {
                              display: inline-block;
                              font-size: 13px;
                              font-weight: bold;
                              margin-top: 10px;

                        }
                  }




                  &.li-reply {
                        padding-left: 20px;

                        &::before {
                              @include pseudo;
                              left: 0;
                              top: 18px;
                              background: url('../img/bbs_reply.png');
                              width: 11px;
                              height: 11px;
                              display: block;
                        }

                        .cont-header .writer {
                              color: #333;
                        }
                  }
            }
      }

      .write-reply {
            position: relative;

            label {
                  display: block;
                  font-size: 14px;
            }

            textarea {
                  margin-top: 10px;
                  border: 1px solid #ddd;
                  width: 91%;
                  height: 55px;
                  padding: 10px;
                  box-sizing: border-box;
                  font-size: 14px;
                  display: inline-block;
                  vertical-align: bottom;

                  &::placeholder {
                        color: #999;
                        font-size: 14px;
                  }
            }

            .btn-comment {
                  font-size: 15px;
                  background: #666666;
                  color: #fff;
                  width: 8%;
                  height: 55px;
                  display: inline-block;
                  vertical-align: bottom;
            }

            &.write-reply-extract {

                  .text-input {
                        overflow: hidden;
                        margin-top: 10px;

                        textarea {
                              width: calc(100% - 100px);
                              float: left;
                              height: 55px;
                              box-sizing: border-box;
                              resize: none;
                              margin: 0;
                        }

                        .btn-post {
                              background: #333;
                              height: 55px;
                              float: right;
                              width: 90px;
                              font-size: 18px;
                              color: #fff;
                        }
                  }


            }
      }
}

.bbs-nav {
      margin-top: 100px;
      border-top: 1px solid #333;
      border-bottom: 1px solid #333;
      //width: $width-desktop;

      .bbs-nav-dir {
            height: 55px;
            line-height: 55px;
            position: relative;

            &::after {
                  @include pseudo;
                  width: 10px;
                  height: 6px;
                  right: 30px;
                  top: 24px;
                  background-image: url('../img/ico-bbsnav-arrow.png');
                  background-repeat: no-repeat;
            }

            &.nav-next {
                  border-bottom: 1px solid #ddd;

                  &::after {
                        background-position: 0 -6px;
                  }
            }


            .pos {
                  float: left;
                  padding: 0 20px;
                  max-width: 85px;
                  box-sizing: border-box;
                  color: #777;
            }

            .title {
                  width: calc(100% - 85px);
                  box-sizing: border-box;
                  padding-left: 10px;

                  a {
                        display: inline-block;
                        max-width: 400px;
                  }
            }
      }
}

.page-nav {
      border-top: 1px solid #333;
      border-bottom: 1px solid #333;

      dl {
            display: flex;
            flex-wrap: wrap;


            dt,
            dd {
                  padding: 25px 20px;
                  font-size: 15px;

                  &.page-nav-prev {
                        border-bottom: 1px solid #ddd;
                  }


            }

            dt {
                  width: 10%;
                  padding-left: 30px;



                  span::after {
                        content: '';
                        display: inline-block;
                        background: url('../img/ico_more.png') no-repeat;
                        vertical-align: middle;
                        width: 5px;
                        height: 7px;
                        transform: rotate(90deg);
                        margin-left: 10px;
                  }

            }

            dd {
                  width: 90%;

                  a {
                        display: block;
                        @include ellipsis(600px);
                  }
            }
      }
}


/////////////////////////////////////////////////
//////////////////////////////////////BOARD SEARCH
.bbs-search {
      padding: 40px 0;
      text-align: center;
      background: #f8f8f8;

      select {
            width: 195px;
            height: 45px;
            line-height: 45px;
            display: inline-block;
            vertical-align: middle;
            padding: 0;
            border: 1px solid #ddd;
            border-radius: 0;
            appearance: none;
            padding-left: 10px;
            background: #fff url('../img/ico_select_arrow_thin.png') no-repeat 90% center;
            font-size: 16px;
      }

      .input-search {
            display: inline-block;
            vertical-align: middle;
            position: relative;

            input {
                  width: 420px;
                  height: 45px;
                  line-height: 45px;
                  border: 1px solid #ddd;
                  background: #fff;
                  padding-left: 10px;

            }

            .btn-search {
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 45px;
                  height: 45px;
                  background: url('../img/ico_scope_line.png') no-repeat center;
            }
      }
}

//////////////////////////////////////////////////
//////////////////////////////////BOARD PAGINATION
.bbs-pagination {
      text-align: center;

      a {
            display: inline-block;
            vertical-align: middle;
            width: 38px;
            height: 38px;
            background: url('../img/bbs_pagination_arrow.png') no-repeat;
            background-position: 0 0;


            &.page-first {
                  background-position: 0 0;
            }

            &.page-prev {
                  background-position: -38px 0;
            }

            &.page-next {
                  background-position: -76px 0;
            }

            &.page-last {
                  background-position: -114px 0;
            }

            &.page-num {
                  background-image: none;
                  border: 1px solid #ddd;
                  text-align: center;
                  line-height: 38px;

                  font-weight: normal;
                  background-color: #fff;

                  &.on {
                        background: #023894;
                        color: #fff;
                        border: 1px solid #023894;
                  }
            }
      }
}

//////////////////////////////////////////////////
/////////////////////////BOARD TITLE FLAGS & ICONS

/*    new   /     download    /     report      */

.flag-notice,
.flag-news,
.flag-report {
      width: 40px;
      height: 23px;
      background: #dc1a23;
      color: #fff;
      font-size: 12px;
      text-align: center;
      line-height: 23px;
      display: inline-block;
      vertical-align: middle;
}

.new,
.file {
      &::after {
            display: inline-block;
            vertical-align: middle;
      }
}

.new {
      &::after {
            content: 'NEW';
            width: 35px;
            height: 18px;
            background: #dc1a23;
            color: #fff;
            font-size: 11px;
            text-align: center;
            line-height: 18px;
            margin-left: 5px;
      }
}

.file {
      max-width: 350px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 20px;
      position: relative;
      display: block;

      &::after {
            @include pseudo;
            width: 17px;
            height: 18px;
            background: url('../img/ico_file.png') no-repeat;
            margin-left: 5px;
            position: absolute;
            right: 0;
      }
}

.down-file {
      color: #999;

      &::after {
            @include pseudo;
            width: 17px;
            height: 18px;
            background: url('../img/ico_file.png') no-repeat;
            margin-left: 5px;
            display: inline-block;
            right: 0;
            position: relative;
      }
}

.reply {
      display: inline-block;
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
}

.flag-news,
.flag-report {
      margin-right: 10px;
}

.flag-report {
      background: #ee7835;
}


//장비 
.tb-equip {

      .b-num,
      .b-qualify,
      .b-point {
            width: 9%;
            letter-spacing: -1px;
      }

      .b-reserve {
            width: 10%;
      }

      .b-model {
            width: 15%;
      }

      .b-spec {
            width: 20%;
      }
}

.tb-equip2 .b-num,
.tb-equip2 .b-qualify,
.tb-equip2 .b-point {
      width: 10%;
}

.tb-equip2 .b-model {
      width: 15%;
}

.tb-equip2 .b-spec {
      width: 20%;
}


////////////////////////////////BBS BUTTONS 
.btn-go-list {
      width: 145px;
      height: 45px;
      line-height: 45px;
      background: #023894;
      padding-left: 30px;
      background-image: url('../img/btn_arrow_blue_fill.png');
      background-repeat: no-repeat;
      background-position: 90% center;
      display: block;
      color: #fff;
      text-align: left;
      @include push--auto;

      span {
            font-size: 16px;
            display: block;
            text-align: left;
      }
}

.btn-reservation {
      width: 75px;
      font-size: 13px;
      height: 38px;
      line-height: 38px;
      //padding: 2px 10px;
      border: 1px solid #ddd;

      span::before {
            content: '';
            width: 23px;
            height: 18px;
            background: url('../img/ico_cal_prototype.png') no-repeat;
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle
      }
}

.btn-edit {
      a {
            display: inline-block;
            position: relative;
            color: #888;
            padding: 0 10px;
            font-size: 14px;

            &.del {
                  &::before {
                        @include pseudo;
                        left: 0;
                        top: 2px;
                        width: 1px;
                        height: 10px;
                        background: #777;
                  }
            }
      }
}

.ref {
      color: #666666;
      font-size: 14px;
      letter-spacing: 0;

      a {
            color: #999
      }
}


.checklist-inline {
      .input-box {
            min-width: 15% !important;
            margin: 5px 0;
      }
}

.checklist-inline2 {
      .input-box {
            min-width: 20% !important;
            margin: 5px 0;
      }
}


.checklist-inline3 {
      .input-box {
            min-width: 24% !important;
            margin: 5px 0;
      }
}

.checklist-inline4 {
      .input-box {
            min-width: 18% !important;
            margin: 5px 0;
      }
}


.input-box {

      input,
      textarea,

      select {
            border: 1px solid #ddd;
            height: 35px;
            line-height: 35px;
            padding: 0 15px;
            min-width: 90px;

            &::placeholder {
                  font-size: 15px;
                  color: #999;
            }
      }

      &.input-box-inline {
            display: inline-block;
            vertical-align: middle;
      }

      &.input-box-long {
            input {
                  width: 500px !important;
            }
      }

      &.input-box-mid {
            input {
                  width: 300px !important;
            }
      }
}

.input-keyword {
      p {
            margin: 3px 0;
      }

}


.tb-mentor-history,
.tb-prototype-history {
      table {
            .b-title {
                  a {
                        max-width: 250px;
                  }
            }
      }
}

.tb-space-reserve {


      table {

            .b-num,
            .b-loc,
            .b-name,
            .b-qualify,
            .b-point {
                  width: 8%;
            }

            .b-pic {
                  width: 15%;
            }

            .b-pic img {
                  max-width: 100%;
            }

            .b-info,
            .b-use {
                  width: 15%;
            }

            .b-reserve {
                  width: 10%;
            }


      }

}

/////////////////////////
.bbs-gallery {
      display: flex;
      justify-content: left;
      flex-wrap: wrap;

      .box {
            width: 290px;
            height: 385px;
            border: 1px solid #ddd;
            font-size: 16px;
            position: relative;
            margin: 5px 5px 30px 5px;

            .thumb {
                  height: 230px;


                  img {
                        width: 100%;
                        height: 100%;

                  }
            }

            a {
                  display: block;
                  height: 100%;
            }


            .desc {
                  padding: 20px;

                  .title {
                        height: 45px;

                        &.new {
                              &::after {
                                    display: block;
                                    margin-left: 0;
                                    margin-top: 5px;
                              }
                        }
                  }

                  .info {
                        position: absolute;
                        bottom: 20px;
                        left: 0;
                        width: 100%;
                        font-size: 13px;
                        padding: 0 20px;
                        color: #999;

                        .view {
                              float: right;
                        }

                  }
            }
      }
}

@media screen and (max-width: 1200px) {
      .bbs-gallery {
            .box {
                  width: 24%;
                  margin: 1% 0.5%;
            }
      }

      .bbs-view {
            .titlearea {
                  padding: 25px;

                  h4 {
                        font-size: 18px;
                  }
            }
      }
}

@media screen and (max-width: 1024px) {
      .tb-type01 {
            .reply {
                  max-width: 150px;
            }

            table {
                  font-size: 14px;

                  th,
                  td {
                        padding: 10px;
                  }
            }
      }

      .bbs-content {
            padding: 30px;
      }

      .bbs-view {
            .titlearea .date-view {
                  position: static;
                  margin-top: 5px;

                  li {
                        font-size: 13px;
                  }
            }

            .page-nav dl dt {
                  background: #f9f9f9;

                  span::after {
                        display: none;
                  }
            }
      }

      .bbs-gallery-pub {
            .item {
                  width: 33.33%;
                  height: auto;

                  a {
                        padding: 15px;

                  }

                  .thumb {
                        height: 280px;
                  }
            }
      }

}

@media screen and (max-width: 800px) {
      .tb-equip {
            //width: 640px;
            overflow: auto;

            table {
                  width: 800px;
            }
      }
}

@media screen and (max-width: 768px) {
      .tb-map {
            table {
                  font-size: 15px;
            }
      }

      .bbs-pagination {
            a {
                  font-size: 13px;
                  margin: 1px;

                  &.page-num {
                        width: 25px;
                        margin: 1px 0;
                  }
            }
      }



      .bbs-gallery {
            .box {
                  width: 32.3%;
                  height: 280px;

                  .thumb {
                        height: 160px;
                  }

                  .desc {
                        padding-bottom: 0;

                        .title {
                              font-size: 15px;

                              &.new::after {
                                    display: inline-block;
                                    margin-top: -5px;
                                    vertical-align: middle;
                                    margin-left: 5px;
                              }
                        }
                  }
            }
      }

      .bbs-view {

            .page-nav dl {

                  dt,
                  dd {
                        padding: 15px;
                  }
            }
      }
}


@media screen and (max-width: 640px) {
      .tb-type01 {
            table {
                  font-size: 14px;

                  th,
                  td {
                        padding: 10px 8px;
                        letter-spacing: -1px;
                  }


            }

            .reply {
                  max-width: 100px;
            }
      }

      .tb-reservation2 {
            overflow: auto;

            table {
                  width: 640px;
            }

      }

      .tb-my-apply {
            table {
                  font-size: 15px;

                  th,
                  td {
                        padding: 10px 8px;
                        letter-spacing: -1px;
                  }
            }
      }

      .checklist-inline4 .input-box {
            min-width: 45% !important;

      }

      .tb-map {
            overflow-x: scroll;


            table {
                  font-size: 14px;

                  th,
                  td {
                        word-break: break-all;
                  }
            }

      }



      .tb-type01 {
            table {
                  font-size: 13px;
            }
      }

      .bbs-search {
            overflow: hidden;
            padding: 20px;

            select {
                  width: 20%;
                  display: block;
                  float: left;
            }

            .input-search {
                  width: 80%;
                  float: right;
                  display: block;

                  input {
                        width: 100%;
                        margin-left: 2px;
                  }
            }
      }

      .bbs-content {
            padding: 20px;
            font-size: 14px;
      }

      .bbs-attach {
            padding: 20px;
            font-size: 14px;

            dt {
                  text-align: left;
            }
      }

      .tb-my-apply {
            table {
                  font-size: 14px;

                  th,
                  td {
                        padding: 10px 8px;
                        letter-spacing: -1px;
                  }
            }
      }

      .bbs-gallery {
            .box {
                  width: 49%;

                  .desc {
                        .title.new::after {
                              display: none;
                        }

                        .title {
                              font-size: 14px;
                        }
                  }
            }
      }

      .bbs-view {
            .titlearea {
                  padding: 20px 10px;

                  h4 {
                        font-size: 16px;
                  }
            }

            .page-nav dl dt,
            .page-nav dl dd {
                  font-size: 14px;
            }


            .schedule-info {
                  padding: 20px;
                  font-size: 14px;

                  li {
                        margin-top: 4px;
                  }
            }
      }

      .tb-space-reserve {
            //width: 640px;
            overflow: auto;

            table {
                  width: 640px;
            }
      }

      .bbs-gallery-pub .item {
            width: 50%;
      }

}

@media screen and (max-width: 480px) {
      .bbs-content {
            padding: 15px;
      }

      .bbs-attach {
            padding: 10px;
            flex-wrap: wrap;
      }

      .tb-my-apply {
            table {
                  font-size: 13px;
            }
      }

      .bbs-gallery {
            .box {
                  width: auto;
                  height: auto;

                  .thumb {
                        height: 150px;
                  }

                  .desc {
                        //height: auto;
                        padding: 20px 10px;

                        .title {
                              height: 36px;
                        }

                        .info {
                              margin-top: 10px;
                              position: static;
                              padding: 0;
                        }

                  }
            }
      }

      .bbs-view {
            .titlearea {
                  padding: 10px;
            }

            .reply-wrap {
                  .commentbox {
                        padding: 20px;
                  }

                  .write-reply {
                        textarea {
                              width: 80%;
                        }

                        .btn-comment {
                              width: 19%;
                        }
                  }


            }

            .page-nav dl {
                  dt {
                        width: 20%;
                        text-align: center;
                  }

                  dd {
                        width: 80%;
                  }
            }
      }

      .bbs-gallery-pub .item {
            width: 100%;
      }
}

@media screen and (max-width: 360px) {}