//JOIN PROCESS 
.join-progress {
    font-size: 0;

    .progress {
        display: inline-block;
        font-size: 18px;
        position: relative;
        width: 25%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 110px;
        min-height: 112px;
        vertical-align: top;
        color: #777;

        &::before {
            content: '';
            width: 96px;
            height: 112px;
            position: absolute;
            left: 0;
            top: 0;
            background: url("../img/join-process-graphic.png") no-repeat 0 0;
            display: block;
        }

        &::after {
            content: '';
            position: absolute;
            right: 25px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 46px;
            height: 7px;
            background: url("../img/join-process-dot.png ") no-repeat;
        }

        strong {
            display: block;
            font-weight: bold;
            padding-bottom: 6px;
            padding-top: 30px;
        }

        p {
            line-height: 1.4;
        }
    }

    .progress.active {
        color: #2457a2;

        &::before {
            background-position-y: -112px !important;
        }
    }

    .progress.progress-02 {
        &::before {
            background-position: -96px 0;
        }
    }

    .progress.progress-03 {
        &::before {
            background-position: -192px 0;
        }
    }

    .progress.progress-04 {
        &::before {
            background-position: -288px 0;
        }

        &::after {
            display: none;
        }
    }
}

.select-certify-type {
    text-align: center;
    margin-top: 80px;
    background: #f8f8f8;
    padding: 80px 40px;


    &.select-certify-type2 {
        .type-box {
            height: 470px;

            .hint {
                color: #023894;
                font-size: 14px;
                margin: 20px 0;
            }
        }
    }



    ul {

        li {
            text-align: left;
            font-size: 13px;
            margin: 4px 0;
        }
    }

    .type-box {
        width: 430px;
        height: 415px;
        border: 1px solid #ddd;
        display: inline-block;
        padding: 40px 0;
        background: #fff;
        margin: 0 12px;


    }

    .type-title {
        color: #333;
        font-size: 24px;
    }

    .type-txt {
        color: #333;
        font-size: 16px;
        margin: 0 auto 30px auto;
    }

    .thumb {
        width: 130px;
        height: 130px;
        margin: 30px auto;
        background: url('../img/certifytype_thumb_01.png') no-repeat;
        background-size: contain;

        &.thumb-type02 {
            background: url('../img/certifytype_thumb_02.png') no-repeat;
            background-size: contain;
        }

    }

    .btn-select {
        width: 160px;
        height: 35px;
        line-height: 35px;
        color: #fff;
        margin: 0 auto;
        background: #023894;
        font-size: 14px;
    }

}


.select-certify-full {
    text-align: center;
    margin-top: 80px;
    background: #f8f8f8;
    padding: 70px 160px;
    //overflow: hidden;
    position: relative;

    .nomatch {
        color: #ff0000;
        //margin-top: 27px;
        font-size: 15px;
        position: relative;
        bottom: -30px;
        display: block;
    }

    .type-box {
        overflow: hidden;
    }

    ul {

        li {
            text-align: left;
            font-size: 13px;
            margin: 4px 0;
        }
    }

    .type-box {
        width: auto;
        height: auto;
        border: 1px solid #ddd;
        padding: 40px 0;
        background: #fff;
        margin: 0 12px;
    }


    .type-box--left {
        //float: left;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 40%;
    }

    .type-box--right {
        display: inline-block;
        vertical-align: middle;
        width: 58%;
        text-align: left;

        .input-email {
            margin-top: 7px;

            select {
                width: 160px;
                border-radius: 0;
                appearance: none;
                background: url('../img/ico_select_arrow_thin.png') no-repeat;
                background-position: 90% center;
            }
        }

        input {
            width: 240px;
        }

        input,
        select {
            border: 1px solid #ddd;
            height: 34px;
            line-height: 34px;
            color: #999;
            padding-left: 20px;

            &::placeholder {
                color: #999;
                font-size: 14px;

            }
        }

        .btn-select-next {
            width: 240px;
            text-align: left;
            padding-left: 25px;
            font-size: 15px;
            position: relative;

            span::after {
                position: absolute;
                right: 30px;
                top: 16px;
            }
        }
    }

    .hint {
        color: #023894;
    }

    .type-title {
        color: #333;
        font-size: 24px;
    }

    .type-txt {
        color: #333;
        font-size: 19px;
        margin: 0 auto 30px auto;
    }

    .type-txt2 {
        color: #999;
        font-size: 15px;
        //margin: 0 auto 30px auto;
    }


    .result-id {
        font-size: 18px;
        color: #666;

        .join-date {
            margin-left: 50px;
            color: #999;
            font-size: 13px;
            font-weight: 300;
        }
    }


    .check-entire {
        margin-top: 50px;
        text-align: left;
        padding: 0 50px;

        h5 {
            font-size: 19px;
        }

        .bg-box {
            background: #f8f8f8;
            padding: 25px;
            margin-top: 10px;
            position: relative;
            font-size: 15px;

            .btn-seld {
                border: 1px solid #ddd;
                background: #fff;
                position: absolute;
                right: 25px;
                top: 20px;
                display: block;
                width: 140px;
                height: 30px;
                line-height: 30px;
                text-align: center;
            }
        }
    }

    .note {
        font-size: 15px;
        text-align: left;
        font-weight: normal;
        color: #000;
        padding-left: 15px;

    }

    .thumb {
        width: 130px;
        height: 130px;
        margin: 30px auto;
        background: url('../img/certifytype_thumb_01.png') no-repeat;

        &.thumb-type02 {
            background: url('../img/certifytype_thumb_02.png') no-repeat;
        }

    }

    .btn-select {
        width: 160px;
        height: 35px;
        line-height: 35px;
        color: #fff;
        margin: 0 auto;
        background: #023894;
        font-size: 14px;
        margin-top: 40px;
    }

    .btn-select-next {
        margin-top: 40px;
    }

}


.select-join-type {
    text-align: center;
    margin-top: 80px;

    .type-box {
        width: 340px;
        height: 360px;
        border: 1px solid #ddd;
        display: inline-block;
        padding: 40px 0;
        margin: 0 12px;
    }

    .type-title {
        color: #073190;
        font-size: 24px;
    }

    .type-txt {
        color: #999;
        font-size: 14px;
        margin-top: 10px;
    }

    .thumb {
        width: 130px;
        height: 130px;
        margin: 30px auto;
        background: url('../img/jointype_profile_01.png') no-repeat;

        &.thumb-type02 {
            background: url('../img/jointype_profile_02.png') no-repeat;
        }

        &.thumb-type03 {
            background: url('../img/jointype_profile_03.png') no-repeat;
        }
    }

    .btn-select {
        width: 160px;
        height: 35px;
        line-height: 35px;
        color: #fff;
        margin: 0 auto;
        background: #023894;
        font-size: 14px;
    }

}

//////////TERM
.term-bg-box {
    background: #f8f8f8;
    padding: 30px;
    font-size: 13px;

    p {
        line-height: 1.6;
    }

    .term-title {
        font-size: 16px;

        strong {
            font-weight: bold;

            &.col-red {
                color: red;
            }
        }

    }

    .term-title-sub {
        padding-left: 20px;
        margin-top: 10px;
    }

    .radio-container {
        font-weight: bold;

        .checkmark {
            border: 1px solid #ddd;

            &::after {
                top: 5px;
                left: 5px;
            }
        }
    }

    .input-box-term {
        textarea {
            width: 100%;
            height: 160px;
            border: 1px solid #ddd;
        }
    }

    .term-text {
        width: 100%;
        height: 200px;
        border: 1px solid #ddd;
        overflow: auto;
        padding: 20px;
        margin-top: 10px;
        background: #fff;

        .policy {
            padding: 0;
            font-size: 14px;

            &>* {
                font-size: 14px !important;
                margin-top: 10px !important;
            }
        }
    }
}

.term-textbox {
    border: 1px solid #ddd;
    background: #fff;
    padding: 15px;
}



.tb-join {
    border-top: 2px solid #656565;
    overflow: hidden;

    table {
        font-size: 14px;
        margin-left: -1px;
    }

    th {
        background: #f5f5f5;
        color: #333;
        font-weight: bold;
        text-align: center;
    }

    td {
        font-size: 13.5px;
    }


    th,
    td {
        padding: 10px 15px;
        border-bottom: 1px solid #d6d6d6;
        border-left: 1px solid #d6d6d6;
    }
}


.btn-select-next {
    background-color: #073190;
    color: #fff;
    width: 185px;
    height: 45px;
    line-height: 45px;

    span::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 17px;
        height: 11px;
        vertical-align: middle;
        display: inline-block;
        margin-left: 20px;
        background: url('../img/btn_arrow_blue_fill.png') no-repeat;
    }
}




.join-list {
    background: #f9fafb;
    border-top: 1px solid #505c78;
    border-bottom: 1px solid #333;
    margin-top: 60px;
    padding: 40px 30px;
    box-sizing: border-box;
    font-size: 16px;

    >li {
        overflow: hidden;
        padding: 15px 0;
        word-break: break-all;
    }

    h5 {
        line-height: 1.6;
        float: left;
        width: 15%;
        font-weight: normal;
        line-height: 40px;
    }

    .enterwrap {
        float: left;
        width: 85%;
        line-height: 1.6;
        padding-left: 2%;
        box-sizing: border-box;

        ul li {
            font-size: 13.5px;
        }

        .other {
            margin-left: 25px;
        }

        .li-square {
            >li {
                margin-top: 5px;
                color: #888;
                position: relative;
                padding-left: 10px;

                &::before {
                    top: 18px;
                }
            }
        }

        .input-box {
            display: inline-block;
            vertical-align: middle;

            input[type="text"] {
                width: 160px;
            }

            select {
                width: 160px;
                border: 1px solid #ddd;
                background-image: url('../img/ico_select_arrow_thin.png');
                background-repeat: no-repeat;
                background-position: 90% 16px;
                padding-left: 10px;
                position: relative;
                appearance: none;
                background-color: #fff;
            }

            &.input-box-mid1 {
                input {
                    width: 350px;
                }
            }

            &.input-box-mid2 {
                input {
                    width: 550px;
                }
            }

            &.input-box-long {
                display: block;

                input {
                    width: 60%;
                }
            }
        }

        .help {
            font-size: 14px;
            color: #888;
            padding-left: 20px;
        }

        input,
        select,
        button {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 14px;
            vertical-align: middle;
        }

        button {
            padding: 0 20px;
            border: 1px solid #ddd;
            //background: #333;
            color: #333;
            background: #fff;
        }

        &.enterwrap-radio {
            .input-box {
                margin-left: 20px;

                &:nth-of-type(1) {
                    margin-left: 0;
                }
            }
        }
    }


}

//중복체크버튼
.checkid {
    border: 1px solid #ddd;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    font-size: 15px;
}



.li-join {
    li {
        font-size: 14px;
        color: #999;
        margin: 4px 0;
    }
}


//////////////JOIN COMPLETE
.join-complete {
    background: url('../img/logo_ci_opacity.png') no-repeat center top;
    margin-top: 100px;
    min-height: 490px;
    text-align: center;

    .welcome-text {
        padding-top: 150px;

        strong {
            display: block;
            font-size: 40px;
            font-weight: bold;
            font-family: "Nanum Square R", sans-serif;
            color: #073190;
        }

        .subtext {
            color: red;
            margin-top: 10px;
            font-size: 18px;
        }
    }

    .user-info {
        margin-top: 160px;
        display: inline-block;
        text-align: left;
        font-size: 18px;

        li {
            margin-bottom: 10px;
        }
    }
}


.edit-memberinfo-tab {
    display: flex;

    li {
        width: 33.333%;
        border: 1px solid #ddd;
        margin-left: -1px;

        a {
            color: #333;
            line-height: 55px;
            font-size: 16px;
            display: block;
            text-align: center;
            font-family: "Nanum Square R", sans-serif;
            position: relative;

        }

        &.on {
            background: #ee7835;

            a {
                color: #fff;

                &::after {
                    position: absolute;
                    content: '';
                    bottom: -1px;
                    left: 50%;
                    margin-left: -9px;
                    width: 18px;
                    height: 9px;
                    background: url('../img/subnav_arrow.png') no-repeat;
                    display: block;

                }
            }
        }
    }
}

.mt-7 {
    margin-top: 7px;
}


@media screen and (max-width: 1280px) {
    .join-progress {
        padding-left: 0;

        .progress {
            text-align: center;
            font-size: 16px;
            padding: 0 10px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            &::before {
                display: block;
                position: static;
                margin: 0 auto 10px auto;
            }

            &::after {
                display: none;
            }

            strong {
                padding-top: 10px;
            }

            p {
                font-size: 14px;

                br {
                    display: none;
                }
            }
        }
    }

    .select-join-type {
        .type-box {
            width: 30%;
            margin: 1%;

        }

        .type-title {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .login-title {
        font-size: 36px;

        span {
            display: block;
        }
    }

    .join-list {
        padding: 30px;

        li {
            padding: 10px 0;
            font-size: 15px;
        }

        h5 {
            width: 20%;
        }

        .enterwrap {
            width: 80%;

            .input-box.input-box-mid1 {
                input {
                    width: 250px;
                }
            }

            .input-box.input-box-mid2 {
                input {
                    width: 100%;
                }
            }

            .input-box.input-box-long {
                input {
                    width: 100%;
                }
            }
        }
    }

    .select-certify-type {
        padding: 50px;
        margin-top: 40px;

        .type-box {
            width: 47%;
            margin: 1%;
        }

        .type-title {
            font-size: 22px;
        }
    }

    .select-certify-full {
        padding: 50px;

        .type-box--left,
        .type-box--right {
            width: 49%;
        }

        .type-title {
            font-size: 22px;
        }

        .thumb {
            width: 100px;
            height: 100px;
            background-size: contain !important;
        }

        .type-box--right .input-email select {
            display: block;
            width: 240px;
            margin-top: 7px;
        }
    }
}

@media screen and (max-width:768px) {


    .select-certify-type {
        padding: 30px;

        &.select-certify-type2 .type-box {
            height: auto;
        }

        .type-title {
            font-size: 20px;
        }

        .thumb {

            width: 100px;
            height: 100px;
            margin: 15px auto;
        }

        .type-txt {
            font-size: 15px;
            margin-bottom: 15px;

            br {
                display: none;
            }
        }

        .type-box {
            width: auto;
            height: auto;
            display: block;
            padding: 30px 20px;
        }
    }

    .select-certify-full {
        padding: 30px;

        .check-entire {
            padding: 0;
        }

        .nomatch {
            bottom: 0;
            margin-top: 10px;
        }

        .type-title {
            font-size: 20px;
        }

        .type-box {
            padding: 30px;
        }

        .type-txt {
            font-size: 16px;
        }

        .type-box--left,
        .type-box--right {
            width: 100%;
            float: none;
            text-align: center;
        }

        .type-box--right {
            padding: 0 5%;

            input,
            select {
                width: 100%;
            }

            .input-email select {
                width: 100%;
            }
        }

    }

    .join-complete .welcome-text {
        strong {

            font-size: 30px;
        }

        font-size: 16px;
    }
}

@media screen and (max-width:680px) {

    .select-certify-full .check-entire .bg-box {
        text-align: center;

        strong {
            display: block;
            font-weight: bold;
            margin: 5px 0;
        }

        .btn-seld {
            position: static;
            margin: 10px auto 0;
        }
    }

    .select-join-type .type-box {
        width: 100%;
        height: auto;
        padding: 20px;
    }
}

@media screen and (max-width:640px) {
    .login-title {
        font-size: 30px;
    }

    .join-list {
        padding: 5px;

        li {
            font-size: 14px;
            border-top: 1px solid #eee;
            padding: 7px 0;

            &:first-child {
                border-top: none;
            }
        }

        .enterwrap {
            .input-box {
                select {
                    width: 120px;
                    margin: 1px 0;
                }

                input[type="text"] {
                    width: 120px;
                    margin: 1px 0;
                }

                &.input-box-mid1 {
                    width: 100%;
                    display: block;

                    input {
                        width: 100%;
                    }
                }

                &.input-box-long {
                    input {
                        width: 100%;
                    }
                }

                &.input-3types {
                    select {
                        width: 80px;
                    }

                    input {
                        width: 80px;
                    }
                }
            }


            button {
                width: 100%;
                margin-top: 2px;
            }

            .radio-container {
                font-size: 14px;
            }

            &.enterwrap-radio {
                .input-box {
                    display: block;
                    margin-left: 0;

                    .radio-container {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .li-join li {
        font-size: 13px;
    }

    .select-certify-full {
        .check-entire h5 {
            font-size: 16px;
        }

        .note {
            font-size: 14px;
        }
    }


}

@media screen and (max-width: 480px) {

    .login-title {
        font-size: 22px;

        span {
            font-size: 14px;
        }
    }

    .select-certify-type {
        .type-title {
            font-size: 18px;
        }

        .thumb {
            width: 80px;
            height: 80px;
        }
    }

    .select-certify-full {

        padding: 30px;
        margin-top: 20px !important;

        .note {
            font-size: 13px;
        }

        .type-box {
            padding: 20px;
        }

        .result-id {
            font-size: 15px;
            margin-top: 15px !important;
        }

        .type-txt2 {
            margin-top: 15px !important;
            font-size: 14px;
        }

        .nomatch {
            font-size: 14px;
        }

        .type-title {
            font-size: 18px;
        }

        .check-entire .bg-box {
            font-size: 14px;
            padding: 15px;
        }

        .type-txt {
            font-size: 14px;
        }


        .thumb {
            width: 80px;
            height: 80px;
        }
    }

    .join-progress {
        margin-top: 20px;

        .progress {
            width: auto;
            display: block;
            min-height: auto;
            margin: 5px 0;
            padding: 0;

            &::before {
                display: none;
            }

            strong {
                background: #ddd;
                color: #333;
                margin-bottom: 4px;
                padding: 5px;
                font-size: 14px;
                border-radius: 2px;
                display: block;
            }
        }

        .progress.active {
            strong {
                background: #2055a4;
                color: #fff;
            }
        }
    }

    .join-complete .welcome-text {
        strong {
            font-size: 25px;
        }

        .subtext {
            font-size: 14px;
        }
    }

    .select-certify-type {
        .type-title {
            font-size: 16px;
        }

        .type-txt {
            font-size: 14px;
        }
    }

    .edit-memberinfo-tab li a {
        line-height: 35px;
        height: 35px;
        font-size: 13px;
        overflow: hidden;

        &::after {
            display: none !important;
        }
    }

}

@media screen and (max-width: 375px) {

    .join-list {
        li {
            font-size: 13px;
        }

        .enterwrap {
            .input-box {
                select {
                    width: 100%;
                }

                input[type="text"] {
                    width: 100%;
                }
            }

            .input-box.input-3types {
                select {
                    width: 60px;
                }

                input {
                    width: 60px;
                }
            }

            button {
                width: 100%;
                margin-top: 2px;
            }

            &.enterwrap-radio {
                .input-box {
                    display: block;
                    margin-left: 0;

                    .radio-container {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .join-complete {
        margin-top: 50px;
        min-height: 380px;


        .welcome-text {
            padding-top: 100px;
            padding-left: 20px;
            padding-right: 20px;

            strong {
                font-size: 20px;
            }

            .subtext {
                font-size: 13px;
            }
        }

        .user-info {
            font-size: 15px;
            margin-top: 80px;
        }
    }
}