$color-red: #f15b3c;
$color-red2: #ff5400;
$color-brown: #623805;
$color-dark-gray: #424242;
$color-light-gray: #e8e8e8;
$color-navy: #00023b;
$bg-footer: #e4e3e3;

$color-brown: #623805;
$color-dark-gray: #424242;
$color-light-gray: #e8e8e8;
$color-navy: #00023b;
$bg-footer: #e4e3e3;

$text-orange: #ff9900;
$color-yellow: #ffdd67;
$border-color: #cccccc;
$color-mint: #5ccfcb;


$color-purple :#8618c0;
$text-orange: #ff9900;
$border-color: #cccccc;

$border-color: #cccccc;

$contentWidth: 1200px;


.col-red {
      color: $color-red;
}

.col-gray {
      color: #999;
}

.col-blue {
      color: #0c4e9b;
}