.board-search {
    text-align: center;
    width: 1280px;
    @include push--auto;
    letter-spacing: -10px;
    display: flex;

    select {
        width: 160px;
        height: 50px;
        line-height: 50px;
        border: 1px solid #d6d6d6;
        padding-left: 20px;
        background: url('../img/sub/ico_sel.png') no-repeat 90% 25px;
        margin-right: 5px;
        vertical-align: middle;
    }

    .input-search-text {
        display: inline-block;
        vertical-align: middle;
        position: relative;


        input {
            border: 1px solid #d6d6d6;
            width: 600px;
            height: 50px;
            height: 50px;
            line-height: 50px;
            padding-left: 20px;
        }

        .btn-board-search {
            width: 116px;
            height: 50px;
            line-height: 50px;
            color: #fff;
            background: #2a9080;
            position: absolute;
            right: 0;
            top: 0;

            span {
                &::before {
                    content: '';
                    width: 20px;
                    height: 21px;
                    background: url('../img/sub/ico_search.png') no-repeat;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
        }
    }

    .btn-inquiry {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        color: #fff;
        width: 180px;
        height: 50px;
        line-height: 50px;
        background: #5d9015;
        letter-spacing: -1px;
        margin-left: 5px;

        span::before {
            content: '';
            width: 21px;
            height: 24px;
            background: url('../img/sub/ico_detail.png') no-repeat;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }

    @include mq('contents') {
        width: auto;
        padding: 0 2%;
    }

    @include mq('tablet-wide') {
        flex-wrap: wrap;


        select {
            width: 32.9%;
            margin-left: 0.5%;
            margin-right: 0;

            &:nth-of-type(1) {
                margin-left: 0;
            }
        }

        .input-search-text {
            width: 100%;
            display: block;
            margin-top: 5px;

            input {
                width: 100%;
            }
        }

        .btn-inquiry {
            margin-left: 0;
            margin-top: 5px;
        }
    }

    @include mq('phone-mid') {
        .btn-inquiry {
            width: 100%;
        }
    }
}


.board-list-style {
    font-size: 15px;
    @include push--auto;
    background: #f5f5f5;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 50px 0;
    margin-top: 70px;

    //board header 
    .board-list-header {
        background: #ffffff;
        border-top: 1px solid #2a3890;
        border-bottom: 1px solid #d7d7d7;
        display: flex;
        padding: 15px 0;
        justify-content: space-between;
        width: 1280px;
        @include push--auto;

        &>p {
            text-align: center;
        }
    }

    //board body 
    .board-list-body {
        width: 1280px;
        @include push--auto;

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #d7d7d7;

            .label {
                font-size: 0;
            }

            &>p {
                text-align: center;
                padding: 15px 10px;
            }

            .b-title {
                text-align: left;

                .attached-file {
                    width: 16px;
                    height: 18px;
                    background: url('../img/ico_board_docs.png') no-repeat;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 0;
                    margin-left: 5px;
                }
            }
        }


    }

    &.board-list-style--product {
        .board-list-header {

            .b-thumb {
                width: 28%;
            }

            .b-model,
            .b-series,
            .b-input,
            .b-output {
                width: 18%;
            }


        }

        .board-list-body {

            .b-thumb {
                width: 28%;

                img {
                    width: 300px;
                    height: 140px;
                    border: 1px solid #dedede;
                }
            }

            .b-model,
            .b-series,
            .b-input,
            .b-output {
                width: 18%;
                vertical-align: middle;
                border-left: 1px solid #dedede;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
            }


        }
    }

    @include mq('contents') {
        width: auto;
        padding: 50px 2%;

        .board-list-header {
            width: auto;
        }

        .board-list-body {
            width: auto;
        }

        &.board-list-style--product {
            .board-list-body {
                .b-thumb {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    @include mq('tablet-wide') {
        &.board-list-style--product {
            .board-list-body {

                .b-thumb {
                    width: 28%;

                    img {
                        height: 100px;
                    }
                }

                .b-model,
                .b-series,
                .b-input,
                .b-output {
                    height: 150px;
                }


            }
        }
    }

    @include mq('phone-wide') {
        font-size: 13px;

        &.board-list-style--product {

            .board-list-header {
                display: none;
            }

            .board-list-body {
                .row {
                    flex-wrap: wrap;
                    border: none;
                }

                .b-thumb {
                    width: 100%;

                    img {
                        //height: 150px;
                        width: auto;
                        height: auto;
                    }
                }


                .b-model,
                .b-series,
                .b-input,
                .b-output {
                    border: none;
                    height: auto;
                    min-height: 50px;
                    width: 99%;
                    text-align: left;
                    justify-content: end;
                    border-bottom: 1px solid #dedede;
                }

                .label {
                    width: 60px;
                    display: inline-block;
                    font-size: 14px;
                    color: #333;
                    margin-right: 10px;
                    position: relative;

                    &::before {
                        content: '';
                        width: 4px;
                        height: 4px;
                        background: #333;
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 7px;
                        vertical-align: middle;
                    }


                }

            }

        }
    }


}

.board-pagination {
    margin-top: 40px;
    letter-spacing: -10px;
    text-align: center;

    a {
        display: inline-block;
        letter-spacing: 0;
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 13px;
        text-align: center;
        margin: 0 2px;

        &:first-child {
            border-left: 1px solid #ccc;

            &.on {
                border-left: 1px solid #555
            }
        }

    }

    .page-num {
        color: #999;
        border: 1px solid #ccc;

        &.on {
            background: #2a3890;
            border: 1px solid #2a3890;
            color: #fff;
        }
    }
}

.board-view {
    width: 1200px;
    @include push--auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    .title {
        padding: 30px;
        font-size: 20px;

        &.title--new {
            &::before {
                content: '';
                width: 40px;
                height: 17px;
                background: url('../img/ico_new_skyblue.png') no-repeat;
                display: inline-block;
                margin-right: 5px;
                vertical-align: middle;
            }
        }
    }

    .board-postinfo {
        background: #f6f6f6;
        padding: 30px;
        text-align: right;
        border: 1px solid #ddd;

        li {
            display: inline-block;
            font-size: 14px;
            margin-left: 15px;

            &:first-child {
                margin-left: 0;
            }

            &::before {
                content: '';
                display: inline-block;
                margin-right: 5px;
                vertical-align: middle;
                background-repeat: no-repeat;
            }

            &.date::before {
                width: 19px;
                height: 19px;
                background-image: url('../img/ico_date.png');
            }

            &.view::before {
                width: 16px;
                height: 23px;
                background-image: url('../img/ico_hits.png');
            }
        }
    }

    .board-content {
        padding: 50px;
        line-height: 1.6;
        font-size: 16px;
    }

    @include mq('contents') {
        width: auto;
        padding: 0 5%;
    }

    @include mq('tablet') {
        padding: 0 2%;

        .title {
            font-size: 18px;
            padding: 20px;
        }

        .board-postinfo {
            padding: 20px;
        }

        .board-content {
            padding: 30px 20px;
        }
    }

    @include mq('tablet-small') {
        .title {
            font-size: 16px;
        }

        .board-postinfo {
            padding: 10px 20px;

            li {
                font-size: 13px;
            }
        }

        .board-content {
            font-size: 14px;
            padding: 20px;
        }
    }
}