::-webkit-input-placeholder {
    color: #999;
    font-size: 15px;
}

:-ms-input-placeholder {
    color: #999;
    font-size: 15px;
}

::placeholder {
    color: #999;
    font-size: 15px;
}


.col-navy {
    color: #095379
}

select {
    background-image: url('../img/arr_sel_gray.png');
    background-repeat: no-repeat;
    background-position: 95% center;
    padding-left: 10px;
    color: #666;
    border-radius: 0;
    background-color: #fff;
    font-size: 14px;
    appearance: none;
}

.border-box {
    border: 1px solid #ddd;
    padding: 30px;
    background-color: #fff;

    @include mq('tablet-small') {
        padding: 20px;
    }
}

.tab-list {
    width: 100%;
    border-bottom: 1px solid #023d5c;

    ul {
        width: 1200px;
        @include push--auto;
        text-align: center;
        letter-spacing: -10px;

        li {
            display: inline-block;
            width: 245px;

            overflow: hidden;
            letter-spacing: 0;
            vertical-align: bottom;
            border: 1px solid #023d5c;
            border-bottom: none;
            margin: 0 5px;
            cursor: pointer;

            a {
                display: block;
                height: 50px;
                line-height: 50px;
            }



            &.on {
                background: #023d5c;
                color: #fff;

                a {
                    color: #fff;

                }
            }
        }
    }

    &.tab-list-2type {
        ul li {
            width: 345px;
        }
    }

    &.tab-list-3type {
        ul li {
            width: 245px;
        }
    }
}


//컨텐츠 공통스타일 
.tab-cnt {
    //opadisplay: none;
    opacity: 0;
    height: 1px;
    position: absolute;
    width: 1200px;
    @include push--auto;


    &.on {
        opacity: 1;
        height: auto;
        padding-top: 60px;
        overflow: hidden;
        position: static;
    }

}

@include mq('contents') {
    .tab-list {
        ul {
            width: auto;
        }
    }

    .tab-cnt {
        width: auto;
        padding-left: 3%;
        padding-right: 3%;
    }
}

@include mq('tablet') {
    .tab-list {

        &.tab-list-2type {
            ul li {
                width: 45%;
                margin: 0 1%;
            }
        }

        &.tab-list-3type {
            ul li {
                width: 30%;
                margin: 0 1%;
            }
        }
    }
}

@include mq('tablet-small') {
    .tab-list {
        ul li {
            font-size: 14px;
            width: auto;
        }
    }

    .tab-cnt.on {
        padding-top: 30px;
        padding-left: 3%;
        padding-right: 3%;
    }
}

@include mq('phone') {
    .tab-list {
        ul li {
            font-size: 13px;
        }

    }
}

//checkbox custom
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 31px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
    font-size: 16px;

    &.ciecle {
        .checkmark {
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid #efefef;

            &::after {
                content: "";
                position: absolute;
                display: none;
                top: 6px;
                left: 6px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: white;
                transform: none;
            }
        }

        input:checked~.checkmark {
            background-color: #095379;
        }

    }

    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    &:hover input~.checkmark {
        background-color: #ccc;
    }

    input:checked~.checkmark {
        background-color: #095379;
    }

    input:checked~.checkmark:after {
        display: block;
    }
}

.radio-container {

    //   <label class="container">Four
    //     <input type="radio" name="radio">
    //     <span class="checkmark"></span>
    //   </label>
    display: block;
    position: relative;
    padding-left: 31px;
    cursor: pointer;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border-radius: 50%;

        &:after {
            content: "";
            position: absolute;
            display: none;
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }
    }

    &:hover input~.checkmark {
        background-color: #ccc;
    }

    input:checked~.checkmark {
        background-color: #095379;
    }

    input:checked~.checkmark:after {
        display: block;
    }

}

@include mq('tablet-small') {
    .title01 {
        margin-top: 40px;
        font-size: 18px;
        padding-bottom: 15px;

        span {
            font-size: 15px;
            margin-top: 5px;
        }
    }

    .line-title {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .li-bul {
        li {
            font-size: 16px;
        }
    }

    .li-square {
        li {
            font-size: 15px;
        }
    }



    .checkbox-container,
    .radio-container {
        font-size: 15px;
    }
}

@include mq('phone-wide') {
    .title01 {
        margin-top: 20px;

        span {
            font-size: 14px;
        }
    }

    .line-title {
        font-size: 20px;
    }

    .li-bul {
        li {
            font-size: 14px;
        }
    }

    .li-square {
        li {
            font-size: 14px;
        }
    }

    .checkbox-container,
    .radio-container {
        font-size: 14px;
    }

    ::-webkit-input-placeholder {
        font-size: 13px;
    }

    :-ms-input-placeholder {
        font-size: 13px;
    }

    ::placeholder {
        font-size: 13px;
    }
}


/////////////////TEXTBOX
.box-gray {
    .box-title {
        font-size: 20px;
        color: #2a3890;
        padding-bottom: 10px;

        span {
            font-weight: 700;
            position: relative;
            line-height: 1;
            //padding-bottom: 10px;

            &::after {
                content: '';
                width: 100%;
                height: 2px;
                left: 0;
                background: #2a3890;
                position: absolute;
                bottom: -10px;

            }
        }
    }

    .box-cnt {
        background: #f5f5f5;
        padding: 30px;
        font-size: 17px;
        line-height: 1.6;
        border: 1px solid #dddddd;
        margin-top: -1px;
    }

}


.title01 {
    font-size: 20px;
    color: #2a3890;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;

    span {
        font-weight: 700;
        position: relative;
        line-height: 1;
        //padding-bottom: 10px;

        &::after {
            content: '';
            width: 100%;
            height: 2px;
            left: 0;
            background: #2a3890;
            position: absolute;
            bottom: -11px;

        }
    }
}

.li-bul-blue {
    li {
        position: relative;
        font-size: 17px;
        padding-left: 14px;
        margin-top: 15px;

        &:first-child {
            margin-top: 0;
        }

        &::before {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            left: 0;
            top: 10px;
            background: #2a3890;
            border-radius: 50%;

        }
    }

    &.li-bul--half {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 50%;

            &:first-child {
                margin-top: 15px;
            }
        }
    }

    @include mq('tablet-small') {
        li {
            font-size: 15px;
        }

        &.li-bul--half {
            li {
                width: 100%;
            }
        }
    }


    @include mq('phone-wide') {
        li {
            font-size: 14px;
        }


    }
}

.tb-type01 {
    margin-top: 15px;

    table {
        width: 100%;
        color: #555;
        font-weight: 400;

        td,
        th {
            padding: 15px;
            border: 1px solid #dedede;
            word-break: break-all;
        }

        thead th {
            color: #fff;
            background: #2a3890;
        }

        tbody {
            td {
                background: #f5f5f5;
            }
        }
    }

    @include mq('tablet-small') {
        font-size: 15px;

        table {

            th,
            td {
                padding: 10px 15px;
            }
        }
    }

    @include mq('phone-wide') {
        font-size: 14px;
    }
}