/*RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: 1.4em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
}

article, aside, hgroup, header, footer, figure, figcaption, nav, section {
  display: block;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 17px "Gmarket Sans", sans-serif;
  color: #111;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  overflow: visible;
  cursor: pointer;
  line-height: 1;
}

a:link, a:visited, a:hover, a, active, a:focus {
  text-decoration: none;
  cursor: pointer;
  color: #111;
}

legend, caption {
  display: none;
}

textarea {
  resize: vertical;
  font: inherit;
  overflow-y: auto;
}

input, select {
  color: inherit;
  font: inherit;
  vertical-align: middle;
}

address, i {
  font-style: normal;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

img, select, input, button {
  vertical-align: middle;
}

em {
  font-style: normal;
}

input {
  font-family: 'Gmarket Sans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: #acd62e;
}

::selection {
  background: acd62e;
}

/* slick CSS  */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:after, .slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* noto-sans-kr-regular - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular"), url("../font/noto-sans-kr-v12-latin_korean-regular.woff2") format("woff2"), url("../font/noto-sans-kr-v12-latin_korean-regular.woff") format("woff");
}

/* noto-sans-kr-500 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium"), url("../font/noto-sans-kr-v12-latin_korean-500.woff2") format("woff2"), url("../font/noto-sans-kr-v12-latin_korean-500.woff") format("woff");
}

/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold"), url("../font/noto-sans-kr-v12-latin_korean-700.woff2") format("woff2"), url("../font/noto-sans-kr-v12-latin_korean-700.woff") format("woff");
}

::-webkit-input-placeholder {
  color: #999;
  font-size: 15px;
}

:-ms-input-placeholder {
  color: #999;
  font-size: 15px;
}

::-ms-input-placeholder {
  color: #999;
  font-size: 15px;
}

::placeholder {
  color: #999;
  font-size: 15px;
}

.col-navy {
  color: #095379;
}

select {
  background-image: url("../img/arr_sel_gray.png");
  background-repeat: no-repeat;
  background-position: 95% center;
  padding-left: 10px;
  color: #666;
  border-radius: 0;
  background-color: #fff;
  font-size: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.border-box {
  border: 1px solid #ddd;
  padding: 30px;
  background-color: #fff;
}

@media screen and (max-width: 640px) {
  .border-box {
    padding: 20px;
  }
}

.tb-gray {
  border-top: 2px solid #023d5c;
}

.tb-gray table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: center;
}

.tb-gray table td,
.tb-gray table th {
  border-bottom: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
  padding: 15px 10px;
  background-color: #fff;
}

.tb-gray table th {
  background: #f7f7f7;
  color: #333;
}

.tb-gray table tbody th {
  color: #023d5c;
}

.tb-gray table tbody td td {
  color: #666666;
}

@media screen and (max-width: 768px) {
  .tb-gray table {
    font-size: 15px;
  }
}

@media screen and (max-width: 640px) {
  .tb-gray table {
    font-size: 14px;
  }
  .tb-gray table td,
  .tb-gray table th {
    padding: 10px;
  }
}

@media screen and (max-width: 360px) {
  .tb-gray table {
    font-size: 13px;
  }
  .tb-gray table td,
  .tb-gray table th {
    padding: 10px 7px;
  }
}

.tab-list {
  width: 100%;
  border-bottom: 1px solid #023d5c;
}

.tab-list ul {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: -10px;
}

.tab-list ul li {
  display: inline-block;
  width: 245px;
  overflow: hidden;
  letter-spacing: 0;
  vertical-align: bottom;
  border: 1px solid #023d5c;
  border-bottom: none;
  margin: 0 5px;
  cursor: pointer;
}

.tab-list ul li a {
  display: block;
  height: 50px;
  line-height: 50px;
}

.tab-list ul li.on {
  background: #023d5c;
  color: #fff;
}

.tab-list ul li.on a {
  color: #fff;
}

.tab-list.tab-list-2type ul li {
  width: 345px;
}

.tab-list.tab-list-3type ul li {
  width: 245px;
}

.tab-cnt {
  opacity: 0;
  height: 1px;
  position: absolute;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.tab-cnt.on {
  opacity: 1;
  height: auto;
  padding-top: 60px;
  overflow: hidden;
  position: static;
}

@media screen and (max-width: 1290px) {
  .tab-list ul {
    width: auto;
  }
  .tab-cnt {
    width: auto;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media screen and (max-width: 768px) {
  .tab-list.tab-list-2type ul li {
    width: 45%;
    margin: 0 1%;
  }
  .tab-list.tab-list-3type ul li {
    width: 30%;
    margin: 0 1%;
  }
}

@media screen and (max-width: 640px) {
  .tab-list ul li {
    font-size: 14px;
    width: auto;
  }
  .tab-cnt.on {
    padding-top: 30px;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media screen and (max-width: 360px) {
  .tab-list ul li {
    font-size: 13px;
  }
}

.title01 {
  margin-top: 60px;
  font-size: 22px;
  color: #023d5c;
  line-height: 1;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.title01 span {
  font-size: 16px;
  color: #888;
  display: block;
  margin-top: 10px;
}

.line-title {
  border-bottom: 2px solid #000;
  font-size: 25px;
  line-height: 1;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.li-bul li {
  padding-left: 30px;
  position: relative;
  font-size: 18px;
  color: #666666;
  margin-top: 18px;
}

.li-bul li::before {
  content: '';
  width: 13px;
  height: 23px;
  background: url("../img/bul01.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.li-square li {
  padding-left: 15px;
  position: relative;
  font-size: 17px;
  color: #666666;
  line-height: 1.6;
  margin-top: 15px;
  text-align: left;
}

.li-square li:first-child {
  margin-top: 0;
}

.li-square li::before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  left: 0;
  top: 9px;
  background: #043d5d;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 31px;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-container.ciecle .checkmark {
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #efefef;
}

.checkbox-container.ciecle .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  -webkit-transform: none;
          transform: none;
}

.checkbox-container.ciecle input:checked ~ .checkmark {
  background-color: #095379;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #095379;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 31px;
  cursor: pointer;
  font-size: 16px;
  height: 26px;
  line-height: 26px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
}

.radio-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
  background-color: #095379;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

@media screen and (max-width: 640px) {
  .title01 {
    margin-top: 40px;
    font-size: 18px;
    padding-bottom: 15px;
  }
  .title01 span {
    font-size: 15px;
    margin-top: 5px;
  }
  .line-title {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .li-bul li {
    font-size: 16px;
  }
  .li-square li {
    font-size: 15px;
  }
  .checkbox-container,
  .radio-container {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .title01 {
    margin-top: 20px;
  }
  .title01 span {
    font-size: 14px;
  }
  .line-title {
    font-size: 20px;
  }
  .li-bul li {
    font-size: 14px;
  }
  .li-square li {
    font-size: 14px;
  }
  .checkbox-container,
  .radio-container {
    font-size: 14px;
  }
  ::-webkit-input-placeholder {
    font-size: 13px;
  }
  :-ms-input-placeholder {
    font-size: 13px;
  }
  ::-ms-input-placeholder {
    font-size: 13px;
  }
  ::placeholder {
    font-size: 13px;
  }
}

.btn-area {
  margin-top: 30px;
}

.btn-area.btn-center {
  text-align: center;
}

.btn-area button {
  display: inline-block;
}

.btn-apply {
  height: 45px;
  line-height: 45px;
  background: #0060a1;
  padding: 0 40px;
  font-size: 15px;
  color: #fff;
  text-align: center;
}

.btn-apply span::after {
  content: '';
  width: 20px;
  height: 19px;
  background: url("../img/ico_inquiry.png") no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}

.btn-list {
  background: #0060a1;
  height: 45px;
  line-height: 45px;
  padding: 0 40px;
  font-size: 15px;
  color: #fff;
  text-align: center;
}

.btn-list span::before {
  content: '';
  width: 18px;
  height: 15px;
  background: url("../img/ico_list.png") no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

@media screen and (max-width: 640px) {
  .btn-area {
    margin-top: 20px;
  }
  .btn-apply {
    font-size: 14px;
    padding: 0 30px;
  }
  .btn-apply span::after {
    margin-left: 20px;
  }
  .btn-list {
    font-size: 14px;
    padding: 0 30px;
  }
  .btn-list span::before {
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .btn-apply {
    font-size: 13px;
    padding: 0 20px;
  }
  .btn-apply span::after {
    margin-left: 10px;
  }
  .btn-list {
    font-size: 13px;
    padding: 0 20px;
  }
  .btn-list span::before {
    margin-right: 10px;
  }
}

.inquiry-form {
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
  background: #fbfbfb;
  padding-bottom: 30px;
  margin-top: 40px;
}

.inquiry-form .field {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 2% 0 2%;
}

.inquiry-form .field input,
.inquiry-form .field select {
  padding: 4px 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 16px;
  color: #999;
  height: 35px;
  line-height: 32px;
  width: 100%;
}

.inquiry-form .field textarea {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.6;
  color: #999;
  width: 100%;
  min-height: 200px;
}

.inquiry-form .field select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #fff url("../img/arr_sel_gray.png") no-repeat 94% center;
  padding-right: 50px;
}

.inquiry-form .field .at {
  padding: 0 5px;
  color: #999;
}

.inquiry-form .field dt {
  width: 140px;
  position: relative;
}

.inquiry-form .field dt::after {
  content: '';
  width: 1px;
  height: 12px;
  background: #ddd;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.inquiry-form .field dd {
  padding-left: 20px;
  width: calc(100% - 140px);
}

.inquiry-form .field dd .input-box.inline {
  display: inline-block;
}

.inquiry-form .field dd .input-box.input-mid {
  width: 300px;
}

.inquiry-form .field dd .input-box.input-mid input,
.inquiry-form .field dd .input-box.input-mid select {
  width: 100%;
}

@media screen and (max-width: 640px) {
  .inquiry-form .field {
    font-size: 15px;
  }
  .inquiry-form .field input,
  .inquiry-form .field select,
  .inquiry-form .field textarea {
    font-size: 15px;
  }
  .inquiry-form .field dt {
    width: 20%;
  }
  .inquiry-form .field dd {
    padding-left: 20px;
    width: 80%;
  }
  .inquiry-form .field dd .input-box.inline {
    display: inline-block;
    width: 32%;
  }
  .inquiry-form .field dd .input-box.inline input,
  .inquiry-form .field dd .input-box.inline select {
    width: 100%;
  }
  .inquiry-form .field dd .input-box.input-mid {
    width: auto;
  }
  .inquiry-form .field dd .input-box.input-mid input,
  .inquiry-form .field dd .input-box.input-mid select {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .inquiry-form .field {
    font-size: 14px;
  }
  .inquiry-form .field input,
  .inquiry-form .field select {
    font-size: 14px;
  }
  .inquiry-form .field textarea {
    font-size: 14px;
  }
  .inquiry-form .field .at {
    padding: 0 2px;
  }
}

@media screen and (max-width: 414px) {
  .inquiry-form .field {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .inquiry-form .field dt {
    width: 100%;
  }
  .inquiry-form .field dt::after {
    display: none;
  }
  .inquiry-form .field dd {
    width: 100%;
    padding-left: 0;
    margin-top: 10px;
  }
}

.board-gallery {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.board-gallery .gallery-container {
  margin-left: -1%;
  margin-right: -1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.board-gallery .gallery-item {
  width: 25%;
  height: 365px;
  padding: 1%;
  background-color: #fff;
}

.board-gallery .gallery-item a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #e1e1e1;
}

.board-gallery .gallery-item a .thumb {
  height: 235px;
  width: 100%;
  position: relative;
}

.board-gallery .gallery-item a .thumb.thumb-video::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../img/btn_play.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.board-gallery .gallery-item a .thumb img {
  width: 100%;
  height: 100%;
}

.board-gallery .gallery-item a:hover .thumb.thumb-video::before {
  opacity: 1;
}

.board-gallery .gallery-item a .desc {
  padding: 15px 20px;
  position: relative;
  height: calc(100% - 235px);
}

.board-gallery .gallery-item a .desc::after {
  content: '';
  width: 15px;
  height: 15px;
  background: url("../img/ico_bbs_more.png") no-repeat;
  position: absolute;
  right: 20px;
  bottom: 15px;
}

.board-gallery .gallery-item a .desc .title {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.board-gallery .gallery-item a .desc .title.title--new {
  padding-top: 25px;
}

.board-gallery .gallery-item a .desc .title.title--new::before {
  content: '';
  width: 40px;
  height: 17px;
  background: url("../img/ico_new_blue.png") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.board-gallery .gallery-item a .desc .date {
  display: block;
  color: #888;
  font-size: 15px;
  margin-top: 15px;
}

@media screen and (max-width: 1290px) {
  .board-gallery {
    width: auto;
  }
  .board-gallery .gallery-container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .board-gallery .gallery-item {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .board-gallery .gallery-item {
    height: 210px;
  }
  .board-gallery .gallery-item a .thumb {
    height: 120px;
  }
  .board-gallery .gallery-item a .desc {
    height: calc(100% - 120px);
    padding: 10px 15px;
  }
  .board-gallery .gallery-item a .desc .title {
    font-size: 15px;
  }
  .board-gallery .gallery-item a .desc .date {
    font-size: 13px;
  }
}

.board-img-gallery {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.board-img-gallery .gallery-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1%;
  margin-right: -1%;
}

.board-img-gallery .img-item {
  width: 33.33%;
  padding: 1%;
}

.board-img-gallery .img-item a {
  display: block;
  border: 1px solid #e3e3e3;
}

.board-img-gallery .img-item a .thumb {
  height: 210px;
}

.board-img-gallery .img-item a .thumb img {
  width: 100%;
  height: 100%;
}

.board-img-gallery .img-item .desc {
  padding: 20px 20px;
  background: #fff;
}

.board-img-gallery .img-item .desc .title {
  font-size: 19px;
  color: #000;
}

.board-img-gallery .img-item .desc ul {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.board-img-gallery .img-item .desc ul li {
  color: #a6a6a6;
  font-size: 15px;
  width: 50%;
}

.board-img-gallery .img-item .desc ul li.date span::before {
  content: '';
  width: 17px;
  height: 17px;
  background: url("../img/ico_date_gray.png") no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.board-img-gallery .img-item .desc ul li.hits span::before {
  content: '';
  width: 20px;
  height: 13px;
  background: url("../img/ico_hits_gray.png") no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

@media screen and (max-width: 1290px) {
  .board-img-gallery {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .board-img-gallery .gallery-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .board-img-gallery .gallery-container .img-item {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .board-img-gallery .sub-biz-slider .biz-case-slider .slick-slide img {
    height: 300px;
  }
  .board-img-gallery .gallery-container .img-item a .thumb {
    height: 180px;
  }
  .board-img-gallery .gallery-container .img-item .desc {
    padding: 15px;
  }
  .board-img-gallery .gallery-container .img-item .desc .title {
    font-size: 16px;
  }
  .board-img-gallery .gallery-container .img-item .desc ul li {
    font-size: 13px;
  }
}

@media screen and (max-width: 414px) {
  .board-img-gallery .img-item .desc ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .board-img-gallery .img-item .desc ul li {
    width: 100%;
  }
}

.board-status {
  text-align: right;
  font-size: 16px;
  color: #666;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.board-status b {
  color: #0060a1;
}

.board-status span {
  margin-right: 10px;
  line-height: 30px;
  display: inline-block;
}

.board-status .view-option {
  display: inline-block;
}

.board-status .view-option select {
  width: 100px;
  height: 30px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  font-size: 14px;
}

.board-status button {
  width: 30px;
  height: 30px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  background-image: url("../img/ico_sort.png");
  background-repeat: no-repeat;
}

.board-status button.btn-view-list {
  margin-right: -5px;
  background-position: 0 0;
}

.board-status button.btn-view-list.selected {
  background-position: 0 -28px;
}

.board-status button.btn-view-thumb {
  background-position: -28px 0;
}

.board-status button.btn-view-thumb.selected {
  background-position: -28px -28px;
}

@media screen and (max-width: 1290px) {
  .board-status {
    width: auto;
    margin: 0 3%;
  }
}

@media screen and (max-width: 640px) {
  .board-status {
    display: none;
  }
}

.board-search {
  width: 1200px;
  padding: 30px 0;
  border: 1px solid #e1e1e1;
  background: #f2f2f2;
  text-align: center;
  margin: 20px auto;
}

.board-search select {
  width: 130px;
  height: 30px;
  border: 1px solid #e1e1e1;
  font-size: 14px;
}

.board-search .input-search-text {
  display: inline-block;
}

.board-search .input-search-text input {
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
  border: 1px solid #e1e1e1;
  height: 30px;
  width: 180px;
}

.board-search .btn-board-search {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #4b4b4b;
  border: 1px solid #e1e1e1;
  background-image: url("../img/ico_bbs_search.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1290px) {
  .board-search {
    width: auto;
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media screen and (max-width: 414px) {
  .board-search {
    padding: 20px 0;
  }
  .board-search select {
    width: 90px;
  }
  .board-search .input-search-text input {
    width: 130px;
  }
}

.board-list-style {
  font-size: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.board-list-style .board-list-header {
  background: #fafafa;
  border-top: 1px solid #333;
  border-bottom: 1px solid #d7d7d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.board-list-style .board-list-header > p {
  text-align: center;
}

.board-list-style .board-list-body {
  background-color: #fff;
}

.board-list-style .board-list-body .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #d7d7d7;
}

.board-list-style .board-list-body .row.row-notice {
  background-color: #f2f7fa;
}

.board-list-style .board-list-body .row.row-notice .b-title a {
  color: #0060a1;
}

.board-list-style .board-list-body .row .label {
  font-size: 0;
}

.board-list-style .board-list-body .row > p {
  text-align: center;
}

.board-list-style .board-list-body .row > p.b-title--new a {
  padding-left: 45px;
  position: relative;
  color: #0060a1;
}

.board-list-style .board-list-body .row > p.b-title--new a::before {
  content: '';
  width: 40px;
  height: 17px;
  background: url("../img/ico_new_blue.png") no-repeat;
  position: absolute;
  left: 0;
  top: 3px;
}

.board-list-style .board-list-body .row .b-title {
  text-align: left;
}

.board-list-style .board-list-body .row .b-title .attached-file {
  width: 16px;
  height: 18px;
  background: url("../img/ico_board_docs.png") no-repeat;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  margin-left: 5px;
}

.board-list-style.board-list-style--recruit .b-num,
.board-list-style.board-list-style--recruit .b-hits,
.board-list-style.board-list-style--recruit .b-writer {
  width: 10%;
}

.board-list-style.board-list-style--recruit .b-sec {
  width: 15%;
}

.board-list-style.board-list-style--recruit .b-date {
  width: 15%;
}

.board-list-style.board-list-style--recruit .b-title {
  width: 40%;
}

@media screen and (max-width: 1290px) {
  .board-list-style {
    width: auto;
    padding: 0 3%;
  }
}

@media screen and (max-width: 640px) {
  .board-list-style {
    font-size: 14px;
  }
  .board-list-style .board-list-header {
    display: none;
  }
  .board-list-style .board-list-body .row {
    border-top: 1px solid #333;
    margin-top: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .board-list-style .board-list-body .row > p {
    text-align: left;
    padding: 13px 20px 9px 20px;
    color: #777;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .board-list-style .board-list-body .row .label {
    width: 60px;
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin-right: 10px;
    position: relative;
  }
  .board-list-style .board-list-body .row .label::before {
    content: '';
    width: 4px;
    height: 4px;
    background: #333;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
  }
  .board-list-style .board-list-body .row .label::after {
    content: '';
    width: 1px;
    height: 10px;
    background: #777;
    position: absolute;
    right: 0;
    top: 3px;
  }
  .board-list-style .board-list-body .row .b-title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding: 14px 20px;
    background: #f2f2f2;
    border-bottom: 1px solid #d7d7d7;
  }
  .board-list-style .board-list-body .row .b-title.b-title--new a::before {
    top: 0;
  }
  .board-list-style .board-list-body .row.row-notice {
    background-color: #fff;
  }
  .board-list-style .board-list-body .row.row-notice .b-title {
    background-color: #f2f7fa;
  }
  .board-list-style.board-list-style--recruit .board-list-body .b-sec {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 40%;
  }
  .board-list-style.board-list-style--recruit .board-list-body .b-date {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 60%;
  }
  .board-list-style.board-list-style--recruit .board-list-body .b-writer {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 40%;
  }
  .board-list-style.board-list-style--recruit .board-list-body .b-hits {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 60%;
  }
  .board-list-style.board-list-style--recruit .board-list-body .b-num {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .board-list-style {
    font-size: 13px;
  }
  .board-list-style .board-list-body .row .label {
    font-size: 13px;
    width: 50px;
  }
  .board-list-style .board-list-body .row > p {
    padding: 13px 11px 9px 11px;
  }
}

.board-pagination {
  margin-top: 40px;
  letter-spacing: -10px;
  text-align: center;
}

.board-pagination a {
  display: inline-block;
  letter-spacing: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  text-align: center;
}

.board-pagination a:first-child {
  border-left: 1px solid #ccc;
}

.board-pagination a:first-child.on {
  border-left: 1px solid #555;
}

.board-pagination .page-num {
  color: #999;
  border: 1px solid #ccc;
  border-left: none;
}

.board-pagination .page-num.on {
  background: #666;
  border: 1px solid #555;
  color: #fff;
}

.board-view {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.board-view .title {
  padding: 30px;
  font-size: 20px;
}

.board-view .title.title--new::before {
  content: '';
  width: 40px;
  height: 17px;
  background: url("../img/ico_new_skyblue.png") no-repeat;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.board-view .board-postinfo {
  background: #f6f6f6;
  padding: 30px;
  text-align: right;
  border: 1px solid #ddd;
}

.board-view .board-postinfo li {
  display: inline-block;
  font-size: 14px;
  margin-left: 15px;
}

.board-view .board-postinfo li:first-child {
  margin-left: 0;
}

.board-view .board-postinfo li::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.board-view .board-postinfo li.date::before {
  width: 19px;
  height: 19px;
  background-image: url("../img/ico_date.png");
}

.board-view .board-postinfo li.view::before {
  width: 16px;
  height: 23px;
  background-image: url("../img/ico_hits.png");
}

.board-view .board-content {
  padding: 50px;
  line-height: 1.6;
  font-size: 16px;
}

@media screen and (max-width: 1290px) {
  .board-view {
    width: auto;
    padding: 0 5%;
  }
}

@media screen and (max-width: 768px) {
  .board-view {
    padding: 0 2%;
  }
  .board-view .title {
    font-size: 18px;
    padding: 20px;
  }
  .board-view .board-postinfo {
    padding: 20px;
  }
  .board-view .board-content {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 640px) {
  .board-view .title {
    font-size: 16px;
  }
  .board-view .board-postinfo {
    padding: 10px 20px;
  }
  .board-view .board-postinfo li {
    font-size: 13px;
  }
  .board-view .board-content {
    font-size: 14px;
    padding: 20px;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

body {
  width: 100%;
  background-color: #fff;
  background-position: top center;
  background-repeat: no-repeat;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  letter-spacing: -0.7px;
  overflow-x: hidden;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

header {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.2);
}

header::after {
  content: '';
  width: 100%;
  left: 0;
  position: absolute;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  bottom: 0;
  z-index: 1200;
}

header.over {
  background-color: #fff;
}

header.over .logo {
  background-image: url("../img/common/logo_color.png");
}

header.over .m-gnb-open {
  background-color: #2a3890;
}

header.over .mem-lang {
  color: #333;
}

header.over .mem-lang > a {
  color: #333;
}

header.over .mem-lang > a.login span::before {
  background-image: url("../img/common/ico_login.png");
}

header.over .mem-lang > a.login span::after {
  background: #333;
}

header.over .mem-lang .lang-select {
  border: 1px solid #333;
}

header.over .mem-lang .lang-select p::after {
  background-position: -10px 0;
}

header .logo {
  position: absolute;
  left: 160px;
  top: 18px;
  background-image: url("../img/common/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 130px;
  height: 67px;
  z-index: 1101;
}

header .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

header #lnb {
  z-index: 1100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 350% 100%;
  border-bottom: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: background-position 0.5s 0.3s;
  transition: background-position 0.5s 0.3s;
}

header #lnb.over {
  background-image: url("../img/common/lnb_logo_bg.png");
  background-position: 100% 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

header #lnb .lnb_container {
  width: 1200px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;
}

header #lnb .lnb_container > .nav-menu {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header #lnb .lnb_container > .nav-menu > .nav-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12.5%;
  background-repeat: no-repeat;
  background-position: 0 31px;
}

header #lnb .lnb_container > .nav-menu > .nav-item:first-child .sub-nav {
  border-left: 1px solid #ddd;
}

header #lnb .lnb_container > .nav-menu > .nav-item > a {
  overflow: hidden;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 19px;
  line-height: 110px;
}

header #lnb .lnb_container > .nav-menu .sub-nav {
  height: 0;
  opacity: 0;
  -webkit-transition: height .4s ease;
  transition: height .4s ease;
}

header #lnb .lnb_container > .nav-menu.selected .nav-item {
  position: relative;
}

header #lnb .lnb_container > .nav-menu.selected .nav-item > a {
  color: #333;
}

header #lnb .lnb_container > .nav-menu.selected .nav-item.over::before {
  content: '';
  width: 80px;
  height: 5px;
  background: #71bf44;
  position: absolute;
  top: 105px;
  left: 0;
}

header #lnb .lnb_container > .nav-menu.selected .nav-item.over .sub-nav {
  background-color: #2a3890;
}

header #lnb .lnb_container > .nav-menu.selected .nav-item.over .sub-nav a {
  color: #fff;
}

header #lnb .lnb_container > .nav-menu.selected .nav-item.over .sub-nav .sub-nav-3depth a {
  color: #ddd;
}

header #lnb .lnb_container > .nav-menu.selected .sub-nav {
  height: 390px;
  opacity: 1;
  border-right: 1px solid #ddd;
}

header #lnb .lnb_container > .nav-menu.selected .sub-nav a {
  font-size: 15px;
  color: #333;
  padding: 5px 17px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header #lnb .lnb_container > .nav-menu.selected .sub-nav a:hover {
  background: #71bf44;
}

header #lnb .lnb_container > .nav-menu.selected .sub-nav .sub-nav-3depth a {
  font-size: 13px;
  color: #999;
  padding-left: 25px;
}

header .mem-lang {
  position: absolute;
  right: 55px;
  top: 40px;
  z-index: 1100;
  font-size: 14px;
  color: #fff;
}

header .mem-lang > a {
  color: #fff;
}

header .mem-lang > a.login span::before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url("../img/common/ico_login_w.png");
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}

header .mem-lang > a.login span::after {
  content: '';
  width: 1px;
  height: 15px;
  background: #fff;
  display: inline-block;
  margin: 0 10px 0 20px;
  vertical-align: middle;
}

header .mem-lang .lang-select {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  border: 1px solid #fff;
  position: relative;
  width: 75px;
  height: 30px;
  cursor: pointer;
}

header .mem-lang .lang-select p {
  line-height: 30px;
  font-size: 13px;
  padding-left: 10px;
  position: relative;
}

header .mem-lang .lang-select p::after {
  content: '';
  background-image: url("../img/common/lang_arrow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 10px;
  height: 10px;
  display: block;
}

header .mem-lang .lang-select .select-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

header .m-gnb-open {
  display: block !important;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1101;
  background-color: rgba(0, 0, 0, 0.45);
  width: 110px;
  height: 110px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .m-gnb-open span {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  left: 43px;
  background-color: #fff;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

header .m-gnb-open span.line1 {
  top: 49px;
}

header .m-gnb-open span.line2 {
  top: 56px;
}

header .m-gnb-open span.line3 {
  top: 63px;
}

header .m-gnb-open.on span {
  background: #fff;
}

header .m-gnb-open.on span.line1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .m-gnb-open.on span.line2 {
  width: 0;
}

header .m-gnb-open.on span.line3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header #m-gnb {
  position: fixed;
  z-index: 1200;
  top: 0;
  left: -100%;
  padding: 107px 0 0 0;
  width: 300px;
  height: 100%;
  background: #043d5d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
}

header #m-gnb.on {
  display: block;
}

header #m-gnb .m-nav-item a {
  display: block;
  padding: 8px 0;
  text-align: left;
  color: #fff !important;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-left: 20px;
}

header #m-gnb .m-nav-item:first-child a {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

header #m-gnb .m-nav-item .m-sub-nav {
  display: none;
  background-color: #22272c;
  padding: 5px 0;
}

header #m-gnb .m-nav-item .m-sub-nav a {
  font-size: 14px;
  border: none;
  padding: 5px 0 5px 20px;
  color: #fff;
  border-bottom: none;
}

header #m-gnb .m-nav-item .m-sub-nav a:hover {
  color: #159db4 !important;
}

header #m-gnb .m-nav-item .m-sub-nav .depth03 {
  padding-left: 15px;
}

header #m-gnb .m-nav-item .m-sub-nav .depth03 a {
  font-size: 13px;
  color: #999 !important;
}

@media screen and (max-width: 1700px) {
  header .mem-lang {
    right: 20px;
  }
  header #lnb .lnb_container {
    padding-left: 80px;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1440px) {
  header .logo {
    left: 130px;
    top: 29px;
    width: 100px;
    height: 52px;
  }
  header .mem-lang {
    right: 10px;
    top: 40px;
    font-size: 13px;
  }
  header .mem-lang > a.login span::before {
    margin-right: 5px;
  }
  header .mem-lang > a.login span::after {
    margin: 0 5px;
  }
  header .mem-lang .lang-select {
    margin-left: 20px;
  }
  header .mem-lang .lang-select p {
    font-size: 12px;
  }
}

@media screen and (max-width: 1440px) {
  header #lnb {
    display: none;
  }
  header .logo {
    left: 1rem;
  }
  header .m-gnb-open {
    right: 0;
    left: initial;
    background-color: transparent;
  }
  header .mem-lang {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  header {
    background-color: transparent;
  }
}

@media screen and (max-width: 640px) {
  header {
    height: 55px;
  }
  header .logo {
    width: 70px;
    height: 36px;
    top: 10px;
  }
  header .m-gnb-open {
    height: 55px;
    width: 55px;
  }
  header .m-gnb-open span {
    left: 16px;
  }
  header .m-gnb-open span.line1 {
    top: 21px;
  }
  header .m-gnb-open span.line2 {
    top: 28px;
  }
  header .m-gnb-open span.line3 {
    top: 35px;
  }
}

.visual {
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.visual::before {
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  bottom: 130px;
  left: 0;
  position: absolute;
  z-index: 100;
}

.visual .swiper-container {
  width: 100%;
  height: 100%;
}

.visual .swiper-container .arrow {
  width: 100%;
  position: absolute;
  bottom: 130px;
  left: 0;
  z-index: 1200;
}

.visual .swiper-container .arrow .arrow-container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: -10px;
}

.visual .swiper-container .arrow .arrow-container .swiper-button-prev,
.visual .swiper-container .arrow .arrow-container .swiper-button-next {
  cursor: pointer;
  width: 98px;
  height: 98px;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: none;
  background-repeat: no-repeat;
  background-position: center;
}

.visual .swiper-container .arrow .arrow-container .swiper-button-prev {
  background-image: url("../img/main/main_visual_paging_prev.png");
  border-right: none;
}

.visual .swiper-container .arrow .arrow-container .swiper-button-next {
  background-image: url("../img/main/main_visual_paging_next.png");
}

.visual .swiper-pagination {
  position: absolute;
  left: 10%;
  top: 50%;
  z-index: 101;
}

.visual .swiper-pagination span {
  width: 20px;
  height: 2px;
  background: #fff;
  display: block;
  margin: 12px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.visual .swiper-pagination span.swiper-pagination-bullet-active {
  background: #71bf44;
}

.visual .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.visual .swiper-slide.swiper-slide01 {
  background-image: url("../img/main/main_visual01.png");
}

.visual .swiper-slide.swiper-slide02 {
  background-image: url("../img/main/main_visual02.png");
}

.visual .swiper-slide .typo {
  position: absolute;
  width: 1280px;
  left: 50%;
  margin-left: -640px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: left;
  color: #fff;
}

.visual .swiper-slide .typo .line1,
.visual .swiper-slide .typo .line2 {
  font-size: 60px;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.visual .swiper-slide .typo .line1 {
  font-weight: 700;
  -webkit-transition: 1s 0.3s;
  transition: 1s 0.3s;
}

.visual .swiper-slide .typo .line2 {
  -webkit-transition: 1s 0.6s;
  transition: 1s 0.6s;
}

.visual .swiper-slide .typo .line-sub {
  font-size: 18px;
  margin-top: 20px;
  -webkit-transition: 1s 1s;
  transition: 1s 1s;
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.visual .swiper-slide.swiper-slide-active .typo .line1,
.visual .swiper-slide.swiper-slide-active .typo .line2 {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.visual .swiper-slide.swiper-slide-active .typo .line-sub {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 1600px) and (min-width: 1440px) {
  .visual .swiper-pagination {
    left: 2%;
  }
}

@media screen and (max-width: 1440px) {
  .visual::before {
    bottom: 50px;
  }
  .visual .swiper-container .arrow {
    bottom: 50px;
    left: 0;
  }
  .visual .swiper-container .arrow .arrow-container {
    width: 100%;
  }
  .visual .swiper-pagination {
    left: 50%;
    top: 85%;
  }
  .visual .swiper-pagination span {
    display: inline-block;
    margin: 0 5px;
  }
  .visual .swiper-slide .typo {
    width: 100%;
    left: 0;
    padding: 0 5%;
    margin: 0;
  }
}

@media screen and (max-width: 1280px) {
  .visual .swiper-container .arrow .arrow-container {
    width: auto;
  }
}

@media screen and (max-width: 640px) {
  .visual {
    height: 60%;
    height: 35rem;
  }
  .visual::before {
    display: none;
  }
  .visual .swiper-slide .typo .line1,
  .visual .swiper-slide .typo .line2 {
    font-size: 40px;
  }
  .visual .swiper-slide .typo .line-sub {
    font-size: 15px;
  }
  .visual .swiper-container .arrow {
    display: none;
  }
  .visual .swiper-pagination {
    top: 90%;
  }
}

.business {
  background-color: #f0f0f0;
  padding: 100px 0;
}

.business .section-container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.business .business--cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 30px;
}

.business .business--cnt:nth-of-type(1) {
  margin-top: 0;
}

.business .business--cnt.business--top .item01 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.business .business--cnt.business--top .item02 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.business .business--cnt.business--top .business-title {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.business .business--cnt .item {
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.business .business--cnt .item a {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  padding: 50px;
}

.business .business--cnt .item a::before {
  content: '';
  width: 90%;
  height: 90%;
  position: absolute;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  left: 5%;
  top: 5%;
}

.business .business--cnt .item a:hover {
  background-size: 110% 110%;
}

.business .business--cnt .item.item01 a {
  background-image: url("../img/main/business_img01.png");
}

.business .business--cnt .item.item02 a {
  background-image: url("../img/main/business_img02.png");
}

.business .business--cnt .item.item03 a {
  background-image: url("../img/main/business_img03.png");
}

.business .business--cnt .item.item04 a {
  background-image: url("../img/main/business_img04.png");
}

.business .business--cnt .item.business-title {
  position: relative;
}

.business .business--cnt .item.business-title h3 {
  color: #07216c;
  font-size: 38px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 700;
}

.business .business--cnt .item.business-title h3 p {
  color: #666;
  font-size: 17px;
}

.business .business--cnt .item .item-title {
  font-size: 28px;
  text-transform: uppercase;
  line-height: 1.2;
}

.business .business--cnt .item .item-text {
  font-size: 15px;
  margin-top: 20px;
}

.business .business--cnt .item .ico-more {
  width: 76px;
  height: 14px;
  background: url("../img/main/arr_right.png") no-repeat;
  position: absolute;
  bottom: 55px;
  right: 45px;
}

@media screen and (max-width: 1290px) {
  .business .section-container {
    width: auto;
    padding: 0 2%;
  }
  .business .business--cnt .item {
    width: 32%;
  }
}

@media screen and (max-width: 1024px) {
  .business .business--cnt {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .business .business--cnt .item a {
    padding: 35px;
  }
  .business .business--cnt .item .item-title {
    font-size: 25px;
  }
  .business .business--cnt .item .item-text {
    font-size: 14px;
  }
  .business .business--cnt .item.business-title {
    width: 100%;
    height: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 20px;
  }
  .business .business--cnt .item.business-title h3 {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .business .business--cnt .item.item01, .business .business--cnt .item.item02 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 49%;
  }
  .business .business--cnt.business--btm {
    margin-top: 20px;
  }
  .business .business--cnt.business--btm .item-empty {
    display: none;
  }
  .business .business--cnt.business--btm .item {
    width: 49%;
  }
}

@media screen and (max-width: 1024px) {
  .business .business--cnt .item a {
    padding: 50px;
  }
  .business .business--cnt .item a::before {
    height: 80%;
    top: 10%;
  }
  .business .business--cnt .item.item01, .business .business--cnt .item.item02 {
    width: 100%;
    height: 250px;
    margin: 1px;
  }
  .business .business--cnt.business--btm {
    margin-top: 0;
  }
  .business .business--cnt.business--btm .item {
    width: 100%;
    height: 250px;
    margin: 1px;
  }
}

.product {
  padding: 110px 0 70px 0;
  position: relative;
}

.product::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  background: #2a3890;
  display: block;
}

.product::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/main/product_bg.png") no-repeat;
  background-size: cover;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.product .section-container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;
}

.product .section-title {
  font-size: 45px;
  color: #2a3890;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
}

.product .section-title::before {
  content: '';
  width: 25px;
  height: 41px;
  background: url("../img/main/section_title_oblique.png") no-repeat;
  display: block;
  margin: 0 auto 20px auto;
}

.product .product-tab {
  margin-top: 30px;
}

.product .product-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product .product-tab ul li {
  width: 24.8%;
}

.product .product-tab ul li a {
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: block;
  background: #eeeeee;
  color: #2a3890;
  text-transform: uppercase;
}

.product .product-tab ul li.on a {
  background: #2a3890;
  color: #fff;
}

.product .product-cnt {
  margin: 60px 40px 0 40px;
  overflow: hidden;
  display: none;
}

.product .product-cnt.on {
  display: block;
}

.product .product-cnt .product-thumb {
  float: left;
  width: 740px;
}

.product .product-cnt .swiper-container {
  margin-left: 50px;
  float: right;
  width: calc(100% - 790px);
}

.product .product-cnt .swiper-container .swiper-slide {
  position: relative;
}

.product .product-cnt .product-title {
  font-size: 45px;
  font-weight: 400;
  line-height: 1.1;
  padding-top: 10px;
  text-transform: uppercase;
}

.product .product-cnt .product-title::after {
  content: '';
  width: 52px;
  height: 1px;
  background: #333;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}

.product .product-cnt dl dt {
  color: #2a3890;
  font-size: 22px;
  font-weight: 500;
}

.product .product-cnt dl dd {
  color: #666;
  font-size: 16px;
  letter-spacing: -1px;
}

.product .product-cnt .product-img {
  text-align: center;
  margin-top: 70px;
}

.product .product-cnt .btn-detail-product {
  width: 180px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #2a3890;
  border: 1px solid #2a3890;
  display: block;
  text-transform: uppercase;
  margin: 55px auto 0 auto;
}

.product .product-cnt .swiper-button-prev,
.product .product-cnt .swiper-button-next {
  position: absolute;
  width: 17px;
  height: 28px;
  background-repeat: no-repeat;
  top: 60%;
  z-index: 100;
}

.product .product-cnt .swiper-button-prev {
  background-image: url("../img/main/product_paging_prev.png");
  left: 0;
}

.product .product-cnt .swiper-button-next {
  background-image: url("../img/main/product_paging_next.png");
  right: 0;
}

@media screen and (max-width: 1290px) {
  .product .section-container {
    width: 100%;
  }
  .product .product-cnt .product-thumb {
    width: 50%;
    overflow: hidden;
  }
  .product .product-cnt .swiper-container {
    width: 47%;
    margin-left: 3%;
  }
}

@media screen and (max-width: 1024px) {
  .product {
    padding: 80px 0;
  }
  .product .product-tab {
    margin: 0 3%;
    margin-top: 30px;
  }
  .product .product-tab ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product .product-tab ul li {
    width: 49.6%;
    margin: 3px 0;
  }
  .product .product-cnt {
    margin: 0 3%;
    margin-top: 30px;
    border: 1px solid #2a3890;
    background-color: #fff;
    padding: 40px;
  }
  .product .product-cnt .product-title::after {
    display: none;
  }
  .product .product-cnt .product-img {
    margin-top: 30px;
  }
  .product .product-cnt dl {
    margin-top: 10px;
  }
  .product .product-cnt .product-thumb {
    display: none;
  }
  .product .product-cnt .swiper-container {
    margin: 0;
    width: 100%;
    float: none;
  }
}

@media screen and (max-width: 640px) {
  .product {
    padding: 40px 0;
  }
  .product .section-title {
    font-size: 40px;
  }
  .product .product-tab ul li a {
    font-size: 15px;
  }
  .product .product-cnt {
    padding: 2rem;
  }
  .product .product-cnt .product-title {
    font-size: 2.2rem;
  }
  .product .product-cnt dl dt {
    font-size: 18px;
  }
  .product .product-cnt dl dd {
    font-size: 14px;
  }
  .product .product-cnt .btn-detail-product {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 360px) {
  .product .section-title {
    font-size: 35px;
  }
  .product .product-tab ul li a {
    line-height: 45px;
    height: 45px;
    font-size: 13px;
  }
}

.why {
  background: url("../img/main/why_bg.png") no-repeat center;
  background-size: cover;
  padding: 130px 0;
  text-align: center;
  color: #fff;
}

.why .section-title {
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -1px;
}

.why .section-title b {
  font-weight: 700;
}

.why .section-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.why ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}

.why ul li {
  width: 25%;
  position: relative;
}

.why ul li::before {
  content: '';
  width: 1px;
  height: 150px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  background: #fff;
}

.why ul li:first-child::before {
  display: none;
}

.why ul li p {
  font-size: 20px;
}

.why ul li p::before {
  content: '';
  display: block;
  width: 84px;
  height: 75px;
  margin: 0 auto 30px auto;
  background-image: url("../img/main/why_ico01.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.why ul li p.why02::before {
  background-image: url("../img/main/why_ico02.png");
}

.why ul li p.why03::before {
  background-image: url("../img/main/why_ico03.png");
}

.why ul li p.why04::before {
  background-image: url("../img/main/why_ico04.png");
}

@media screen and (max-width: 1290px) {
  .why .section-container {
    width: auto;
  }
}

@media screen and (max-width: 1024px) {
  .why {
    padding: 80px 0;
  }
  .why .section-title {
    font-size: 40px;
  }
  .why ul {
    margin-top: 50px;
  }
  .why ul li p {
    font-size: 18px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 640px) {
  .why {
    padding: 60px 3%;
  }
  .why .section-title {
    font-size: 35px;
  }
  .why ul {
    margin-top: 30px;
  }
  .why ul li {
    padding: 0 10px;
  }
  .why ul li p {
    font-size: 16px;
    word-break: break-all;
  }
  .why ul li p br {
    display: none;
  }
  .why ul li p::before {
    width: 64px;
    height: 57px;
  }
}

.awards {
  padding: 90px 0;
  background: #f0f0f0;
  position: relative;
}

.awards .swiper-button-prev,
.awards .swiper-button-next {
  position: absolute;
  top: 60%;
  width: 17px;
  height: 28px;
  background-repeat: no-repeat;
  display: block;
}

.awards .swiper-button-prev {
  left: 20px;
  background: url("../img/main/product_paging_prev.png");
}

.awards .swiper-button-next {
  right: 20px;
  background: url("../img/main/product_paging_next.png");
}

.awards .section-container {
  margin-top: 40px;
  text-align: center;
}

.awards .section-container .swiper-wrapper {
  display: block;
}

.awards .section-container .swiper-container {
  letter-spacing: -10px;
}

.awards .section-container .swiper-container .swiper-slide {
  width: 370px;
  display: inline-block;
  letter-spacing: 0;
  margin: 0 17px;
}

.awards .section-container .swiper-container .swiper-slide .awards-img {
  border: 1px solid #ededed;
}

.awards .section-container .swiper-container .swiper-slide .awards-txt {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background: #07216c;
}

.awards .section-title {
  font-size: 45px;
  color: #2a3890;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
}

.awards .section-title::before {
  content: '';
  width: 25px;
  height: 41px;
  background: url("../img/main/section_title_oblique.png") no-repeat;
  display: block;
  margin: 0 auto 20px auto;
}

@media screen and (max-width: 1290px) {
  .awards {
    padding-left: 60px;
    padding-right: 60px;
  }
  .awards .section-container .swiper-container .swiper-slide {
    width: 31%;
    margin: 1%;
  }
  .awards .section-container .swiper-container .swiper-slide img {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .awards .section-container .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .awards .section-container .swiper-wrapper .swiper-slide {
    margin: 0;
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */