#nnFooter {
    background: #fff;
}

#nnFooter .nn-line {
    background: #d4d4d4;
    height:1px;
}

#nnFooter .nn-container {
    padding-top: 20px;
    padding-bottom:20px;
}
#nnFooter .nn-logo {
    background: url(../img/common/logo_pdm.png) 50% 50% no-repeat;
    width: 170px;
    height: 55px;
    position: absolute;
    left: 0;
    top: 40px;
}

#nnFooter .nn-logo a {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    width: 100%;
    height:100%;
}

#nnFooter .nn-footer-menu {
    text-align: left; 
    font-size:13px;
    color: #979797;
    margin:0 130px 10px  185px;
    
}

#nnFooter .nn-footer-menu a {
    color: #333;
}

#nnFooter .nn-footer-menu a:hover,
#nnFooter .nn-footer-menu a:active {
    color: #2385ff;
}

#nnFooter .nn-footer-menu .nn-split {
    margin:0 5px;
}

#nnFooter .nn-footer-menu a.nn-blue {
    color: #509eff;
}

#nnFooter .nn-info {
    text-align: left;
    font-size:13px;
    line-height:1.5;
    color: #666;
    margin:0 130px 12px 185px;
    letter-spacing: -0.6px; 
}

#nnFooter .nn-copy {
    font-size:13px;
    text-align: left;
    margin:0 130px 0 185px;
}

#nnFooter .nn-goodContent a {
	background: url(../img/common/logo_goodContent_gray.png) 100% 50% no-repeat;
    width: 38px;
    height: 45px;
    position: absolute;
    right: 56px;
    top: 37px;
    font-size:0;
    text-indent: -999em;
    display: block;
}
#nnFooter .nn-epub a {
	background: url(../img/common/logo_epub.png) 100% 50% no-repeat;
	width: 40px;
	height: 41px;
	position: absolute;
	right: 0;
	top: 37px;
	font-size:0;
	text-indent: -999em;
	display: block;
}
/*Good Contents Modal*/
#nnFooter .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10052;
    display: none;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto !important;
    background: rgba(0,0,0, 0.4);
    width: 100%;
    height: 100%;
}

#nnFooter .modal .contsPop {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 750px;
    height: 954px;
    background: #fff;
    box-shadow: 3px 3px 10px #333333;
    margin-top: 32px;
    border: 3px solid #fff;
}

/* E-Publishing Mark */
#nnFooter #ePublishing .contsPop {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 656px;
    height: 851px;
    background: #fff;
    box-shadow: 3px 3px 10px #333333;
    margin-top: 32px;
    border: 3px solid #fff;
} 

#nnFooter .modal .close-btn {
    position: absolute;
    z-index:2;
    top: -26px;
    right: -35px;
    width: 74px;
    height: 74px;
}

