a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #222;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

input,
select,
textarea {
  border-color: #ddd;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html {
  font-size: 62.5%;
}

html body {
  font-family: 'Nanum Gothic', 'dotum', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  min-width: 1100px;
  margin: 0 auto;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

@-webkit-keyframes scrollDown {
  0% {
    background-position: center 50%;
  }
  100% {
    background-position: center 70%;
  }
}

@keyframes scrollDown {
  0% {
    background-position: center 50%;
  }
  100% {
    background-position: center 70%;
  }
}

@-webkit-keyframes circleMovement01 {
  0% {
    left: 280px;
    top: -125px;
  }
  50% {
    left: 200px;
    top: -100px;
  }
  100% {
    left: 230px;
    top: -15px;
  }
}

@keyframes circleMovement01 {
  0% {
    left: 280px;
    top: -125px;
  }
  50% {
    left: 200px;
    top: -100px;
  }
  100% {
    left: 230px;
    top: -15px;
  }
}

@-webkit-keyframes circleMovement02 {
  0% {
    left: 100px;
    top: 260px;
  }
  100% {
    left: 150px;
    top: 300px;
  }
}

@keyframes circleMovement02 {
  0% {
    left: 100px;
    top: 260px;
  }
  100% {
    left: 150px;
    top: 300px;
  }
}

@-webkit-keyframes circleMovement03 {
  0% {
    left: 100px;
    bottom: 50px;
  }
  100% {
    left: 150px;
    bottom: 100px;
  }
}

@keyframes circleMovement03 {
  0% {
    left: 100px;
    bottom: 50px;
  }
  100% {
    left: 150px;
    bottom: 100px;
  }
}

@-webkit-keyframes circleMovement04 {
  0% {
    right: 265px;
    top: 50px;
  }
  100% {
    right: 285px;
    top: 50px;
  }
}

@keyframes circleMovement04 {
  0% {
    right: 265px;
    top: 50px;
  }
  100% {
    right: 285px;
    top: 50px;
  }
}

@-webkit-keyframes circleMovement05 {
  0% {
    right: 110px;
    bottom: 180px;
  }
  100% {
    right: 120px;
    bottom: 140px;
  }
}

@keyframes circleMovement05 {
  0% {
    right: 110px;
    bottom: 180px;
  }
  100% {
    right: 120px;
    bottom: 140px;
  }
}

@-webkit-keyframes circleMovement06 {
  0% {
    right: 350px;
    bottom: -170px;
  }
  100% {
    right: 300px;
    bottom: -150px;
  }
}

@keyframes circleMovement06 {
  0% {
    right: 350px;
    bottom: -170px;
  }
  100% {
    right: 300px;
    bottom: -150px;
  }
}

header {
  background: #fbfbfb;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  z-index: 8888;
}

header .header-top {
  height: 64px;
  line-height: 64px;
  text-align: right;
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

header .header-top .logo {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 97px;
  height: 39px;
  position: absolute;
  top: 13px;
  left: 0;
}

header .header-top a {
  display: inline-block;
  position: relative;
}

header .header-top a::before {
  content: '';
  width: 1px;
  height: 10px;
  background: #ddd;
  display: inline-block;
  margin: 0 10px;
}

header .header-top a:nth-of-type(1)::before {
  display: none;
}

#fullpage .section {
  text-align: center;
  position: relative;
}

#fullpage .section .scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 190px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-image: url("../img/scroll_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: scrollDown 1s infinite alternate;
          animation: scrollDown 1s infinite alternate;
}

#fullpage .section .scroll-top {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 190px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-image: url("../img/scroll_top.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: scrollDown 1s infinite alternate;
          animation: scrollDown 1s infinite alternate;
}

#fullpage .section .section-container {
  text-align: center;
  position: relative;
  z-index: 100;
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

#fullpage_nav {
  position: fixed;
  top: 50%;
  right: 50px;
  z-index: 1000;
  margin-top: -90px;
  text-align: right;
}

#fullpage_nav::after {
  position: absolute;
  top: 10px;
  bottom: 15px;
  right: 17px;
  z-index: 0;
  width: 1px;
  background: #b4b4b4;
  content: '';
}

#fullpage_nav li {
  position: relative;
  z-index: 2;
}

#fullpage_nav li.active span {
  color: #fff;
  background: #ff0014;
  font-weight: 700;
}

#fullpage_nav li.active span:after {
  background: #fff;
}

#fullpage_nav li + li {
  margin-top: 5px;
}

#fullpage_nav span {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 35px;
  border-radius: 35px;
  font-size: 15px;
  color: #4f4f4f;
  line-height: 35px;
  font-size: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'Nanum Gothic';
}

#fullpage_nav span:after {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 15px;
  height: 15px;
  margin-top: -8px;
  border-radius: 50%;
  background: #4f4f4f;
  content: '';
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section01 {
  z-index: 10;
  overflow: hidden;
  background-image: url("../img/section01_background.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
}

.section01 .scroll-down {
  background-color: #ffef6e;
}

.section01 .tit01 {
  background-image: url("../img/section01_tit_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 806px;
  height: 128px;
  margin: 0 auto;
}

.section01 .tit02 {
  background-image: url("../img/section01_tit_02.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 572px;
  height: 48px;
  margin: 30px auto 0;
}

.section01 .cont-wrap {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section01 .cont-wrap .item {
  margin-left: 13px;
  width: 178px;
  height: 246px;
  background-image: url("../img/section01_cont_01.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.section01 .cont-wrap .item--01 {
  margin-left: 0;
}

.section01 .cont-wrap .item--02 {
  background-position: -178px 0;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  width: 180px;
}

.section01 .cont-wrap .item--03 {
  background-position: -358px 0;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  width: 179px;
}

.section01 .cont-wrap .item--04 {
  background-position: -537px 0;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  width: 179px;
}

.section01 .cont-wrap .item--05 {
  background-position: -716px 0;
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
  width: 179px;
}

.section01 .cont-wrap .item--06 {
  background-position: -895px 0;
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
  width: 154px;
}

.section01.onSlide01 .cont-wrap .item {
  opacity: 1;
}

.section02 {
  background-color: #ffef6e;
  overflow: hidden;
}

.section02 .scroll-down {
  background-color: #ffffff;
}

.section02 .tit01 {
  background-image: url("../img/section02_tit_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 712px;
  height: 123px;
  margin: 0 auto;
  position: relative;
}

.section02 .tit01::before {
  content: '';
  display: block;
  background: url("../img/section02_badge.png") no-repeat;
  width: 161px;
  height: 122px;
  position: absolute;
  left: 0;
  top: -78px;
}

.section02 .cir-move {
  display: block;
  position: absolute;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section02 .cir-move-01 {
  left: 280px;
  top: -125px;
  border: 50px solid #f6e55e;
  width: 281px;
  height: 281px;
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-animation: circleMovement01 10s infinite alternate linear;
          animation: circleMovement01 10s infinite alternate linear;
}

.section02 .cir-move-02 {
  left: 100px;
  top: 260px;
  border: 20px solid #f9e863;
  width: 125px;
  height: 125px;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-animation: circleMovement02 8s infinite alternate linear;
          animation: circleMovement02 8s infinite alternate linear;
}

.section02 .cir-move-03 {
  left: 100px;
  bottom: 50px;
  border: 40px solid #f5e45c;
  width: 220px;
  height: 220px;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-animation: circleMovement03 2s infinite alternate linear;
          animation: circleMovement03 2s infinite alternate linear;
}

.section02 .cir-move-04 {
  right: 265px;
  top: 50px;
  border: 35px solid #f5e45c;
  width: 190px;
  height: 190px;
  -webkit-animation: circleMovement04 1s infinite alternate linear;
          animation: circleMovement04 1s infinite alternate linear;
}

.section02 .cir-move-05 {
  right: 110px;
  bottom: 180px;
  border: 40px solid #f9e863;
  width: 180px;
  height: 180px;
  -webkit-animation: circleMovement05 5s infinite alternate linear;
          animation: circleMovement05 5s infinite alternate linear;
}

.section02 .cir-move-06 {
  right: 350px;
  bottom: -170px;
  border: 55px solid #faea66;
  width: 300px;
  height: 300px;
  -webkit-animation: circleMovement06 7s infinite alternate linear;
          animation: circleMovement06 7s infinite alternate linear;
}

.section02 .slide-banner-wrap {
  width: 100%;
  height: 430px;
  margin-top: 70px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section02 .slide-banner-wrap .slide-item {
  height: 100%;
  width: 94px;
  float: left;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-left: -1px;
  cursor: pointer;
}

.section02 .slide-banner-wrap .slide-item::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/section02_cont_line.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1px;
  height: 430px;
  right: 0;
  top: 0;
  bottom: 0;
}

.section02 .slide-banner-wrap .slide-item::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/section02_cont_line.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1px;
  height: 430px;
  left: 0;
  top: 0;
  bottom: 0;
}

.section02 .slide-banner-wrap .slide-item .item-off {
  width: 94px;
  height: 100%;
  opacity: 1;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.section02 .slide-banner-wrap .slide-item .item-on {
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.section02 .slide-banner-wrap .slide-item.on {
  width: 650px;
}

.section02 .slide-banner-wrap .slide-item.on .item-off {
  opacity: 0;
}

.section02 .slide-banner-wrap .slide-item.on .item-on {
  opacity: 1;
  display: block;
}

.section02 .slide-banner-wrap .slide-item.slide-item--01 {
  margin-left: 0;
}

.section02 .slide-banner-wrap .slide-item.slide-item--01.on {
  border-left: none;
}

.section02 .slide-banner-wrap .slide-item.slide-item--01 .item-on {
  background: url("../img/section02_cont_01_cnt_on.png") no-repeat 31px top;
  height: 430px;
  background-position: 31px top;
}

.section02 .slide-banner-wrap .slide-item.slide-item--01 .item-on .btn-download {
  position: absolute;
  bottom: 35px;
  left: 31px;
  background-image: url("../img/section02_cont_01_cnt_btn.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 52px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section02 .slide-banner-wrap .slide-item.slide-item--01 .item-on .btn-download:hover {
  background-image: url("../img/section02_cont_01_cnt_btn_over.png");
}

.section02 .slide-banner-wrap .slide-item.slide-item--01 .item-off {
  background: url("../img/section02_cont_01_tit_off.png") no-repeat center 25px;
}

.section02 .slide-banner-wrap .slide-item.slide-item--02 .item-on {
  background: url("../img/section02_cont_02_cnt_on.png") no-repeat 31px top;
}

.section02 .slide-banner-wrap .slide-item.slide-item--02 .item-on .btn-download2 {
  position: absolute;
  bottom: 35px;
  left: 31px;
  background-image: url("../img/section02_cont_01_cnt_btn2.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 220px;
  height: 52px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section02 .slide-banner-wrap .slide-item.slide-item--02 .item-on .btn-download2:hover {
  background-image: url("../img/section02_cont_01_cnt_btn2_over.png");
}

.section02 .slide-banner-wrap .slide-item.slide-item--02 .item-on .btn-download3 {
  position: absolute;
  bottom: 35px;
  left: 260px;
  background-image: url("../img/section02_cont_01_cnt_btn3.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 220px;
  height: 52px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section02 .slide-banner-wrap .slide-item.slide-item--02 .item-on .btn-download3:hover {
  background-image: url("../img/section02_cont_01_cnt_btn3_over.png");
}

.section02 .slide-banner-wrap .slide-item.slide-item--02 .item-off {
  background: url("../img/section02_cont_02_tit_off.png") no-repeat center 25px;
}

.section02 .slide-banner-wrap .slide-item.slide-item--03 .item-on {
  background: url("../img/section02_cont_03_cnt_on.png") no-repeat 31px top;
}

.section02 .slide-banner-wrap .slide-item.slide-item--03 .item-off {
  background: url("../img/section02_cont_03_tit_off.png") no-repeat center 25px;
}

.section02 .slide-banner-wrap .slide-item.slide-item--04 .item-on {
  background: url("../img/section02_cont_04_cnt_on.png") no-repeat 31px top;
}

.section02 .slide-banner-wrap .slide-item.slide-item--04 .item-off {
  background: url("../img/section02_cont_04_tit_off.png") no-repeat center 25px;
}

.section02 .slide-banner-wrap .slide-item.slide-item--05 .item-on {
  background: url("../img/section02_cont_05_cnt_on.png") no-repeat 31px top;
}

.section02 .slide-banner-wrap .slide-item.slide-item--05 .item-off {
  background: url("../img/section02_cont_05_tit_off.png") no-repeat center 25px;
}

.section02 .slide-banner-wrap .slide-item.slide-item--06 .item-on {
  background: url("../img/section02_cont_06_cnt_on.png") no-repeat 31px top;
}

.section02 .slide-banner-wrap .slide-item.slide-item--06 .item-off {
  background: url("../img/section02_cont_06_tit_off.png") no-repeat center 25px;
}

.section02 .preview {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4000;
}

.section02 .preview .preview-inner {
  width: 970px;
  height: 645px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #000;
  -webkit-box-shadow: 5px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 2px 1px rgba(0, 0, 0, 0.1);
  z-index: 5000;
}

.section02 .preview img {
  display: none;
  width: 970px;
  height: 645px;
}

.section02 .preview .btn-close {
  position: absolute;
  top: -30px;
  right: 0;
  background-image: url("../img/btn-close-preview.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.section03 {
  background-color: #fff;
  background-image: url("../img/section03_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.section03 .scroll-down {
  background-color: #c3dcff;
}

.section03 .tit01 {
  background-image: url("../img/section03_tit_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 432px;
  height: 57px;
  margin: 0 auto;
}

.section03 .tit02 {
  background-image: url("../img/section03_tit_02.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 752px;
  height: 49px;
  margin: 30px auto 0;
}

.section03 .tit03 {
  background-image: url("../img/section03_tit_03.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 691px;
  height: 50px;
  margin: 40px auto 0;
}

.section03 .tit04 {
  background-image: url("../img/section03_tit_04.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 520px;
  height: 47px;
  margin: 25px auto 0;
}

.section03 .cont-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.section03 .cont-flex-box:nth-of-type(2) {
  margin-top: 40px;
}

.section03 .cont-flex-box .item {
  margin-left: 20px;
}

.section03 .cont-flex-box .item:nth-of-type(1) {
  margin-left: 0;
}

.section03 .cont-flex-box .item01 {
  background-image: url("../img/section03_botari_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 270px;
  height: 231px;
}

.section03 .cont-flex-box .item02 {
  background-image: url("../img/section03_botari_02.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 301px;
  height: 231px;
}

.section03 .cont-flex-box .item03 {
  background-image: url("../img/section03_botari_03.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 279px;
  height: 231px;
}

.section03 .cont-flex-box .item04 {
  background-image: url("../img/section03_botari_04.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 167px;
  height: 182px;
}

.section03 .cont-flex-box .item05 {
  background-image: url("../img/section03_botari_05.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 167px;
  height: 182px;
}

.section04 {
  background-color: #c3dcff;
  background-image: url("../img/section04_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.section04 .scroll-down {
  background-color: #e2f2f8;
}

.section04 .tit01 {
  background-image: url("../img/section04_tit_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 906px;
  height: 59px;
  margin: 0 auto;
}

.section04 .tit02 {
  background-image: url("../img/section04_tit_02.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 408px;
  height: 48px;
  margin: 30px auto 0;
}

.section04 .cont-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.section04 .cont-wrap .item {
  margin-left: 35px;
}

.section04 .cont-wrap .item:nth-of-type(1) {
  margin-left: 0;
}

.section04 .cont-wrap .item01 {
  background-image: url("../img/section04_cont_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 513px;
  height: 570px;
}

.section04 .cont-wrap .item02 {
  background-image: url("../img/section04_cont_02.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 513px;
  height: 570px;
}

.section05 {
  background-color: #e2f2f8;
  overflow: hidden;
  background-image: url("../img/section05_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section05 .scroll-down {
  background-color: #fff;
}

.section05 .tit01 {
  background-image: url("../img/section05_tit_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 708px;
  height: 58px;
  margin: 0 auto;
}

.section05 .tit02 {
  background-image: url("../img/section05_tit_02.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 528px;
  height: 48px;
  margin: 30px auto 0;
}

.section05 .cont-wrap {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section05 .cont-wrap .item {
  margin-left: 20px;
  width: 150px;
  height: 237px;
  background-image: url("../img/section05_cont_01.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.section05 .cont-wrap .item--01 {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.section05 .cont-wrap .item--02 {
  background-position: -150px 0;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.section05 .cont-wrap .item--03 {
  background-position: -300px 0;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.section05 .cont-wrap .item--04 {
  background-position: -450px 0;
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.section05 .cont-wrap .item--05 {
  background-position: -600px 0;
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.section05 .cont-wrap .item--06 {
  width: 157px;
  margin-left: 15px;
  background-position: -750px 0;
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

.section05 .cont-wrap .item--06::after {
  display: none;
}

.section05 .btn-area {
  margin-top: 30px;
  text-align: center;
  letter-spacing: -10px;
}

.section05 .btn-area > a {
  display: inline-block;
  letter-spacing: 0;
}

.section05 .btn-area .btn-applyMembership {
  background-image: url("../img/section05_cont_btn_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 320px;
  height: 70px;
  margin-right: 10px;
}

.section05 .btn-area .btn-viewContents {
  background-image: url("../img/section05_cont_btn_02.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 320px;
  height: 70px;
}

.section05.active .cont-wrap .item {
  opacity: 1;
}

.section06 {
  background-color: #fff;
  overflow: hidden;
  background-image: url("../img/section06_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section06 .scroll-down {
  background-color: #eef1ed;
}

.section06 .tit01 {
  background-image: url("../img/section06_tit_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 671px;
  height: 123px;
  margin: 0 auto;
  position: relative;
}

.section06 .tit01::before {
  content: '';
  display: block;
  background: url("../img/section06_badge.png") no-repeat;
  width: 161px;
  height: 122px;
  position: absolute;
  left: -22px;
  top: -78px;
}

.section06 .tit02 {
  background-image: url("../img/section06_tit_02.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 388px;
  height: 21px;
  margin: 30px auto 0;
}

.section06 .plan-download {
  margin-top: 40px;
  border: 1px solid #cecece;
}

.section06 .plan-top-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #f6f6f6;
}

.section06 .plan-top-tab li {
  width: 14.28%;
  height: 60px;
  border-left: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  cursor: pointer;
}

.section06 .plan-top-tab li span {
  display: block;
  margin: 0 auto;
  height: 16px;
  margin-top: 23px;
  background-image: url("../img/section06_tab_title.png");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}

.section06 .plan-top-tab li.on {
  background-color: #fff;
  border-bottom-color: #fff;
}

.section06 .plan-top-tab li.on span {
  background-position-y: -16px !important;
}

.section06 .plan-top-tab li.tab01 span {
  width: 82px;
}

.section06 .plan-top-tab li.tab02 span {
  width: 78px;
  background-position: -82px 0;
}

.section06 .plan-top-tab li.tab03 span {
  width: 63px;
  background-position: -160px 0;
}

.section06 .plan-top-tab li.tab04 span {
  width: 94px;
  background-position: -223px 0;
}

.section06 .plan-top-tab li.tab05 span {
  width: 62px;
  background-position: -317px 0;
}

.section06 .plan-top-tab li.tab06 span {
  width: 61px;
  background-position: -379px 0;
}

.section06 .plan-top-tab li.tab07 span {
  width: 62px;
  background-position: -440px 0;
}

.section06 .plan-top-tab li:first-child {
  border-left: 0;
}

.section06 .plan-cont {
  height: 175px;
  opacity: 0;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  letter-spacing: -10px;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #fff;
}

.section06 .plan-cont .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.section06 .plan-cont .normal-container {
  display: block;
}

.section06 .plan-cont .normal-container:nth-of-type(1) {
  margin-bottom: 10px;
}

.section06 .plan-cont .normal-container .cont-tit {
  background-position: right center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 90px !important;
}

.section06 .plan-cont .normal-container .cont-tit--01 {
  background-image: url("../img/section06_tab_cont_tit_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 89px;
  height: 20px;
}

.section06 .plan-cont .normal-container .cont-tit--02 {
  background-image: url("../img/section06_tab_cont_tit_02.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 59px;
  height: 21px;
}

.section06 .plan-cont.on {
  display: block !important;
  opacity: 1;
}

.section06 .plan-cont a {
  letter-spacing: 0;
}

.section06 .plan-cont .btn-down1 {
  background-color: #1ec17e;
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  height: 62px;
  line-height: 62px;
  border-radius: 30px;
  text-align: center;
  margin-left: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section06 .plan-cont .btn-down1:hover {
  background-color: #3172dc !important;
}

.section06 .plan-cont .btn-down1 span {
  margin-top: -2px;
  display: inline-block;
  vertical-align: middle;
}

.section06 .plan-cont .btn-down2 {
  background-color: #1ec17e;
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 52px;
  line-height: 52px;
  border-radius: 26px;
  text-align: center;
  margin-left: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section06 .plan-cont .btn-down2.bg-mint {
  background-color: #33d6c1;
}

.section06 .plan-cont .btn-down2:hover {
  background-color: #3172dc !important;
}

.section06 .plan-cont .btn-down2 span {
  margin-top: -2px;
  display: inline-block;
  vertical-align: middle;
}

.section06 .plan-cont .btn-down-all {
  margin-left: 0;
}

.section06 .plan-cont .btn-down-all span {
  background-image: url("../img/section06_btn_text_all.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 125px;
  height: 16px;
}

.section06 .plan-cont .btn-down-age3 span {
  background-image: url("../img/section06_btn_text_age3.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 134px;
  height: 16px;
}

.section06 .plan-cont .btn-down-age4 span {
  background-image: url("../img/section06_btn_text_age4.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 134px;
  height: 16px;
}

.section06 .plan-cont .btn-down-age5 span {
  background-image: url("../img/section06_btn_text_age5.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 134px;
  height: 16px;
}

.section07 {
  background-color: #eef1ed;
  overflow: hidden;
  background-image: url("../img/section07_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section07 .tit01 {
  background-image: url("../img/section07_tit_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 434px;
  height: 57px;
  margin: 0 auto;
}

.section07 .tit02 {
  background-image: url("../img/section07_tit_02.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 295px;
  height: 48px;
  margin: 30px auto 0;
}

.section07 .cont-wrap {
  margin-top: 40px;
}

.section07 .cont-wrap .event-banner {
  display: block;
  margin: 0 auto;
  background-image: url("../img/section07_event_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1045px;
  height: 300px;
}

.section07 .cont-wrap .btn-wrap {
  margin-top: 30px;
  text-align: center;
  letter-spacing: -10px;
}

.section07 .cont-wrap .btn-wrap > a {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/section07_event_01_btn_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 242px;
  height: 66px;
}

.section07 .cont-wrap .btn-wrap > a.btn-face {
  background-image: url("../img/section07_event_01_btn_02.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 242px;
  height: 66px;
  margin-left: 10px;
}

.section {
  padding: 0 !important;
  margin: 0 !important;
}

.section--footer {
  border-top: 1px solid #d4d4d4;
}

@media screen and (max-width: 1280px) {
  header .header-top {
    width: auto;
  }
  header .header-top .logo {
    left: 10px;
  }
  header .header-top .nn-top-menu {
    padding-right: 10px;
  }
  #fullpage_nav {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  html body {
    min-width: 800px;
    max-width: 100%;
  }
  #fullpage .fp-tableCell,
  #fullpage .section {
    height: auto !important;
  }
  #fullpage > .section {
    padding: 80px 0 !important;
  }
  #fullpage > .section .section-container {
    width: 100% !important;
    padding: 2%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #fullpage > .section .scroll-down {
    display: none;
  }
  #fullpage > .section.section01 {
    padding-top: 130px !important;
  }
  #fullpage > .section.section--footer {
    padding: 20px 0 !important;
  }
  #fullpage > .section.section--footer #nnFooter {
    width: auto !important;
    padding: 0 10px;
  }
  #fullpage > .section.section--footer #nnFooter .nn-logo {
    display: none;
  }
  #fullpage > .section.section--footer #nnFooter .nn-footer-menu,
  #fullpage > .section.section--footer #nnFooter .nn-info,
  #fullpage > .section.section--footer #nnFooter .nn-copy {
    margin: 0;
  }
  .section01 .tit01 {
    width: 600px;
    height: 96px;
  }
  .section01 .tit02 {
    width: 500px;
    height: 42px;
  }
  .section01 .cont-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px;
  }
  .section01 .cont-wrap .item {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin: -25px;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .section01 .cont-wrap .item--04 {
    display: block;
  }
  .section02 .section-container {
    padding: 0 !important;
  }
  .section02 .tit01 {
    width: 600px;
    height: 104px;
  }
  .section02 .tit01::before {
    width: 111px;
    height: 84px;
    background-size: contain;
    left: 40px;
    top: -40px;
  }
  .section02 .slide-banner-wrap {
    height: auto;
    display: block;
    width: 640px;
    position: relative;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
  }
  .section02 .slide-banner-wrap .slick-arrow {
    position: absolute;
    font-size: 0;
    border: 0;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .section02 .slide-banner-wrap .slick-arrow:focus {
    outline: none;
  }
  .section02 .slide-banner-wrap .slick-arrow:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .section02 .slide-banner-wrap .slick-arrow.slick-prev {
    left: -80px;
    top: 50%;
    background-image: url("../img/section01_cont_arr.png");
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .section02 .slide-banner-wrap .slick-arrow.slick-next {
    right: -80px;
    top: 50%;
    background-image: url("../img/section01_cont_arr.png");
  }
  .section02 .slide-banner-wrap .slide-item {
    width: 100%;
    height: 430px;
    opacity: 1;
    display: block;
  }
  .section02 .slide-banner-wrap .slide-item::before {
    display: none;
  }
  .section02 .slide-banner-wrap .slide-item .item-off {
    display: none;
  }
  .section02 .slide-banner-wrap .slide-item .item-on {
    opacity: 1;
    position: static;
    display: block;
    background-size: contain !important;
    background-position: center !important;
  }
  .section02 .slide-banner-wrap .slide-item::after {
    display: none;
  }
  .section02 .preview {
    position: static;
    background-color: transparent;
  }
  .section02 .preview .preview-inner {
    width: auto;
    height: auto;
    min-width: 800px;
    border: none;
    text-align: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .section02 .preview img {
    max-width: 90%;
    height: auto;
  }
  .section02 .cir-move {
    -webkit-animation: none;
            animation: none;
  }
  .section02 .cir-move.cir-move-01 {
    left: 10%;
    top: -20%;
  }
  .section02 .cir-move.cir-move-02 {
    top: 40%;
    left: 5%;
  }
  .section02 .cir-move.cir-move-03 {
    top: 80%;
    left: 0%;
  }
  .section02 .cir-move.cir-move-04 {
    top: 10%;
    right: 15%;
  }
  .section02 .cir-move.cir-move-05 {
    top: 50%;
    right: 5%;
  }
  .section02 .cir-move.cir-move-06 {
    top: 80%;
    right: 11%;
  }
  .section03 .tit01 {
    width: 400px;
    height: 53px;
  }
  .section03 .tit02 {
    width: 660px;
    height: 43px;
  }
  .section03 .tit03 {
    width: 590px;
    height: 43px;
    margin: 20px auto 0;
  }
  .section03 .cont-flex-box .item {
    width: 31% !important;
    background-position: center bottom;
  }
  .section04 .tit01 {
    width: 700px;
    height: 46px;
  }
  .section04 .tit02 {
    width: 360px;
    height: 43px;
    margin: 20px auto 0;
  }
  .section04 .cont-wrap .item {
    margin-left: 20px;
    height: 458px !important;
  }
  .section05 .tit01 {
    width: 600px;
    height: 50px;
  }
  .section05 .tit02 {
    width: 450px;
    height: 41px;
    margin: 20px auto 0;
  }
  .section05 .cont-wrap {
    margin-top: 30px;
  }
  .section05 .cont-wrap .item {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin: -10px !important;
  }
  .section06 .tit01 {
    width: 568px;
    height: 104px;
  }
  .section06 .tit01::before {
    width: 111px;
    height: 84px;
    background-size: contain;
    left: 30px;
    top: -40px;
  }
  .section06 .plan-cont {
    padding: 25px 15px;
  }
  .section06 .plan-cont .btn-down1 {
    height: 50px;
    line-height: 50px;
  }
  .section06 .plan-cont .btn-down2 {
    width: 145px;
    margin-left: 5px;
    height: 50px;
    line-height: 50px;
  }
  .section06 .plan-cont .btn-down-age3 span {
    width: 110px;
    height: 14px;
  }
  .section06 .plan-cont .btn-down-age4 span,
  .section06 .plan-cont .btn-down-age5 span {
    width: 117px;
    height: 14px;
  }
  .section06 .plan-cont .btn-down-all span {
    width: 109px;
    height: 14px;
  }
  .section07 .tit01 {
    width: 381px;
    height: 50px;
  }
  .section07 .tit02 {
    width: 264px;
    height: 43px;
    margin: 20px auto 0;
  }
  .section07 .cont-wrap {
    margin-top: 20px;
  }
  .section07 .cont-wrap .event-banner {
    width: 750px;
    height: 216px;
  }
}
/*# sourceMappingURL=yearplan2020.css.map */