@font-face {
  font-family: "Nanum Gothic";
  src: url("../font/NanumGothic-Regular.eot");
  src: url("../font/NanumGothic-Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/NanumGothic-Regular.woff") format("woff"), url("../font/NanumGothic-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Nanum Gothic";
  src: url("../font/NanumGothic-Bold.eot");
  src: url("../font/NanumGothic-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/NanumGothic-Bold.woff") format("woff"), url("../font/NanumGothic-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Nanum Square";
  src: url("../font/NanumSquareR.eot");
  src: url("../font/NanumSquareR.eot?#iefix") format("embedded-opentype"),
    url("../font/NanumSquareR.woff") format("woff"), url("../font/NanumSquareR.ttf") format("truetype");
  font-weight: normal;
}

html {
  font-size: 62.5%;
}
html body {
  font-family: Nanum Gothic, sans-serif, "����", Dotum;
  color: #444;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 160%;
  letter-spacing: -0.2px;
}

.login-container {
  min-height: 800px;
  margin: 0 auto;
  padding-top: 135px;
  text-align: center;
  background-color: #3d4255;
}
.admin-login .login-wrap {
  width: 630px;
  margin: 20px auto;
  padding: 40px 0;
  background-color: #fff;
  border-radius: 5px;
}
.admin-login .login-wrap .title {
  padding-bottom: 30px;
  font-size: 2.4rem;
  color: #3d4255;
  font-family: "Nanum Square";
  font-weight: bold;
}
.admin-login .login-wrap .title strong {
  font-weight: bold;
}
.admin-login .login-wrap input {
  display: inline-block;
  width: 430px;
  margin-bottom: 10px;
  padding-left: 20px;
  line-height: 50px;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
}
.admin-login .login-wrap input::placeholder {
  color: #999;
  opacity: 1;
}
.admin-login .login-wrap input:-ms-input-placeholder {
  color: #999;
}
.admin-login .login-wrap input::-ms-input-placeholder {
  color: #999;
}
.admin-login .login-wrap .login-btn {
  width: 430px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  background-color: #3d4255;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-family: "Nanum Square";
}

.top-nav {
  width: 100%;
  height: 70px;
  background-color: #3d4255;
  box-shadow: 0 2px 0 #ccc;
}
.top-nav h1 {
  float: left;
  width: 300px;
  height: 70px;
  background-color: #333;
  text-align: center;
}
.top-nav h1 img {
  padding-top: 20px;
}
.top-nav ul {
  overflow: hidden;
  float: left;
  margin-left: 30px;
}
.top-nav ul li {
  float: left;
  height: 70px;
  padding: 0 40px;
  line-height: 70px;
  color: #fff;
  font-weight: bold;
}
.top-nav ul li a {
  color: #fff;
  font-size: 20px;
  font-family: "Nanum Square";
  font-weight: bold;
}
.top-nav ul li.selected a,
.top-nav ul li:hover a {
  color: #fdcb03;
}

.btm-content {
  min-height: 800px;
  padding-bottom: 40px;
  background-image: url("../img/sidemenu_bg.png");
  background-repeat: repeat-y;
  background-position: 0 0;
}
.btm-content .sidemenu {
  float: left;
  width: 300px;
  height: 100%;
}
.btm-content .sidemenu .side-title {
  height: 70px;
  line-height: 70px;
  color: #fff;
  font-size: 20px;
  padding-left: 30px;
  background-color: #2f3445;
  border-bottom: 2px solid #333;
  font-weight: bold;
}
.btm-content .sidemenu ul li a {
  display: block;
  padding-left: 30px;
  color: #fff;
  font-size: 17px;
  line-height: 50px;
  font-family: "Nanum Square";
}
.btm-content .sidemenu ul li.selected a,
.btm-content .sidemenu ul li:hover a {
  color: #fdcb03;
}
.btm-content .contents-wrap {
  min-width: 1000px;
  padding-left: 360px;
  padding-top: 40px;
  margin-right: 50px;
}
.btm-content .contents-wrap .pagehistory {
  padding-bottom: 10px;
  text-align: right;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
.btm-content .contents-wrap .contents-title {
  padding: 40px 0 20px 0;
  font-size: 20px;
  font-weight: bold;
}
.btm-content .contents-wrap .contents-title i {
  display: inline;
  font-size: 13px;
  font-style: normal;
}

.board-table {
  border: 1px solid #ddd;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 0 #f2f2f2;
}
.board-table.board-calendar {
  border: none;
  border-radius: 0;
}
.board-table.board-table-top {
  margin-bottom: 5px;
  border: none;
  box-shadow: none;
}
.board-table table {
  width: 100%;
  font-size: 15px;
}
.board-table table th,
.board-table table td {
  padding: 15px 30px;
  vertical-align: middle;
  text-align: left;
}
.board-table table th {
  background-color: #3d4255;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  text-align: left;
}
.board-table table td {
  border-bottom: 1px solid #ddd;
}
.board-table.board-table-list table th,
.board-table.board-table-list table td {
  padding: 16px 10px;
  text-align: center;
}
.board-table.board-table-list table tbody .b-tit {
  text-align: left;
}
.board-table tbody .b-thumb img {
  width: 130px;
  height: 70px;
  border: 1px solid #aaa;
}
.board-table.board-table-top.board-table-list table th {
  line-height: 50px;
  padding: 0 10px;
}
.board-table.board-table-list table tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}
.board-table .pop-img-view {
  margin-bottom: 10px;
}
.pop-img-view img {
  max-width: 100%;
}
.board-table table thead th {
  position: relative;
}
.board-table table thead th:before {
  content: "";
  position: absolute;
  top: 18px;
  left: -1px;
  width: 1px;
  height: 14px;
  background-color: #626675;
}
.board-table tbody .b-tit {
  text-align: left;
}
.board-table tbody .b-tit a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 260px;
}
.board-table tbody .b-tit a:hover {
  color: #fdcb03;
}

.survey-content h5 {
  padding-bottom: 10px;
  font-size: 1.6rem;
}
.survey-content .survey-list > li {
  position: relative;
  padding-left: 10px;
  margin-top: 10px;
}
.survey-content .survey-list > li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 48%;
  width: 3px;
  height: 3px;
  background: #ef535c;
}

.calendar-wrap {
  position: relative;
}
.calendar-wrap .calendar-sum {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 10px;
  font-size: 15px;
  color: #6e6e6e;
}
.calendar-wrap .board-calendar table {
  font-size: 13px;
}
.calendar-wrap .board-calendar table tr:nth-child(even) {
  background-color: #f6f6f6;
}
.calendar-wrap .board-calendar table td {
  height: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  vertical-align: top;
}
.calendar-wrap .board-calendar table .cal-count {
  padding-left: 10px;
  color: #7b28b9;
}
.calendar-wrap .cal_sun {
  color: #f5989d;
}
.calendar-wrap .cal_sat {
  color: #7da7d9;
}
.claim-list-top {
  overflow: hidden;
}
.claim-list-top .claim-current {
  float: left;
}
.claim-list-top .list-count {
  float: right;
}
.calendar-month {
  margin: 20px auto;
  text-align: center;
}
.calendar-month > div {
  display: inline-block;
  vertical-align: bottom;
}
.calendar-month .month-move a {
  display: block;
  width: 25px;
  height: 25px;
  font-size: 0;
  text-indent: -9999px;
  color: transparent;
  background-image: url("../img/ui-pagenation.png");
}
.calendar-month .month-move.month-prev a {
  background-position: -25px 0;
}
.calendar-month .month-move.month-next a {
  background-position: -50px 0;
}
.calendar-month .month-current {
  width: 120px;
  height: 25px;
  font-size: 25px;
}

.board-paging {
  margin: 20px auto;
  text-align: center;
}
.board-paging > div {
  display: inline-block;
  vertical-align: bottom;
}
.board-paging .page-first a,
.board-paging .page-prev a,
.board-paging .page-next a,
.board-paging .page-last a {
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  font-size: 0px;
  color: transparent;
  background-image: url("../img/ui-pagenation.png");
  background-repeat: no-repeat;
}
.board-paging .page-first a {
  background-position: 0 0;
}
.board-paging .page-prev a {
  background-position: -25px 0;
}
.board-paging .page-next a {
  background-position: -50px 0;
}
.board-paging .page-last a {
  background-position: -75px 0;
}
.board-paging .page-number a {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 0 2px;
  border: 1px solid #333;
  border-radius: 3px;
  font-weight: bold;
}
.board-paging .page-number a.selected {
  background-color: #fdcb03;
}

.input_text {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
  box-sizing: border-box;
}
.input_text_mid {
  max-width: 40%;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
  box-sizing: border-box;
}
.input_text_short {
  max-width: 20%;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
  box-sizing: border-box;
}
.input_sel {
  width: 200px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.input_sel.input_sel_nar {
  width: 80px;
}
.input_sel.input_sel_nar2 {
  width: 160px;
}
.input_sel_arr:after {
  display: block;
  content: "";
  background-image: url("../img/sel-arrow.png");
  width: 14px;
}
.datepicker {
  margin-right: 5px;
}
.input_textarea {
  width: 100%;
  min-height: 300px;
  line-height: 140%;
  font-size: 14px;
  border: 1px solid #ddd;
  text-align: left;
}
.input_textarea.height150 {
  min-height: 150px;
}

.board-btn {
  margin: 20px 0;
  text-align: right;
}
.board-btn .btn {
  display: inline-block;
  min-width: 100px;
  height: 40px;
  line-height: 40px;
  margin-left: 4px;
  padding: 0 10px;
  border-radius: 3px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: "Nanum Square";
}
.board-btn .btn:hover {
  opacity: 0.8;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}
.board-btn .btn.btn-original {
  background-color: #3d4255;
}
.board-btn .btn.btn-red {
  background-color: #ef535c;
}
.board-btn .btn.btn-yellow {
  background-color: #fdcb03;
  color: #333;
}
.board-btn .btn.btn-gray {
  background-color: #999;
}

.btn-date,
.btn-sur-add {
  line-height: 30px;
  height: 30px;
  background-color: #3d4255;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.survey-result .result-item {
  overflow: hidden;
  margin-top: 10px;
  border: 1px solid #ddd;
}
.survey-result .result-item > p {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
}
.survey-result .result-item > p.item-title {
  position: relative;
  float: left;
  width: 80%;
  border-right: 1px solid #ddd;
}
.survey-result .result-item > p.item-title .perc {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 30px;
  background: #fdcb03;
}
.survey-result .result-item > p.item-val {
  float: right;
  font-size: 13px;
  width: 20%;
  text-align: right;
  background-color: #f2f2f2;
}

/*

	2019.02.16 신규추가 
	

*/

.contents-stitle {
  position: relative;
  font-size: 16px;
  padding-left: 15px;
  margin: 10px 0 20px 0;
  color: #999;
}
.contents-stitle:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 2px;
  height: 10px;
  width: 4px;
  height: 15px;
  background: #aacc0f;
}
.board-btn .btn-left {
  float: left;
  margin-left: 0;
} /*adm 버튼영역중 왼쪽정렬로 .*/
.board-table .btn {
  display: inline-block;
  min-width: 80px;
  height: 40px;
  line-height: 40px;
  border: none;
  padding: 0 10px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.board-table .sbtn {
  display: inline-block;
  min-width: 80px;
  height: 30px;
  line-height: 30px;
  border: none;
  padding: 0 10px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}
.board-table .btn-navy {
  background: #3d4255;
  color: #fff;
}
.board-table .btn-navy:hover {
  background-color: #fdcb03;
}
.board-table .btn-dark {
  background: #333;
  color: #fff;
}
.board-table .emp {
  color: #fdcb03;
  font-weight: bold;
  padding-right: 4px;
  font-size: 14px;
  vertical-align: super;
}
.board-table .note ul li {
  position: relative;
  padding-left: 12px;
  font-size: 14px;
  margin-top: 5px;
}
.board-table .note ul li:first-child {
  margin-top: 10px;
}
.board-table .note ul li:before {
  content: "+";
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  color: red;
  font-size: 11px;
}
.board-table .b-id > a,
.board-table .b-name > a {
  color: #3456d8;
  font-weight: bold;
  border-bottom: 1px solid #3456d8;
}
.board-table .addr {
  margin-top: 5px;
}
.board-table table td.b-notice-content {
  text-align: left;
  padding-left: 20px;
  line-height: 160%;
}
/*  .member-state 상단타이틀 - ~님의 정보입니다. */
.member-state {
  font-size: 13px;
  padding: 15px;
  margin-bottom: 20px;
  background: #f7f7f7;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.member-state b {
  color: #3456d8;
  border-bottom: 1px solid #3456d8;
  padding: 0 2px 3px 2px;
  margin-right: 4px;
}

/* 2019-03-20 검색영역  */
.board-search {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}
.board-search .input_text {
  line-height: 40px;
  height: 40px;
  margin-top: -3px;
}

.board-table table td .filename {
  color: #999;
}
.board-table table td .btn-delete,
.board-table table td .btn-browse {
  background-color: #3d4255;
  border: 1px solid #333;
  color: #fff;
  padding: 3px 10px;
  border-radius: 3px;
  margin-left: 10px;
}

.board-gallery-news {
  border: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 0 #f2f2f2;
}
.board-gallery-news ul {
  margin: 0 -0.5%;
}

.board-gallery-news ul li {
  overflow: hidden;
  width: 23%;
  margin: 10px 1%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  float: left;
  border-radius: 5px;
  box-shadow: 0 2px 0 #f2f2f2;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.board-gallery-news ul li a {
  display: block;
}
.board-gallery-news ul li:hover {
  box-shadow: 3px 3px 3px #ccc;
}

.board-gallery-news ul li .news-thumb {
  height: 150px;
  overflow: hidden;
}
.board-gallery-news ul li .news-thumb img {
  width: 100%;
  height: 100%;
}

.board-gallery-news ul li .news-title {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: 1px solid #ddd;
  padding: 10px;
}
.b-news-content {
  text-align: left !important;
  line-height: 160%;
  background: #fff;
}
.b-news-content > img {
  margin-bottom: 10px;
}
