html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    color: black;
    background-color: transparent;
}

em {
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    vertical-align: middle;
}

caption {
    font-size: 0px;
    width: 0px;
    height: 0px;
    text-indent: -99999;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: """";
}

textarea {
    overflow: auto;
}

hr,
legend {
    display: none;
}

a {
    color: #484848;
    text-decoration: none;
}

select {
    font-size: 11px;
    font-family: "AppleGothic", Verdana, Tahoma, Arial, sans-serif;
    vertical-align: middle;
}

input,
textarea {
    font-family: "AppleGothic", Verdana, Tahoma, Arial, sans-serif;
    vertical-align: middle;
}

img {
    vertical-align: top;
}

table img {
    vertical-align: middle;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search'] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

address {
    font-style: normal
}




h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}


.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-100 {
    margin-top: 100px;
}


.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

.align_center,
.align-center {
    text-align: center;
}