::-webkit-input-placeholder {
      color: #999;
      font-size: 15px;
}

:-ms-input-placeholder {
      color: #999;
      font-size: 15px;
}

::placeholder {
      color: #999;
      font-size: 15px;
}


.tb-gray {
      border-top: 2px solid #023d5c;

      table {
            width: 100%;
            border-collapse: collapse;
            font-size: 16px;
            text-align: center;


            td,
            th {
                  border-bottom: 1px solid #c9c9c9;
                  border-right: 1px solid #c9c9c9;
                  border-left: 1px solid #c9c9c9;
                  padding: 15px 10px;
                  background-color: #fff;

            }

            th {
                  background: #f7f7f7;
                  color: #333;

            }

            tbody th {
                  color: #023d5c;
            }

            tbody td {
                  td {
                        color: #666666
                  }
            }
      }

      @include mq('tablet') {
            table {
                  font-size: 15px;
            }
      }

      @include mq('tablet-small') {
            table {
                  font-size: 14px;

                  td,
                  th {
                        padding: 10px;
                  }
            }
      }

      @include mq('phone') {
            table {
                  font-size: 13px;

                  td,
                  th {
                        padding: 10px 7px
                  }
            }
      }
}


.title01 {
      margin-top: 60px;
      font-size: 22px;
      color: #023d5c;
      line-height: 1;
      padding-bottom: 20px;
      text-transform: uppercase;

      span {
            font-size: 16px;
            color: #888;
            display: block;
            margin-top: 10px;
      }
}

.line-title {
      border-bottom: 2px solid #000;
      font-size: 25px;
      line-height: 1;
      padding-bottom: 10px;
      margin-bottom: 20px;
      margin-top: 30px;
}

.li-bul {
      li {
            padding-left: 30px;
            position: relative;
            font-size: 18px;
            color: #666666;
            margin-top: 18px;

            &::before {
                  content: '';
                  width: 13px;
                  height: 23px;
                  background: url('../img/bul01.png') no-repeat;
                  position: absolute;
                  left: 0;
                  top: 0;
            }
      }
}

.li-square {
      li {
            padding-left: 15px;
            position: relative;
            font-size: 17px;
            color: #666666;
            line-height: 1.6;
            margin-top: 15px;
            text-align: left;

            &:first-child {
                  margin-top: 0;
            }

            &::before {
                  content: '';
                  width: 6px;
                  height: 6px;
                  position: absolute;
                  left: 0;
                  top: 9px;
                  background: #043d5d;
            }
      }
}

//checkbox custom
.checkbox-container {
      display: block;
      position: relative;
      padding-left: 31px;
      height: 26px;
      line-height: 26px;
      cursor: pointer;
      font-size: 16px;

      &.ciecle {
            .checkmark {
                  border-radius: 50%;
                  background-color: #fff;
                  border: 1px solid #efefef;

                  &::after {
                        content: "";
                        position: absolute;
                        display: none;
                        top: 6px;
                        left: 6px;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: white;
                        transform: none;
                  }
            }

            input:checked~.checkmark {
                  background-color: #095379;
            }

      }

      user-select: none;

      input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
      }

      .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;

            &:after {
                  content: "";
                  position: absolute;
                  display: none;
                  left: 9px;
                  top: 5px;
                  width: 5px;
                  height: 10px;
                  border: solid white;
                  border-width: 0 3px 3px 0;
                  -webkit-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
            }
      }

      &:hover input~.checkmark {
            background-color: #ccc;
      }

      input:checked~.checkmark {
            background-color: #095379;
      }

      input:checked~.checkmark:after {
            display: block;
      }
}

.radio-container {

      //   <label class="container">Four
      //     <input type="radio" name="radio">
      //     <span class="checkmark"></span>
      //   </label>
      display: block;
      position: relative;
      padding-left: 31px;
      cursor: pointer;
      font-size: 16px;
      height: 26px;
      line-height: 26px;
      user-select: none;

      input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
      }

      .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #fff;
            border-radius: 50%;

            &:after {
                  content: "";
                  position: absolute;
                  display: none;
                  top: 9px;
                  left: 9px;
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  background: white;
            }
      }

      &:hover input~.checkmark {
            background-color: #ccc;
      }

      input:checked~.checkmark {
            background-color: #095379;
      }

      input:checked~.checkmark:after {
            display: block;
      }

}

@include mq('tablet-small') {
      .title01 {
            margin-top: 40px;
            font-size: 18px;
            padding-bottom: 15px;

            span {
                  font-size: 15px;
                  margin-top: 5px;
            }
      }

      .line-title {
            font-size: 18px;
            padding-bottom: 10px;
      }

      .li-bul {
            li {
                  font-size: 16px;
            }
      }

      .li-square {
            li {
                  font-size: 15px;
            }
      }



      .checkbox-container,
      .radio-container {
            font-size: 15px;
      }
}

@include mq('phone-wide') {
      .title01 {
            margin-top: 20px;

            span {
                  font-size: 14px;
            }
      }

      .line-title {
            font-size: 20px;
      }

      .li-bul {
            li {
                  font-size: 14px;
            }
      }

      .li-square {
            li {
                  font-size: 14px;
            }
      }

      .checkbox-container,
      .radio-container {
            font-size: 14px;
      }

      ::-webkit-input-placeholder {
            font-size: 13px;
      }

      :-ms-input-placeholder {
            font-size: 13px;
      }

      ::placeholder {
            font-size: 13px;
      }
}

.tab-list {
      width: 100%;

      ul {
            width: 1200px;
            @include push--auto;
            text-align: center;
            letter-spacing: -10px;

            li {
                  display: inline-block;

                  overflow: hidden;
                  letter-spacing: 0;
                  vertical-align: bottom;
                  border: 1px solid #ddd;
                  margin: 0 5px;
                  cursor: pointer;

                  span {
                        display: block;
                        height: 50px;
                        line-height: 50px;
                  }



                  &.on {
                        background: #023d5c;
                        color: #fff;

                        span {
                              color: #fff;

                        }
                  }
            }
      }

      &.tab-list-2type {
            ul li {
                  width: 345px;
            }
      }

      &.tab-list-3type {
            ul li {
                  width: 245px;
            }
      }

      &.tab-list-4type {
            ul li {
                  width: 150px;
            }
      }
}


//컨텐츠 공통스타일 
.tab-cnt {
      //opadisplay: none;
      opacity: 0;
      height: 1px;
      position: absolute;
      width: 1200px;
      @include push--auto;


      &.on {
            opacity: 1;
            height: auto;
            padding-top: 60px;
            overflow: hidden;
            position: static;
      }

}

@include mq('contents') {
      .tab-list {
            ul {
                  width: auto;
            }
      }

      .tab-cnt {
            width: auto;
            padding-left: 3%;
            padding-right: 3%;
      }
}

@include mq('tablet') {
      .tab-list {

            &.tab-list-2type {
                  ul li {
                        width: 45%;
                        margin: 0 1%;
                  }
            }

            &.tab-list-3type {
                  ul li {
                        width: 30%;
                        margin: 0 1%;
                  }
            }

            &.tab-list-4type {
                  ul li {
                        width: 20%;
                  }
            }
      }
}

@include mq('tablet-small') {
      .tab-list {
            ul li {
                  font-size: 14px;
                  width: auto;
            }
      }

      .tab-cnt.on {
            padding-top: 30px;
            padding-left: 3%;
            padding-right: 3%;
      }
}

@include mq('phone') {
      .tab-list {
            ul li {
                  font-size: 13px;
            }

      }
}

.board-list-style {
      font-size: 15px;
      width: 1200px;
      @include push--auto;

      //board header 
      .board-list-header {
            background: #fafafa;
            border-top: 1px solid #333;
            border-bottom: 1px solid #d7d7d7;
            display: flex;
            padding: 15px 0;
            justify-content: space-between;

            &>p {
                  text-align: center;
            }
      }

      //board body 
      .board-list-body {
            background-color: #fff;

            .row {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 15px 0;
                  border-bottom: 1px solid #d7d7d7;

                  &.row-notice {
                        background-color: #f2f7fa;

                        .b-title {
                              a {
                                    color: #0060a1;
                              }
                        }
                  }

                  .label {
                        font-size: 0;
                  }

                  &>p {
                        text-align: center;


                        &.b-title--new {
                              a {
                                    padding-left: 45px;
                                    position: relative;
                                    color: #0060a1;

                                    &::before {
                                          content: '';
                                          width: 40px;
                                          height: 17px;
                                          background: url('../img/ico_new_blue.png') no-repeat;
                                          position: absolute;
                                          left: 0;
                                          top: 3px;
                                    }

                              }
                        }
                  }

                  .b-title {
                        text-align: left;

                        .attached-file {
                              width: 16px;
                              height: 18px;
                              background: url('../img/ico_board_docs.png') no-repeat;
                              display: inline-block;
                              vertical-align: middle;
                              font-size: 0;
                              margin-left: 5px;
                        }
                  }
            }


      }

      //채용공고
      &.board-list-style--promote {

            .b-num {
                  width: 10%;
            }

            .b-sec {
                  width: 15%;
            }

            .b-date {
                  width: 20%;
            }

            .b-title {
                  width: 55%;
            }

      }

      @include mq('contents') {
            width: auto;
            padding: 0 3%;
      }

      @include mq('tablet-small') {
            font-size: 14px;

            .board-list-header {
                  display: none;
            }

            .board-list-body {
                  .row {
                        border-top: 1px solid #333;
                        margin-top: 10px;
                        flex-wrap: wrap;
                        padding: 0;

                        &>p {
                              text-align: left;
                              padding: 13px 20px 9px 20px;
                              color: #777;
                              display: flex;
                        }

                        .label {
                              width: 60px;
                              display: inline-block;
                              font-size: 14px;
                              color: #333;
                              margin-right: 10px;
                              position: relative;

                              &::before {
                                    content: '';
                                    width: 4px;
                                    height: 4px;
                                    background: #333;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin-right: 4px;
                                    vertical-align: middle;
                              }

                              &::after {
                                    content: '';
                                    width: 1px;
                                    height: 10px;
                                    background: #777;
                                    position: absolute;
                                    right: 0;
                                    top: 3px;
                              }
                        }

                        .b-title {
                              order: 1;
                              width: 100%;
                              padding: 14px 20px;
                              background: #f2f2f2;
                              border-bottom: 1px solid #d7d7d7;

                              &.b-title--new a::before {
                                    top: 0;
                              }
                        }

                        &.row-notice {
                              .b-title {
                                    background-color: #f2f7fa;
                              }

                              background-color:#fff;
                        }

                  }
            }

            //recruit 
            &.board-list-style--promote {
                  .board-list-body {

                        .b-sec {
                              order: 2;
                              width: 40%;
                        }

                        .b-date {
                              order: 3;
                              width: 60%;
                        }

                        .b-num {
                              order: 2;
                              display: none;
                        }
                  }
            }
      }

      @include mq('tablet-small') {
            font-size: 13px;

            .board-list-body {
                  .row {

                        .label {
                              font-size: 13px;
                              width: 50px;
                        }

                        &>p {
                              padding: 13px 11px 9px 11px;
                        }
                  }
            }
      }

}

.board-pagination {
      margin-top: 40px;
      letter-spacing: -10px;
      text-align: center;

      a {
            display: inline-block;
            letter-spacing: 0;
            width: 25px;
            height: 25px;
            line-height: 25px;
            font-size: 13px;
            text-align: center;

            &:first-child {
                  border-left: 1px solid #ccc;

                  &.on {
                        border-left: 1px solid #555
                  }
            }

      }

      .page-num {
            color: #999;
            border: 1px solid #ccc;
            border-left: none;

            &.on {
                  background: #666;
                  border: 1px solid #555;
                  color: #fff;
            }
      }
}

.board-view {
      width: 1200px;
      @include push--auto;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      .title {
            padding: 30px;
            font-size: 20px;

            &.title--new {
                  &::before {
                        content: '';
                        width: 40px;
                        height: 17px;
                        background: url('../img/ico_new_skyblue.png') no-repeat;
                        display: inline-block;
                        margin-right: 5px;
                        vertical-align: middle;
                  }
            }
      }

      .board-postinfo {
            background: #f6f6f6;
            padding: 15px 30px;
            text-align: right;
            border: 1px solid #ddd;

            li {
                  display: inline-block;
                  font-size: 14px;
                  margin-left: 15px;

                  &:first-child {
                        margin-left: 0;
                  }

                  &::before {
                        content: '';
                        display: inline-block;
                        margin-right: 5px;
                        vertical-align: middle;
                        background-repeat: no-repeat;
                  }

                  &.date::before {
                        width: 19px;
                        height: 19px;
                        background-image: url('../img/ico_date.png');
                  }

                  &.view::before {
                        width: 16px;
                        height: 23px;
                        background-image: url('../img/ico_hits.png');
                  }
            }
      }

      .board-content {
            padding: 50px;
            line-height: 1.6;
            font-size: 16px;
      }

      @include mq('contents') {
            width: auto;
            padding: 0 5%;
      }

      @include mq('tablet') {
            padding: 0 2%;

            .title {
                  font-size: 18px;
                  padding: 20px;
            }

            .board-postinfo {
                  padding: 20px;
            }

            .board-content {
                  padding: 30px 20px;
            }
      }

      @include mq('tablet-small') {
            .title {
                  font-size: 16px;
            }

            .board-postinfo {
                  padding: 10px 20px;

                  li {
                        font-size: 13px;
                  }
            }

            .board-content {
                  font-size: 14px;
                  padding: 20px;
            }
      }
}