.btn-area {
    margin: 15px auto;
    text-align: center;

    &.btn-area-ar {
        text-align: right;
    }

    &.btn-area-al {
        text-align: left;
    }

    &>input,
    &>button,
    &>a {
        display: inline-block;
        text-align: center;
        padding: 0 15px;
        height: 45px;
        line-height: 45px;
        margin: 0 5px;
        box-sizing: border-box;
        font-size: 16px;
        cursor: pointer;
        vertical-align: middle;

        &.btn-blue {
            min-width: 135px;
            color: #fff;
            background-color: #0067c3;
            border-radius: 45px;


        }

        &.btn-navy {
            background-color: #2457a2;
            color: #fff;
            min-width: 135px;
            border-radius: 45px;
        }

        &.btn-white {
            width: 135px;
            color: #333;
            border: 1px solid #333;
            border-radius: 45px;
            background-color: #fff;
        }

        &.btn-edit {
            display: inline-block;
            background-image: url("../img/ico-edit-pen.png");
            background-repeat: no-repeat;
            margin-right: 5px;
            vertical-align: middle;
            background-position: 25px center;
            padding-left: 35px;

            &:hover {
                background-color: #fff;
                border: 1px solid #0067c3;
                color: #0067c3;
                background-image: url('../img/ico-edit-pen-over.png');
            }
        }


        &.btn-confirm {
            border: 1px solid #0385d0;
            width: 120px;
            height: 46px;
            line-height: 46px;
            border-radius: 46px;
            color: #0385d0;
            font-weight: bold;
            background-image: url("../img/ico-arroow-blue.png");
            background-repeat: no-repeat;
            background-position: 26% center;
            padding-right: 0;
        }

        &.btn-cancel {
            background-color: #2457a2;
            display: inline-block;
            background-image: url("../img/ico-bbs-cancel.png");
            background-repeat: no-repeat;
            margin-right: 10px;
            vertical-align: middle;
        }

        &.btn-more {
            background-image: url("../img/ico-bbs-nextarrow.png");
            background-position: 80% center;
            background-repeat: no-repeat;
            padding-left: 0;
        }


        &.btn-apply-contest {
            width: 135px;
            background-image: url("../img/ico-edit-pen.png");
            background-repeat: no-repeat;
            background-position: 25px center;
            padding-left: 35px;
        }

        &.btn-list {
            width: 135px;
            background-image: url("../img/ico-bbs-list.png");
            background-repeat: no-repeat;
            background-position: 25px center;
            padding-left: 35px;
        }

        &.btn-white-nar.btn-list {
            // width: 85px;
            // color: #333;
            // border: 1px solid #333;
            // border-radius: 45px;
            // background-position: 18px center;
            width: 47px;
            height: 45px;
            background-image: url('../img/ico-bbs-list-skyblue.png');
            background-repeat: no-repeat;
            padding-left: 0;
            background-position: center;
            background-color: #92c0e8;
            font-size: 0;
            text-indent: -9999px;

            &:hover {
                background-image: url('../img/ico-bbs-list-skyblue-over.png');
                background-color: #fff;
            }
        }


        &.btn-login {
            background-color: #0067c3;
            color: #fff;
            width: 135px;
            height: 45px;
            box-sizing: border-box;
            border-radius: 45px;
            background-image: url("../img/ico-login.png");
            background-repeat: no-repeat;
        }


        &.btn-home {
            background-color: #fff;
            color: #333;
            border: 1px solid #333;
            width: 135px;
            height: 45px;
            box-sizing: border-box;
            border-radius: 45px;
            background-image: url("../img/ico-backhome.png");
            background-repeat: no-repeat;
        }
    }

    &>a.btn-edit {
        display: inline-block;
        background-image: url("../img/ico-edit-pen.png");
        background-repeat: no-repeat;
        background-image: none;
        margin-right: 5px;
        vertical-align: middle;
        background-position: 25px center;
        padding: 0;

        &::before {
            content: '';
            width: 16px;
            height: 15px;
            background-image: url("../img/ico-edit-pen.png");
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }

        &:hover {
            background-color: #fff;
            background-image: none;
            border: 1px solid #0067c3;
            color: #0067c3;

            &::before {
                background-image: url('../img/ico-edit-pen-over.png');
            }
        }
    }

    >a.btn-reply {
        box-sizing: border-box;
        border: 1px solid #fff;

        &::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            background-image: url("../img/ico-btn-reply.png");
            background-repeat: no-repeat;
            width: 21px;
            height: 14px;
            margin-right: 10px;
        }

        &:hover {
            background-color: #fff;
            border: 1px solid #2457a2;
            color: #2457a2;

            &::before {
                background-image: url('../img/ico-btn-reply-over.png');
            }
        }
    }

    // >a.btn-edit {
    //     &::before {
    //         content: '';
    //         width: 16px;
    //         height: 15px;
    //         display: inline-block;
    //         background: url("../img/ico-edit-pen.png") no-repeat;
    //         margin-right: 10px;
    //         vertical-align: middle;
    //     }
    // }

    // >a.btn-cancel {
    //     background-color: #2457a2;

    //     &::before {
    //         content: '';
    //         width: 15px;
    //         height: 15px;
    //         display: inline-block;
    //         background-image: url("../img/ico-bbs-cancel.png");
    //         background-repeat: no-repeat;
    //         margin-right: 10px;
    //         vertical-align: middle;
    //     }
    // }

    // >a.btn-more {
    //     &::after {
    //         content: '';
    //         width: 20px;
    //         height: 12px;
    //         display: inline-block;
    //         background: url("../img/ico-bbs-nextarrow.png") no-repeat;
    //         margin-left: 10px;
    //         vertical-align: middle;
    //     }
    // }

    >a.btn-login {
        background: #0067c3;
        color: #fff;
        width: 135px;
        height: 45px;
        box-sizing: border-box;
        border-radius: 45px;

        i {
            &::after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                background-image: url("../img/ico-login.png");
                background-repeat: no-repeat;
                width: 14px;
                height: 18px;
            }
        }
    }

    >a.btn-home {
        background: #fff;
        color: #333;
        border: 1px solid #333;
        width: 135px;
        height: 45px;
        box-sizing: border-box;
        border-radius: 45px;

        i {
            &::after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                background-image: url("../img/ico-backhome.png");
                background-repeat: no-repeat;
                width: 19px;
                height: 18px;
            }
        }
    }
}

.btn-apply {
    width: 70px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
    background-color: #0385d0;
    font-size: 13px;
    color: #fff;
    font-family: 'OpenSans', 'NanumBG', sans-serif;
    font-weight: normal;
}

.btn-cancel {
    width: 70px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    background-color: #333333;
    display: inline-block;
}

.btn-cancel-blue {
    width: 62px;
    height: 22px;
    line-height: 22px;
    background-color: #0385d0;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 13px;
}

.btn-pay {
    padding-left: 19px;
    background: url("../img/bbs-ico-card.png") no-repeat left center;
}

.btn-print {
    background-color: #0385d0;
    background-image: url("../img/bbs-ico-print.png");
    background-repeat: no-repeat;
    background-position: 93% center;
    width: 80px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    padding-right: 14px;
    font-size: 13px;
    box-sizing: border-box;
    display: inline-block;
}

.btn-pay-fee {
    width: 80px;
    height: 25px;
    background-color: #0385d0;
    text-align: center;
    box-sizing: border-box;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-image: url("../img/bbs-ico-pay.png");
    color: #fff;
    font-size: 13px;
    display: inline-block;
    line-height: 25px;
    margin-left: 10px;
    vertical-align: middle;
}

//JOIN BUTTON
// .btn-join {
//     position: absolute;
//     width: 200px;
//     height: 40px;
//     background: #073190;
//     color: #fff;
//     text-align: center;
//     line-height: 40px;
//     font-size: 15px;
//     bottom: 50px;
//     left: 200px;
//     border: none;
//     padding: 0;

//     i {
//         display: block;

//         &::after {
//             content: '';
//             width: 21px;
//             height: 21px;
//             display: inline-block;
//             background: url("../img/btn-arr-dnavy.png") no-repeat;
//             vertical-align: middle;
//             margin-left: 30px;
//         }
//     }
// }

// input.btn-join {
//     background: #073190 url("../img/btn-arr-dnavy.png") no-repeat;
//     background-position: 85% center;
// }

@media screen and (max-width: 768px) {
    .btn-area {
        >a {
            font-size: 14px !important;
            //width: 120px;
            height: 40px;
            line-height: 40px;
            margin: 0 2px;
            min-width: 120px;
        }

        >a.btn-list {
            //width: 120px;
            height: 40px;
            line-height: 40px;
            min-width: 47px !important;
        }

        >a.btn-blue {
            min-width: 120px;
        }

        >a.btn-edit {
            min-width: 135px;
        }
    }
}