.table-gray {
    table {
        width: 100%;
        font-size: 16px;

        td {
            padding: 10px 15px;
            border: 1px solid #ddd;
        }

        th {
            padding: 10px 15px;
            border: 1px solid #ddd;
            font-weight: bold;
            color: #333;
            text-align: center;
            background: #f8f8f8;
        }
    }
}


//flex table
.table-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    dl {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;

        .th {
            display: block;
            padding: 15px 10px;
            border: 1px solid #ddd;
            margin: -1px;
            background: #2356a2;
            color: #fff;
            flex: 1;
        }

        .td {
            display: block;
            padding: 15px 10px;
            border: 1px solid #ddd;
            margin: -1px;
            background: #fff;
            flex: 2;

            strong {
                display: block;
                color: #1a317a;
                font-size: 18px;
                padding-bottom: 5px;
            }

            .account {
                vertical-align: middle;
                line-height: 26px;

                img {
                    vertical-align: text-bottom;
                }
            }
        }
    }

    dl.flex-50 {
        width: 50%;
    }

    dl.flex-25 {
        width: 25%;
    }

    dl.flex-33 {
        width: 33.33%;
    }

    &.table-flex--gray {
        border-top: 1px solid #333;

        .th {
            border: none;
            margin: 0;
            text-align: center;
            border-bottom: 1px solid #ddd;
            padding: 20px;
            background: #f8f8f8;
            color: #333;
        }

        .td {
            border: none;
            margin: 0;
            text-align: center;
            border-bottom: 1px solid #ddd;
            padding: 20px;
            color: #888;
        }
    }



    @media screen and (max-width: 1280px) {
        display: block;
        font-size: 14px;

        dl.flex-50 {
            width: auto;
        }

        dl.flex-33 {
            width: auto;
        }

        dl {
            .th {
                text-align: center;
            }

            .td {
                text-align: left;
            }
        }
    }

    @media screen and (max-width: 768px) {
        font-size: 13px;

        &.table-flex--gray {
            .th {
                padding: 15px;
            }

            .td {
                padding: 15px;
            }
        }
    }
}


.table-flex-col {
    display: flex;

    .th {
        display: block;
        padding: 15px 10px;
        text-align: center;
        border: 1px solid #ddd;
        margin: -1px;
        background: #2356a2;
        color: #fff;
        flex: 1;
    }

    .td {
        display: block;
        padding: 15px 10px;
        text-align: center;
        border: 1px solid #ddd;
        margin: -1px;
        background: #fff;
        flex: 2;

        strong {
            display: block;
            color: #1a317a;
            font-size: 18px;
            padding-bottom: 5px;
        }

        .account {
            vertical-align: middle;
            line-height: 26px;

            img {
                vertical-align: text-bottom;
            }
        }
    }

    &.flex-16 {
        width: 16.66%;
    }

    &.flex-50 {
        width: 50%;
    }

    @media screen and (max-width: 1280px) {
        display: block;
        font-size: 14px;

        dl.flex-16 {
            width: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        dl {
            .th {
                text-align: center;
            }

            .td {
                text-align: left;
            }
        }
    }
}