//@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
    font-family: 'NanumSquareR';
    font-style: normal;
    font-weight: normal;
    src: local("Nanum Square"), url("../font/NanumSquareRoundR.woff") format("woff");
}

@font-face {
    font-family: 'NanumBG';
    font-style: normal;
    font-weight: normal;
    src: local("NanumBarunGothic"), url("../font/NanumBarunGothic.woff") format("woff");
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    src: local("OpenSans-Regular"), url("../font/OpenSans-Regular.woff") format("woff");
}

//OpenSans-Regular
.col-blue {
    color: #0385d0;
}

.col-navy {
    color: #073190;
}

.col-navy2 {
    color: #073190;
}

.bold {
    font-weight: bold;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

textarea {
    &::-webkit-input-placeholder {
        color: #777;
    }

    &:-ms-input-placeholder {
        color: #777;
    }

    &::-ms-input-placeholder {
        color: #777;
    }

    &::placeholder {
        color: #777;
    }
}

input {
    &::-webkit-input-placeholder {
        color: #aaa;
        font-family: 'OpenSans', 'NanumBG', sans-serif;
        font-size: 12px;
    }

    &:-ms-input-placeholder {
        color: #aaa;
        font-family: 'OpenSans', 'NanumBG', sans-serif;
        font-size: 12px;
    }

    &::-ms-input-placeholder {
        color: #aaa;
        font-family: 'OpenSans', 'NanumBG', sans-serif;
        font-size: 12px;
    }

    &::placeholder {
        color: #aaa;
        font-family: 'OpenSans', 'NanumBG', sans-serif;
        font-size: 12px;
    }
}


input[type="button"],
button {
    border: none;
    font-family: 'OpenSans', 'NanumBG', 'NanumBG', sans-serif;
    font-weight: normal;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 24px;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked~.checkmark {
            background-color: #fff;
            border: 1px solid #ddd;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 24px;
            height: 24px;

            &:after {
                display: block;
                background: #0385d0;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 50%;

        &:after {
            content: '';
            position: absolute;
            display: none;
            top: 6px;
            left: 6px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #2356a2;
        }
    }

    &:hover {
        input~.checkmark {
            background-color: #ccc;
        }
    }
}


body {
    width: 100%;
    background-color: #fff;
    font-family: 'OpenSans', 'NanumBG', 'Nanum Gothic', 'Malgun Gothic', 'dotum', arial, sans-serif;
    letter-spacing: -0.7px;
    overflow-x: hidden;
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin input-placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@import 'layout';
@import 'boards';
@import 'tables';
@import 'buttons';
@import 'list';
@import 'contents';