@import "reset";
@import "vars";
@import "mixin";
@import "animation";


@font-face {
    font-family: 'dream-thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dream-reg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dream-mid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 62.5%;
    //font-size: calc(100vw / 7.2);
    line-height: 1.3;
    -webkit-text-size-adjust: 100%;


    body {
        margin: 0;
        background-color: transparent;
        font-family: 'dream-reg', 'dotum', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        color: #333;
        min-width: 1440px;
    }
}


.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}


nav {
    position: absolute;
    right: 100px;
    top: 60px;
    z-index: 10;

    a {
        font-size: 14px;
        color: #fff !important;
        display: inline-block;
        margin-left: 50px;
        font-family: 'dream-reg', sans-serif;
        vertical-align: middle;
        text-transform: uppercase;
        letter-spacing: 1px;


        &.i-insta {
            width: 29px;
            height: 28px;
            background: url('../img/ico-insta.png') no-repeat;
        }
    }
}

.section-title {
    position: absolute;
    z-index: 100;
    right: -10px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.4rem;
    font-weight: normal;

    &.dark {
        color: #999;
    }
}

.visual {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;

        &::-webkit-media-controls-start-playback-button {
            display: none;
        }
    }

    .typo {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 1440px;
        @include push--auto;
        z-index: 10;
        color: #fff;
        font-family: 'dream-reg';

        h3 {
            font-size: 90px;

            span {
                font-family: 'dream-thin';
            }
        }

        p {
            font-size: 14px;
            font-family: 'dream-thin';
        }
    }
}


.about {
    padding: 135px 0;
    background: #e7e7e7;
    position: relative;

    .about-slide-wrap {
        width: 1455px;
        height: 620px;
        overflow: hidden;
        @include push--auto;
        position: relative;
    }

    .slide-item {

        .img,
        .typo {
            transition: 1.5s;
        }

        .img {
            width: 755px;
            height: 534px;
            background: url('../img/slide01.png') no-repeat;
            background-size: cover;
            position: absolute;
            left: -100px;
            top: 0;
            opacity: 0;
        }

        .typo {
            opacity: 0;
            transition-delay: 0.4s;
            background: #fff;
            width: 752px;
            height: 446px;
            box-shadow: 1px 7px 10px rgba($color: #000000, $alpha: 0.12);
            position: absolute;
            left: 793px;
            top: 145px;
            z-index: 1;
            padding: 100px 50px 50px 75px;
            color: #333333;

            dt {
                font-size: 2.4rem;
                text-transform: uppercase;
                line-height: 1;
                padding-bottom: 20px;
                font-family: 'dream-mid';

                b {
                    font-weight: bold;
                }
            }

            dd {
                font-size: 1.4rem;
                opacity: 0.8;
                line-height: 1.4;
                font-family: 'Arial', Helvetica, sans-serif;

                &.link {
                    position: absolute;
                    bottom: 50px;
                    left: 75px;


                    a {
                        display: block;
                        transition: 0.5s;

                        &::before {
                            content: '';
                            display: block;
                            width: calc(100% + 20px);
                            height: 3px;
                            position: absolute;
                            background: rgba($color: #000000, $alpha: 0.2);
                            left: -4px;
                            top: 50%;
                            z-index: -1;
                            transition: 1s;
                        }
                    }




                    a:hover {
                        font-weight: bold;
                        letter-spacing: 4px;

                        &::before {
                            width: 300px;
                        }
                    }
                }

            }
        }


        &.active {

            .img {
                opacity: 1;
                left: 0;
            }

            .typo {
                opacity: 1;
                left: 693px;
                z-index: 12;
            }
        }
    }

    .slide-pager {
        position: absolute;
        right: 13px;
        top: 95px;

        a {
            width: 23px;
            height: 2px;
            background: #8b8b8b;
            display: inline-block;
            transition: 1s;
        }

        .active {
            width: 73px;
            background: #000;
        }
    }
}

.gallery {
    position: relative;
    padding: 170px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    //width: 1440px;
    margin: 0 auto;

    .gallery-box {
        width: 300px;
        height: 437px;
        margin-left: 80px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px;
        color: #fff;
        position: relative;
        box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.5);
        font-family: 'dream-reg';
        font-size: 14px;
        overflow: hidden;
        transition: 0.5s;

        &:hover {
            box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.8);
            transform: scale(1.05);
        }

        h4 {
            padding-top: 250px;
            font-size: 18px;
            font-weight: normal;
            padding-bottom: 10px;
            text-transform: uppercase;
        }

        &:nth-of-type(1) {
            background-image: url('../img/gallery_01.png');
            margin-left: 0;
        }

        &:nth-of-type(2) {
            background-image: url('../img/gallery_02.png');
        }

        &:nth-of-type(3) {
            background-image: url('../img/gallery_03.png');
        }

        &:nth-of-type(4) {
            background-image: url('../img/gallery_04.png');
        }
    }
}


.contact {
    padding: 100px 0;
    background: #bcb1a8;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        width: 33px;
        height: 68px;
        background: url('../img/footer-tree.png') no-repeat;
        margin: 0 auto;
        display: block;
    }

    color:#fff;


    .contact-text {
        position: relative;
        display: inline-block;
        margin-top: 30px;
        font-size: 14px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: -15px;
            top: -5px;
            background: url('../img/t-quote.png')no-repeat;
            width: 12px;
            height: 11px;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            right: 45px;
            bottom: 0;
            background: url('../img/t-quote.png')no-repeat;
            width: 12px;
            height: 11px;
            transform: rotate(180deg)
        }
    }

    b {
        color: #594d43;
        text-decoration: underline;
        font-weight: bold;
        font-style: italic;
    }


    .searchbox {
        width: 513px;
        height: 45px;
        margin: 50px auto 0;
        box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.1);
        position: relative;
        font-family: 'dream-reg';

        input {
            width: 100%;
            height: 45px;
            line-height: 45px;
            border: none;
            background-color: #fff;
            padding-left: 10px;
            color: #948a82;
            font-family: 'dream-reg';
        }

        button {
            background: #948a82;
            color: #fff;
            position: absolute;
            height: 45px;
            line-height: 45px;
            top: 0;
            right: 0;
            width: 90px;
        }
    }

    footer {
        margin-top: 100px;
        font-size: 12px;
    }
}

::placeholder {
    color: #948a82;
    font-size: 14px;
    letter-spacing: 1px;
}

@media screen and (max-width: 1600px) {
    .section-title {
        display: none;
    }
}