@import 'reset';
@import 'slick';


html {
    font-size: 62.5%;
}

html body {
    font-family: 'Nanum Gothic', 'dotum', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    min-width: 1100px;
    margin: 0 auto;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

$urlLocation : '../img/';

@mixin bgUrl($url) {
    background-image: url($urlLocation + $url);
    background-repeat: no-repeat;
}

@mixin bgUrlSize($url, $width, $height) {
    background-image: url($urlLocation + $url);
    background-repeat: no-repeat;
    background-size: contain;
    width: $width+px;
    height: $height+px;
}

@mixin bgPosCenter {
    background-position: center;
}

@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

@keyframes scrollDown {
    0% {
        background-position: center 50%;
    }

    100% {
        background-position: center 70%;
    }
}


@keyframes circleMovement01 {
    0% {
        left: 280px;
        top: -125px;
    }

    50% {
        left: 200px;
        top: -100px;
    }

    100% {
        left: 230px;
        top: -15px;
    }
}


@keyframes circleMovement02 {
    0% {
        left: 100px;
        top: 260px;
    }


    100% {
        left: 150px;
        top: 300px;
    }
}


@keyframes circleMovement03 {
    0% {
        left: 100px;
        bottom: 50px;
    }


    100% {
        left: 150px;
        bottom: 100px;
    }
}

@keyframes circleMovement04 {
    0% {
        right: 265px;
        top: 50px;
    }


    100% {
        right: 285px;
        top: 50px;
    }
}

@keyframes circleMovement05 {
    0% {
        right: 110px;
        bottom: 180px;
    }


    100% {
        right: 120px;
        bottom: 140px;
    }
}

@keyframes circleMovement06 {
    0% {
        right: 350px;
        bottom: -170px;
    }


    100% {
        right: 300px;
        bottom: -150px;
    }
}




$breakpoints: ("phone": 400px,
    "phone-wide": 480px,
    "phablet": 560px,
    "tablet-small": 640px,
    "tablet": 768px,
    "tablet-wide": 1024px,
    "desktop": 1248px,
    "desktop-wide": 1440px);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type==max {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

$color-primary:#ccc;



header {
    background: #fbfbfb;
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;

    z-index: 8888;

    .header-top {
        height: 64px;
        line-height: 64px;
        text-align: right;
        width: 1100px;
        margin: 0 auto;
        position: relative;

        .logo {
            @include bgUrlSize('logo.png', 97, 39);
            position: absolute;
            top: 13px;
            left: 0;
        }

        a {
            display: inline-block;
            position: relative;

            &::before {
                content: '';
                width: 1px;
                height: 10px;
                background: #ddd;
                display: inline-block;
                margin: 0 10px;
            }

            &:nth-of-type(1)::before {
                display: none;
            }

        }
    }


}


#fullpage {

    .section {
        text-align: center;
        position: relative;

        .scroll-down {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 190px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            background-image: url('../img/scroll_arrow.png');
            background-repeat: no-repeat;
            background-position: center;
            transform: translateX(-50%);
            animation: scrollDown 1s infinite alternate;
        }



        .scroll-top {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 190px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            background-image: url("../img/scroll_top.png");
            background-repeat: no-repeat;
            background-position: center;
            transform: translateX(-50%);
            animation: scrollDown 1s infinite alternate;
        }


        .section-container {
            text-align: center;
            position: relative;
            z-index: 100;
            width: 1120px;
            @include push--auto();
        }
    }
}



#fullpage_nav {
    position: fixed;
    top: 50%;
    right: 50px;
    z-index: 1000;
    margin-top: -90px;
    text-align: right;

    &::after {
        position: absolute;
        top: 10px;
        bottom: 15px;
        right: 17px;
        z-index: 0;
        width: 1px;
        background: #b4b4b4;
        content: '';
    }

    li {
        position: relative;
        z-index: 2;

        &.active {
            span {
                color: #fff;
                background: #ff0014;
                font-weight: 700;

                &:after {
                    background: #fff;
                }
            }
        }
    }

    li+li {
        margin-top: 5px;
    }

    span {
        display: inline-block;
        position: relative;
        padding-left: 25px;
        padding-right: 35px;
        border-radius: 35px;
        font-size: 15px;
        color: #4f4f4f;
        line-height: 35px;
        font-size: 15px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        font-family: 'Nanum Gothic';


        &:after {
            position: absolute;
            top: 50%;
            right: 10px;
            width: 15px;
            height: 15px;
            margin-top: -8px;
            border-radius: 50%;
            background: #4f4f4f;
            content: '';
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }
    }


}


.section01 {
    z-index: 10;
    overflow: hidden;
    background-image: url('../img/section01_background.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;

    .scroll-down {
        background-color: #ffef6e;
    }

    .tit01 {
        @include bgUrlSize('section01_tit_01.png', 806, 128);
        margin: 0 auto;
    }

    .tit02 {
        @include bgUrlSize('section01_tit_02.png', 572, 48);
        margin: 30px auto 0;
    }

    .cont-wrap {
        margin-top: 80px;
        display: flex;
        justify-content: center;


        .item {
            margin-left: 13px;
            width: 178px;
            height: 246px;
            @include bgUrl('section01_cont_01.png');
            background-position: 0 0;
            position: relative;
            opacity: 0;
            transition: .5s;
        }

        .item--01 {
            margin-left: 0;
        }

        .item--02 {
            background-position: -178px 0;
            transition-delay: 0.2s;
            width: 180px;
        }

        .item--03 {
            background-position: -358px 0;
            transition-delay: 0.5s;
            width: 179px;
        }

        .item--04 {
            background-position: -537px 0;
            transition-delay: 0.8s;
            width: 179px;
        }

        .item--05 {
            background-position: -716px 0;
            transition-delay: 1.1s;
            width: 179px;
        }

        .item--06 {
            background-position: -895px 0;
            transition-delay: 1.4s;
            width: 154px;

        }
    }

    &.onSlide01 {
        .cont-wrap {
            .item {
                opacity: 1;
            }
        }
    }
}

.section02 {
    background-color: #ffef6e;
    overflow: hidden;

    .scroll-down {
        background-color: #ffffff;
    }

    .tit01 {
        @include bgUrlSize('section02_tit_01.png', 712, 123);
        margin: 0 auto;
        position: relative;

        &::before {
            content: '';
            display: block;
            background: url('../img/section02_badge.png') no-repeat;
            width: 161px;
            height: 122px;
            position: absolute;
            left: 0;
            top: -78px;
        }
    }

    .cir-move {
        display: block;
        position: absolute;
        border-radius: 50%;
        box-sizing: border-box;

        &-01 {
            left: 280px;
            top: -125px;
            border: 50px solid #f6e55e;
            width: 281px;
            height: 281px;
            transition: 3s;
            animation: circleMovement01 10s infinite alternate linear;
        }

        &-02 {
            left: 100px;
            top: 260px;
            border: 20px solid #f9e863;
            width: 125px;
            height: 125px;
            transition: 2s;
            animation: circleMovement02 8s infinite alternate linear;
        }

        &-03 {
            left: 100px;
            bottom: 50px;
            border: 40px solid #f5e45c;
            width: 220px;
            height: 220px;
            transition: 2s;
            animation: circleMovement03 2s infinite alternate linear;
        }

        &-04 {
            right: 265px;
            top: 50px;
            border: 35px solid #f5e45c;
            width: 190px;
            height: 190px;
            animation: circleMovement04 1s infinite alternate linear;
        }

        &-05 {
            right: 110px;
            bottom: 180px;
            border: 40px solid #f9e863;
            width: 180px;
            height: 180px;
            animation: circleMovement05 5s infinite alternate linear;
        }

        &-06 {
            right: 350px;
            bottom: -170px;
            border: 55px solid #faea66;
            width: 300px;
            height: 300px;
            animation: circleMovement06 7s infinite alternate linear;
        }

    }




    .slide-banner-wrap {
        width: 100%;
        height: 430px;
        margin-top: 70px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        display: flex;

        .slide-item {
            height: 100%;
            width: 94px;
            float: left;
            position: relative;
            overflow: hidden;
            transition: 0.4s;
            margin-left: -1px;
            cursor: pointer;
            // border-left: 1px solid #cdc366;
            // border-right: 1px solid #cdc366;

            &::after {
                @include pseudo();
                @include bgUrlSize('section02_cont_line.png', 1, 430);
                right: 0;
                top: 0;
                bottom: 0;
            }

            &::before {
                @include pseudo();
                @include bgUrlSize('section02_cont_line.png', 1, 430);
                left: 0;
                top: 0;
                bottom: 0;
            }

            .item-off {
                width: 94px;
                height: 100%;
                opacity: 1;
                transition: 0.1s ease-in-out;

            }

            .item-on {
                opacity: 0;
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                top: 0;
                display: none;
                transition: 0.1s ease-in-out;
            }

            &.on {
                width: 650px;

                .item-off {
                    opacity: 0;
                }

                .item-on {
                    opacity: 1;
                    display: block;
                }


            }




            &.slide-item--01 {
                margin-left: 0;

                &.on {
                    border-left: none;
                }

                .item-on {
                    background: url('../img/section02_cont_01_cnt_on.png') no-repeat 31px top;
                    height: 430px;
                    background-position: 31px top;

                    .btn-download {
                        position: absolute;
                        bottom: 35px;
                        left: 31px;
                        @include bgUrlSize('section02_cont_01_cnt_btn.png', 300, 52);
                        transition: all 0.5s;

                        &:hover {
                            background-image: url("../img/section02_cont_01_cnt_btn_over.png");
                        }
                    }
                }

                .item-off {
                    background: url('../img/section02_cont_01_tit_off.png') no-repeat center 25px;
                }
            }

            &.slide-item--02 {

                .item-on {
                    background: url('../img/section02_cont_02_cnt_on.png') no-repeat 31px top;

                    .btn-download2 {
                        position: absolute;
                        bottom: 35px;
                        left: 31px;
                        @include bgUrlSize('section02_cont_01_cnt_btn2.png', 220, 52);
                        transition: all 0.5s;

                        &:hover {
                            background-image: url("../img/section02_cont_01_cnt_btn2_over.png");
                        }
                    }

                    .btn-download3 {
                        position: absolute;
                        bottom: 35px;
                        left: 260px;
                        @include bgUrlSize('section02_cont_01_cnt_btn3.png', 220, 52);
                        transition: all 0.5s;

                        &:hover {
                            background-image: url("../img/section02_cont_01_cnt_btn3_over.png");
                        }
                    }
                }

                .item-off {
                    background: url('../img/section02_cont_02_tit_off.png') no-repeat center 25px;
                }
            }

            &.slide-item--03 {

                .item-on {
                    background: url('../img/section02_cont_03_cnt_on.png') no-repeat 31px top;

                }

                .item-off {
                    background: url('../img/section02_cont_03_tit_off.png') no-repeat center 25px;
                }
            }

            &.slide-item--04 {

                .item-on {
                    background: url('../img/section02_cont_04_cnt_on.png') no-repeat 31px top;

                }

                .item-off {
                    background: url('../img/section02_cont_04_tit_off.png') no-repeat center 25px;
                }
            }

            &.slide-item--05 {

                .item-on {
                    background: url('../img/section02_cont_05_cnt_on.png') no-repeat 31px top;

                }

                .item-off {
                    background: url('../img/section02_cont_05_tit_off.png') no-repeat center 25px;
                }
            }

            &.slide-item--06 {

                .item-on {
                    background: url('../img/section02_cont_06_cnt_on.png') no-repeat 31px top;

                }

                .item-off {
                    background: url('../img/section02_cont_06_tit_off.png') no-repeat center 25px;
                }
            }

        }
    }


    .preview {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 4000;

        .preview-inner {
            width: 970px;
            height: 645px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #000;
            -webkit-box-shadow: 5px 2px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 5px 2px 1px rgba(0, 0, 0, 0.1);
            z-index: 5000;
        }

        img {
            display: none;
            width: 970px;
            height: 645px;
        }

        .btn-close {
            position: absolute;
            top: -30px;
            right: 0;
            background-image: url("../img/btn-close-preview.png");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }


    }



}


.section03 {
    background-color: #fff;
    background-image: url('../img/section03_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .scroll-down {
        background-color: #c3dcff;
    }

    .tit01 {
        @include bgUrlSize('section03_tit_01.png', 432, 57);
        margin: 0 auto;
    }

    .tit02 {
        @include bgUrlSize('section03_tit_02.png', 752, 49);
        margin: 30px auto 0;
    }

    .tit03 {
        @include bgUrlSize('section03_tit_03.png', 691, 50);
        margin: 40px auto 0;
    }

    .tit04 {
        @include bgUrlSize('section03_tit_04.png', 520, 47);
        margin: 25px auto 0;
    }

    .cont-flex-box {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        &:nth-of-type(2) {
            margin-top: 40px;
        }

        .item {
            margin-left: 20px;


            &:nth-of-type(1) {
                margin-left: 0;
            }

            &01 {
                @include bgUrlSize('section03_botari_01.png', 270, 231);
            }

            &02 {
                @include bgUrlSize('section03_botari_02.png', 301, 231);
            }

            &03 {
                @include bgUrlSize('section03_botari_03.png', 279, 231);
            }


            &04 {
                @include bgUrlSize('section03_botari_04.png', 167, 182);
            }

            &05 {
                @include bgUrlSize('section03_botari_05.png', 167, 182);
            }
        }
    }
}


.section04 {
    background-color: #c3dcff;
    background-image: url('../img/section04_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .scroll-down {
        background-color: #e2f2f8;
    }

    .tit01 {
        @include bgUrlSize('section04_tit_01.png', 906, 59);
        margin: 0 auto;
    }

    .tit02 {
        @include bgUrlSize('section04_tit_02.png', 408, 48);
        margin: 30px auto 0;
    }

    .cont-wrap {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .item {
            margin-left: 35px;


            &:nth-of-type(1) {
                margin-left: 0;
            }

            &01 {
                @include bgUrlSize('section04_cont_01.png', 513, 570);
            }

            &02 {
                @include bgUrlSize('section04_cont_02.png', 513, 570);
            }
        }
    }
}


.section05 {
    background-color: #e2f2f8;
    overflow: hidden;
    background-image: url('../img/section05_background.png');
    background-repeat: no-repeat;
    background-size: cover;

    .scroll-down {
        background-color: #fff;
    }

    .tit01 {
        @include bgUrlSize('section05_tit_01.png', 708, 58);
        margin: 0 auto;
    }

    .tit02 {
        @include bgUrlSize('section05_tit_02.png', 528, 48);
        margin: 30px auto 0;
    }

    .cont-wrap {
        margin-top: 50px;
        display: flex;
        justify-content: center;

        .item {
            margin-left: 20px;
            width: 150px;
            height: 237px;
            @include bgUrl('section05_cont_01.png');
            background-position: 0 0;
            position: relative;
            opacity: 0;
            transition: .5s;
        }

        .item--01 {
            transition-delay: 0.2s;
        }

        .item--02 {
            background-position: -150px 0;
            transition-delay: 0.5s;
        }

        .item--03 {
            background-position: -300px 0;
            transition-delay: 0.8s;
        }

        .item--04 {
            background-position: -450px 0;
            transition-delay: 1.1s;
        }

        .item--05 {
            background-position: -600px 0;
            transition-delay: 1.4s;
        }

        .item--06 {
            width: 157px;
            margin-left: 15px;
            background-position: -750px 0;
            transition-delay: 1.7s;

            &::after {
                display: none;
            }
        }
    }

    .btn-area {
        margin-top: 30px;
        text-align: center;
        letter-spacing: -10px;

        &>a {
            display: inline-block;
            letter-spacing: 0;
        }

        .btn-applyMembership {
            @include bgUrlSize('section05_cont_btn_01.png', 320, 70);
            margin-right: 10px;
        }

        .btn-viewContents {
            @include bgUrlSize('section05_cont_btn_02.png', 320, 70);
        }

    }

    &.active {
        .cont-wrap {
            .item {
                opacity: 1;
            }
        }
    }
}



.section06 {
    background-color: #fff;
    overflow: hidden;
    background-image: url('../img/section06_background.png');
    background-repeat: no-repeat;
    background-size: cover;

    .scroll-down {
        background-color: #eef1ed;
    }

    .tit01 {
        @include bgUrlSize('section06_tit_01.png', 671, 123);
        margin: 0 auto;
        position: relative;

        &::before {
            content: '';
            display: block;
            background: url('../img/section06_badge.png') no-repeat;
            width: 161px;
            height: 122px;
            position: absolute;
            left: -22px;
            top: -78px;
        }
    }

    .tit02 {
        @include bgUrlSize('section06_tit_02.png', 388, 21);
        margin: 30px auto 0;
    }



    .plan-download {
        margin-top: 40px;
        border: 1px solid #cecece;
    }

    .plan-top-tab {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        background-color: #f6f6f6;

        li {
            width: 14.28%;
            height: 60px;
            border-left: 1px solid #cecece;
            border-bottom: 1px solid #cecece;
            cursor: pointer;

            span {
                display: block;
                margin: 0 auto;
                height: 16px;
                margin-top: 23px;
                @include bgUrl('section06_tab_title.png');
                background-repeat: no-repeat;
            }

            &.on {
                background-color: #fff;
                border-bottom-color: #fff;

                span {
                    background-position-y: -16px !important;
                }
            }

            &.tab01 {
                span {
                    width: 82px;

                }
            }

            &.tab02 {
                span {
                    width: 78px;
                    background-position: -82px 0;

                }
            }

            &.tab03 {
                span {
                    width: 63px;
                    background-position: -160px 0;
                }
            }

            &.tab04 {
                span {
                    width: 94px;
                    background-position: -223px 0;
                }
            }

            &.tab05 {
                span {
                    width: 62px;
                    background-position: -317px 0;
                }
            }

            &.tab06 {
                span {
                    width: 61px;
                    background-position: -379px 0;
                }
            }

            &.tab07 {
                span {
                    width: 62px;
                    background-position: -440px 0;
                }
            }

            &:first-child {
                border-left: 0;
            }
        }
    }

    .plan-cont {
        height: 175px;
        opacity: 0;
        display: none;
        box-sizing: border-box;
        padding: 30px;
        letter-spacing: -10px;
        transition: 1s;
        background-color: #fff;

        .flex-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .normal-container {
            display: block;

            &:nth-of-type(1) {
                margin-bottom: 10px;
            }

            .cont-tit {
                background-position: right center;
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
                width: 90px !important;

                &--01 {
                    @include bgUrlSize('section06_tab_cont_tit_01.png', 89, 20);
                }

                &--02 {
                    @include bgUrlSize('section06_tab_cont_tit_02.png', 59, 21);
                }
            }
        }

        &.on {
            display: block !important;

            opacity: 1;
        }

        a {
            letter-spacing: 0
        }

        .btn-down1 {
            background-color: #1ec17e;
            display: inline-block;
            vertical-align: middle;
            width: 220px;
            height: 62px;
            line-height: 62px;
            border-radius: 30px;
            text-align: center;
            margin-left: 10px;
            transition: all 0.5s;

            &:hover {
                background-color: #3172dc !important;
            }

            span {
                margin-top: -2px;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .btn-down2 {
            background-color: #1ec17e;
            display: inline-block;
            vertical-align: middle;
            width: 200px;
            height: 52px;
            line-height: 52px;
            border-radius: 26px;
            text-align: center;
            margin-left: 10px;
            transition: all 0.5s;

            &.bg-mint {
                background-color: #33d6c1;
            }

            &:hover {
                background-color: #3172dc !important;
            }

            span {
                margin-top: -2px;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .btn-down-all {
            margin-left: 0;

            span {

                @include bgUrlSize('section06_btn_text_all.png', 125, 16);
            }
        }

        .btn-down-age3 {
            span {
                @include bgUrlSize('section06_btn_text_age3.png', 134, 16);
            }
        }

        .btn-down-age4 {
            span {
                @include bgUrlSize('section06_btn_text_age4.png', 134, 16);
            }
        }

        .btn-down-age5 {
            span {
                @include bgUrlSize('section06_btn_text_age5.png', 134, 16);
            }
        }
    }
}


.section07 {
    background-color: #eef1ed;
    overflow: hidden;
    background-image: url('../img/section07_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    //border-bottom: 1px solid #d4d4d4;

    .tit01 {
        @include bgUrlSize('section07_tit_01.png', 434, 57);
        margin: 0 auto;
    }

    .tit02 {
        @include bgUrlSize('section07_tit_02.png', 295, 48);
        margin: 30px auto 0;
    }

    .cont-wrap {
        margin-top: 40px;

        .event-banner {
            display: block;
            margin: 0 auto;
            @include bgUrlSize('section07_event_01.png', 1045, 300);
        }

        .btn-wrap {
            margin-top: 30px;
            text-align: center;
            letter-spacing: -10px;

            &>a {
                display: inline-block;
                vertical-align: middle;
                @include bgUrlSize('section07_event_01_btn_01.png', 242, 66);

                &.btn-face {
                    @include bgUrlSize('section07_event_01_btn_02.png', 242, 66);
                    margin-left: 10px;
                }
            }
        }
    }
}

.section {
    padding: 0 !important;
    margin: 0 !important;
}


.section--footer {
    border-top: 1px solid #d4d4d4;
}


@media screen and (max-width: 1280px) {
    header .header-top {
        width: auto;

        .logo {
            left: 10px;
        }

        .nn-top-menu {
            padding-right: 10px;
        }
    }



    #fullpage_nav {
        display: none;
    }

}

@media screen and (max-width: 1100px) {

    html body {
        min-width: 800px;
        max-width: 100%;
    }

    #fullpage .fp-tableCell,
    #fullpage .section {
        height: auto !important;
    }

    #fullpage>.section {

        padding: 80px 0 !important;

        .section-container {
            width: 100% !important;
            padding: 2%;
            box-sizing: border-box;
        }


        .scroll-down {
            display: none;
        }

        &.section01 {
            padding-top: 130px !important
        }
    }




    //section 
    .section01 {

        .tit01 {
            width: 600px;
            height: 96px
        }

        .tit02 {
            width: 500px;
            height: 42px;

        }

        .cont-wrap {
            flex-wrap: wrap;
            margin-top: 40px;

            .item {
                transform: scale(0.7);
                margin: -25px;
                transition: .1s;

                &--04 {
                    display: block
                }
            }
        }
    }

    .section02 {
        .section-container {
            padding: 0 !important;
        }

        .tit01 {
            width: 600px;
            height: 104px;

            &::before {
                width: 111px;
                height: 84px;
                background-size: contain;
                left: 40px;
                top: -40px;
            }
        }

        .slide-banner-wrap {
            height: auto;
            display: block;
            width: 640px;
            position: relative;
            overflow: visible;
            @include push--auto();

            .slick-arrow {
                position: absolute;
                font-size: 0;
                border: 0;
                background-color: transparent;
                width: 50px;
                height: 50px;
                border: 1px solid rgba($color: #000000, $alpha: 0.1);
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center;
                transition: 0.5s;
                transform: translateY(-50%);

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: rgba($color: #fff, $alpha: 0.8);
                }

                &.slick-prev {
                    left: -80px;
                    top: 50%;
                    background-image: url('../img/section01_cont_arr.png');
                    transform-origin: center;
                    transform: rotateY(180deg);
                }

                &.slick-next {
                    right: -80px;
                    top: 50%;
                    background-image: url('../img/section01_cont_arr.png');
                }
            }

            .slide-item {
                width: 100%;
                height: 430px;
                opacity: 1;
                display: block;

                &::before {
                    display: none;
                }


                .item-off {
                    display: none
                }

                .item-on {
                    opacity: 1;

                    position: static;
                    display: block;
                    background-size: contain !important;
                    background-position: center !important;
                }

                &::after {
                    display: none;
                }
            }
        }


        .preview {
            position: static;
            background-color: transparent;

            .preview-inner {
                width: auto;
                height: auto;
                min-width: 800px;
                border: none;
                text-align: center;
                box-shadow: none;
            }

            img {
                max-width: 90%;
                height: auto;
            }
        }

        .cir-move {
            animation: none;

            &.cir-move-01 {
                left: 10%;
                top: -20%;
            }

            &.cir-move-02 {
                top: 40%;
                left: 5%;
            }

            &.cir-move-03 {
                top: 80%;
                left: 0%;
            }

            &.cir-move-04 {
                top: 10%;
                right: 15%;
            }

            &.cir-move-05 {
                top: 50%;
                right: 5%;
            }

            &.cir-move-06 {
                top: 80%;
                right: 11%;
            }
        }
    }
}

.section03 {
    .tit01 {
        width: 400px;
        height: 53px;
    }

    .tit02 {
        width: 660px;
        height: 43px;
    }

    .tit03 {
        width: 590px;
        height: 43px;
        margin: 20px auto 0;
    }

    .cont-flex-box .item {
        width: 31% !important;
        background-position: center bottom;
    }
}

.section04 {
    .tit01 {
        width: 700px;
        height: 46px;
    }

    .tit02 {
        width: 360px;
        height: 43px;
        margin: 20px auto 0;
    }

    .cont-wrap {
        .item {
            margin-left: 20px;
            height: 458px !important
        }
    }
}

.section05 {
    .tit01 {
        width: 600px;
        height: 50px;
    }

    .tit02 {
        width: 450px;
        height: 41px;
        margin: 20px auto 0;
    }

    .cont-wrap {
        margin-top: 30px;

        .item {
            transform: scale(0.8);
            margin: -10px !important;
        }
    }
}

.section06 .tit01 {
    width: 568px;
    height: 104px;

    &::before {
        width: 111px;
        height: 84px;
        background-size: contain;
        left: 30px;
        top: -40px;
    }
}