@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../font/NanumBarunGothic.eot');
    src: url('../font/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumBarunGothic.woff') format('woff'),
        url('../font/NanumBarunGothic.ttf') format('truetype'),
}

@font-face {
    font-family: 'NanumSquare';
    src: url('../font/NanumSquareR.eot');
    src: url('../font/NanumSquareR.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquareR.woff') format('woff'),
        url('../font/NanumSquareR.ttf') format('truetype'),
}