$color-primary: #ffd666;
$color-primary-dark: #ffce39;
$color-primary-grey: #f0a800;

body {
    width: 100%;
    background-color: #fff;
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.7px;
    overflow-x: hidden;

}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

//font-family: 'Roboto', sans-serif;
//font-family: 'Noto Sans KR', sans-serif;

header {
    width: 100%;

    .header-wrap {
        width: 1200px;
        margin: 0 auto;
        position: relative;
        z-index: 3000;
    }

    .logo {
        position: absolute;
        left: 10px;
        top: 33px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.4px;

        &>i {
            color: $color-primary
        }


        &>span {
            display: block;
            color: #ddd;
            font-size: 12px;
            margin-top: 3px;
            letter-spacing: 0px;
            text-align: center;
            font-weight: normal;
        }
    }

    #gnb {
        margin-left: 310px;
        height: 100px;
        text-align: center;

        .depth01>li {
            float: left;
            width: 14.2%;
            position: relative;


            &>a {
                line-height: 100px;
                display: block;
                font-size: 14px;
                font-weight: bold;
                transition: .3s;
                overflow: hidden;
                height: 100px;
            }

            &.on>a {
                color: $color-primary;
            }

            &.on>.depth02 {
                background: $color-primary;
                color: #333;
            }

            .depth02 {
                display: none;
                position: absolute;
                background: #fff;
                top: 101px;
                left: 0;
                width: 100%;
                z-index: 1;


                a {
                    display: block;
                    font-size: 12px;
                    line-height: 15px;
                    text-transform: uppercase;
                    padding: 10px 4px;
                    transition: .3s;
                    letter-spacing: 0.5px;

                    &:hover {
                        background: #333;
                        color: #fff;
                    }
                }
            }
        }
    }

    .gnb-all {
        position: absolute;
        right: 10px;
        top: 25px;
        width: 150px;
        background: $color-primary;
        height: 50px;
        z-index: 3001;



        a {
            display: block;
            line-height: 50px;
            color: #fff;
            position: relative;
            padding-left: 45px;
            font-size: 14px;
            transition: .3s;

            &::before {
                content: '\f0c9';
                font-family: "Font Awesome 5 Free";
                font-style: normal;
                font-weight: 700;
                color: #333;
                font-size: 20px;
                position: absolute;
                left: 20px;
                top: 2px;
            }

            &:hover {
                background: #333;
                color: $color-primary;

                &::before {
                    color: $color-primary;
                }
            }
        }
    }
}

.main-visual {
    width: 100%;
    height: 970px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    //background: linear-gradient(180deg, #e8e8e8 0%, #989898 100%);


    .panel>li {
        position: absolute;
        z-index: 1000;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: none;

        background-image: url('../img/mini-figure.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;


        &.on {
            opacity: 1;
            z-index: 1500;
            display: block;

            h3,
            p,
            a {
                transform: translate(0, 0);
                opacity: 1;
            }
        }

        &:nth-child(1) {
            //background-image: linear-gradient(180deg, #e8e8e8 0%, #989898 100%);
            color: #fff;

            .btn-more {
                color: #fff;
                border-color: #fff;
            }
        }

        &:nth-child(2) {
            //background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
            background-image: url('../img/architecture.jpg');
            color: #fff;

            .btn-more {
                color: #fff;
                border-color: #fff;
            }
        }

        &:nth-child(3) {
            //background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
            background-image: url('../img/ferriswheel.jpg');

            color: #fff;

            .btn-more {
                color: #fff;
                border-color: #fff;
            }
        }

        &:nth-child(4) {
            //background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
            background-image: url('../img/building2.jpg');
            color: #fff;

            .btn-more {
                color: #fff;
                border-color: #fff;
            }
        }

    }

    .panel-inner {
        width: 1200px;
        margin: 140px auto 0 auto;
        padding: 0 0 0 180px;
        box-sizing: border-box;

        h3,
        p,
        a {
            opacity: 0;
        }

        h3 {
            font-size: 40px;
            font-weight: bold;
            text-transform: uppercase;
            transform: translateY(-100px);
            transition: 1s;
            transition-delay: .1s
        }

        .panel-text-01 {
            margin-top: 30px;
            font-weight: bold;
            transform: translateX(-100px);
            transition: 1s;
            transition-delay: .4s
        }

        .panel-text-02 {
            width: 50%;
            text-align: justify;
            margin-top: 10px;
            line-height: 1.4;
            transform: translateX(100px);
            transition: 1s;
            transition-delay: .6s
        }

        .btn-more {
            border: 1px solid #333;
            line-height: 35px;
            width: 200px;
            height: 35px;
            padding-left: 20px;
            box-sizing: border-box;
            margin-top: 40px;
            font-size: 14px;
            display: block;
            color: #333;
            position: relative;
            transition: 1s;
            transform: translateY(-100px);

            &:hover {
                background: #333;
                border-color: #000;
                color: #fff;

                &::after {
                    background: #fff;
                }
            }

            &::after {
                content: '';
                display: block;
                width: 35%;
                position: absolute;
                top: 20px;
                right: 20px;
                background: #333;
                height: 1px;
            }
        }

    }

    .panel-navi-wrap {
        position: absolute;
        z-index: 3500;
        top: 450px;
        left: 50%;
        transform: translateX(-50%);
        width: 320px;
        margin: 0 auto;
        text-align: center;

        font-size: 0;
        letter-spacing: 0;

        .btn-play {
            display: inline-block;
            border-radius: 2px;
            width: 0;
            height: 0;
            border-left: 8px solid #fff;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            vertical-align: bottom;
            margin-left: 10px;
            transition: 1s;


            &.on {
                border: 0;
                width: 10px;
                height: 10px;
                background: #333;
            }
        }
    }

    .panel-navi {
        display: inline-block;

        li {
            display: inline-block;
            cursor: pointer;
            width: 15px;
            height: 10px;
            margin: 0 4px;
            background: #fff;
            border-radius: 10px;
            transition: 1s;

            &.on {
                background: #333;
                width: 100px;
            }
        }
    }
}

.main-banner {
    position: relative;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    margin-top: 500px;
    z-index: 1600;

    &>div {
        width: 33.33%;
        float: left;
        height: 330px;
        background: $color-primary-dark;
        box-sizing: border-box;
        padding: 40px 50px;
        position: relative;
        color: #fff;
        transition: .5s;

        &:hover {
            background: $color-primary-dark;
        }

        &:nth-child(2) {
            background-color: #222;

            &:hover {
                background: #000;
            }
        }

        &:nth-child(3) {
            background-color: #999;

            &:hover {
                background: #555
            }

        }

        dt {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            padding-bottom: 10px;

            em {
                display: block;
                margin-top: 4px;
                font-size: 25px;
            }
        }

        dd {
            line-height: 1.5;
            font-size: 14px;
        }

        .btn-more {
            width: 40px;
            height: 40px;
            background: #333;
            display: block;
            position: absolute;
            bottom: 50px;
            left: 50px;
            color: #fff;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            transition: .3s;
            border: 1px solid #333;

            &:hover {
                background: #fff;
                color: #333;
            }

        }
    }
}

.main-notice {
    width: 1200px;
    height: 55px;
    background: #fff;
    margin: 35px auto;
    line-height: 55px;
    box-sizing: border-box;
    padding: 0 50px;
    position: relative;
    overflow: hidden;
    z-index: 1601;

    h3 {
        font-weight: bold;
    }

    .notice-list {
        position: absolute;
        top: 0;
        left: 180px;
        width: calc(100% - 180px);

        p {
            height: 55px;
            overflow: hidden;
        }

        a {
            display: inline-block;
            text-transform: uppercase;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 500px;

        }

        .date {
            margin-right: 80px;
            float: right;
            display: block;
        }


    }

    .btn-more {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        background: #333;
        color: #fff;
        display: block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
    }
}

.section-title {
    position: relative;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 85px;

    &>p {
        font-size: 12px;
        margin-top: 4px;
        color: #999;
        letter-spacing: 3px;
    }

    span {
        background: #fff;
        display: inline-block;
        padding: 0 40px;
        position: relative;

        em {
            color: $color-primary;
        }
    }

    &::before {
        content: '';
        width: 100%;
        height: 1px;
        background: #333;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

    }
}

.main-news {
    width: 1200px;
    margin: 0 auto;
    padding: 90px 0;

    &.on {
        .section-container>ul li {
            transform: rotateY(0deg) translateY(0);
            opacity: 1;
        }
    }

    .section-container>ul {
        overflow: hidden;
        perspective: 1000px;

        li {
            float: left;
            width: 23.25%;
            position: relative;
            margin-left: 2.33%;
            opacity: 0;
            transform: rotateY(90deg) translateY(-100px);
            transition: 1s;


            &:first-child {
                margin-left: 0;
            }


            &:nth-of-type(1) {
                .thumb {
                    background-image: url('../img/mini-figure.jpg');
                    height: 200px;
                }

                transition-delay: .1s;
            }

            &:nth-of-type(2) {
                .thumb {
                    background-image: url('../img/architecture.jpg');
                    height: 250px;
                }

                transition-delay: .3s;
            }

            &:nth-of-type(3) {
                .thumb {
                    background-image: url('../img/building.jpg');
                    height: 200px;
                }

                transition-delay: .5s;
            }

            &:nth-of-type(4) {
                .thumb {
                    background-image: url('../img/bulldozer.jpg');
                    height: 250px;
                }

                transition-delay: .7s;
            }

            .thumb {
                max-height: 200px;
                max-height: 250px;
                max-width: 100%;
                overflow: hidden;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            dl {
                padding-left: 10px;
            }

            dt {
                font-weight: bold;
                font-size: 20px;
                margin-top: 20px;
                padding-bottom: 10px;
            }

            .text {
                line-height: 1.4;
                max-height: 70px;
                overflow: hidden;
                position: relative;
                text-align: justify;
                color: #999;

                &.overflow::after {
                    content: '...';
                    right: 0;
                    background: #fff;
                    bottom: 0;
                    padding-left: 7px;
                    position: absolute;
                }
            }

            .date {
                margin-top: 10px;
                font-size: 14px;
            }

            .btn {
                position: absolute;
                bottom: 0;
                left: 10px;

                a {
                    display: block;
                    border: 1px solid #333;
                    line-height: 30px;
                    height: 30px;
                    width: 130px;
                    font-weight: bold;
                    position: relative;
                    font-size: 12px;
                    padding-left: 18px;
                    box-sizing: border-box;
                    transition: .5s;

                    &:hover {
                        background: #333;
                        color: $color-primary;

                        &::after {
                            background: $color-primary;
                            width: 26%;
                            left: 82px;
                        }
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 4%;
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        background: #333;
                        height: 1px;
                        transition: .5s;
                        transition-delay: .3s;
                    }
                }
            }
        }
    }

}

.main-biz-banner {
    background: $color-primary;
    padding: 100px 0;

    &.on {
        .section-container {
            &::before {
                left: 0;
                opacity: 1;
            }
        }
    }

    .section-container {
        width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
        padding-left: 35%;
        position: relative;

        &::before {
            content: '';
            width: 50%;
            height: 460px;
            position: absolute;
            left: -400px;
            opacity: 0;
            bottom: -110px;
            background: url('../img/man.png') no-repeat;
            background-size: contain;
            background-position: bottom left;
            transition: all 2s cubic-bezier(0, 0, 0.15, 1.74);
        }



        h3 {
            color: #fff;
            font-size: 30px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;

            span {
                display: block;
                color: #333;
                font-size: 15px;
                margin-top: 20px;
            }
        }

        .biz-banner-text {
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            line-height: 1.3;
            margin-top: 10px;
            position: relative;
        }

        .btn-more {
            background: #333;
            display: block;
            width: 140px;
            height: 30px;
            line-height: 30px;
            color: #fff;
            margin: 10px auto;
            font-size: 12px;
            text-align: center;
            transition: .3s;
            border: 1px solid $color-primary;

            &:hover {
                background: $color-primary-dark;
                border: 1px solid #333;
                color: #333;
                font-weight: bold;
            }
        }
    }

}

.main-about {
    padding: 90px 0 150px 0;
    background: #efefef;

    .section-title span {
        background: #efefef;
    }

    .section-container {
        width: 1000px;
        margin: 0 auto;
        font-size: 0;
        letter-spacing: 0;
        text-align: center;
    }

    .about-item {
        width: 30%;
        font-size: 15px;
        display: inline-block;
        margin-left: 5%;
        text-transform: uppercase;

        &:first-child {
            margin-left: 0;
        }

        .about-figure {
            font-family: 'Anton', sans-serif;

            strong {
                display: block;
                font-size: 150px;
                font-weight: bold;
                letter-spacing: 1px;
                text-shadow: 3px 3px 10px #33333340;
                color: #3c3c3c;
                transition: .3s;

                &:hover {
                    text-shadow: 3px 3px 10px #333333b5;
                }
            }

            em {
                display: block;
                font-weight: normal;
                margin-top: 10px;
                font-size: 25px;
                letter-spacing: 2px;
                color: #8c8c8c;
            }
        }

        .about-title {
            margin-top: 35px;
            font-size: 25px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }

        .about-context {
            line-height: 1.3;
            margin-top: 15px;

        }
    }
}

.main-info {
    padding: 90px 0;
    overflow: hidden;

    &.on .info-wrap {

        .info-item-left,
        .info-item-center,
        .info-item-right {
            transform: translate(0);
            opacity: 1;
        }

    }

    .section-title {
        margin-bottom: 80px
    }

    .section-container {
        width: 1200px;
        margin: 0 auto;
    }

    .info-wrap {
        text-transform: uppercase;

        &::after {
            content: '';
            clear: both;
            display: table;
        }

        &>div {
            box-sizing: border-box;
            height: 380px;
            padding: 30px;
            transition: 1s;
            opacity: 0;
        }

        .info-item-left {
            float: left;
            width: 25%;
            background: $color-primary-dark;
            transform: translateX(-100px);

            &:hover {
                background: $color-primary-grey;
            }
        }

        .info-item-center {
            float: left;
            width: 50%;
            position: relative;
            padding: 0;
            transform: translateY(-100px);

            &::after {
                content: '';
                display: table;
                clear: both;
            }

            .info-item--history,
            .info-item--philosophy {
                width: 50%;
                height: 50%;
                float: left;
                background: #b9b8b7;
                padding: 30px;
                box-sizing: border-box;

                .title {
                    color: #fff;

                    &::after {
                        background: #fff;
                    }
                }
            }

            .info-item--philosophy {
                background: #353535;
            }

            .info-item--stock {
                clear: both;
                height: 50%;
                padding: 30px;
                box-sizing: border-box;
                background: #eee;

                .title {
                    display: inline-block;
                    color: #333;

                    &::after {
                        background: #333;
                    }
                }

                .text {
                    display: inline-block;
                    margin-left: 10px;
                    color: #999
                }

                .stock {
                    position: relative;


                    .stock-current {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 50%;
                        text-align: center;
                        font-size: 40px;
                        letter-spacing: -1px;
                        font-weight: bold;
                    }

                    .stock-detail {
                        float: right;
                        width: 42%;
                        margin-top: -55px;

                        li {
                            border-bottom: 1px solid #c1c1c1;
                            padding: 10px 0;
                            overflow: hidden;

                            .tit {
                                font-weight: bold;
                                display: block;
                                float: left;
                            }

                            .def {
                                float: right;
                                text-align: right;
                                max-width: 50%;
                                display: block;
                                box-sizing: border-box;
                                padding-right: 20px;
                            }
                        }
                    }
                }
            }
        }

        .info-item-right {
            float: right;
            width: 25%;
            background: url('../img/abandoned.jpg') no-repeat;
            background-size: cover;
            background-position: center;
            transform: translateX(100px);
        }

        .title {
            font-size: 25px;
            position: relative;
            font-weight: bold;
            letter-spacing: -1px;
            padding-bottom: 20px;
            color: #fff;

            &::after {
                content: '';
                margin-top: 10px;
                display: block;
                width: 20px;
                height: 2px;
                background: #fff;
            }
        }

        .text {
            line-height: 1.5;
            color: #fff;
            font-size: 14px;
        }
    }
}

footer {
    padding: 50px 0;
    background-color: #333;
    text-transform: uppercase;

    .section-container {
        width: 1400px;
        text-align: center;
        margin: 0 auto;
    }

    .logo {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        padding-bottom: 25px;
        border-bottom: 1px solid #464646;
        margin-bottom: 20px;
        letter-spacing: 1px;

        &>i {
            color: $color-primary;
        }


        span {
            color: #ccc;
            display: block;
            font-size: 11px;
            letter-spacing: 3px;
            margin-top: 5px;
            font-weight: normal;
        }
    }

    .policy {
        font-size: 0;
        letter-spacing: 0;

        li {
            display: inline-block;
            margin: 0 10px;

            a {
                color: #fff;
                font-size: 13px;
                letter-spacing: 1px;
            }
        }
    }

    .copyright {
        margin-top: 15px;
        color: #999;
        font-size: 12px;
        text-transform: uppercase;
    }
}

.gnb-sitemap {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 5500;
    padding: 0 20%;
    top: 50%;
    box-sizing: border-box;
    transform: translateY(-50%);

    &>ul>li>a {
        color: $color-primary;
        letter-spacing: 1px;
        font-size: 18px;
        display: block;
        padding: 30px 0;
        border-bottom: 1px solid #6f6f6f;
        padding-left: 5%;
        opacity: 0;
        text-transform: uppercase;
        position: relative;
        transition: .5s;

        &::after {
            content: '\f061';
            font-family: "Font Awesome 5 Free";
            font-style: normal;
            font-weight: 700;
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%) rotate(0deg);
            transition: .4s;
        }

        &.on::after {
            transform: rotate(90deg);
        }
    }


    &.on {
        display: block;

        a {
            //opacity: 1;

            &:hover {
                color: #fff;
            }
        }

    }

    .gnb-sitemap-depth2 {
        display: none;

        li>a {
            display: block;
            border-bottom: 1px solid #777;
            padding: 10px 20px 10px 5%;
            letter-spacing: 1px;
            color: #969696;
            font-size: 13px;
            text-transform: uppercase;

        }
    }



}

.btn-gnb-close {
    display: block;
    position: fixed;
    right: 50px;
    top: 50px;
    width: 80px;
    height: 80px;
    opacity: 0;


    &.on {
        opacity: 1;

        &>em {
            &.line1 {
                transform: rotate(45deg);
            }

            &.line2 {
                transform: rotate(-45deg);
            }
        }
    }

    &>em {
        transition: .5s;
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        top: 40px;
        transform: rotate(0deg);
    }

}


.sub-visual {
    width: 100%;
    height: 300px;
    background: #efefef;
    position: relative;

    &.on {
        li h4 {
            transform: translateY(-50%);
            opacity: 1;
        }
    }

    li {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/bulldozer.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        text-align: center;
        color: #fff;

        h4 {
            font-size: 30px;
            position: absolute;
            top: 50%;
            width: 100%;
            opacity: 0;
            transform: translateY(-200%);
            transition: 1s;
            line-height: 1;
            padding-bottom: 10px;
            text-transform: uppercase;

            span {
                display: block;
                font-size: 11px;
                margin-top: 10px;
                opacity: 0.7;
                letter-spacing: 2px;
            }
        }
    }
}


.sub-wrap {
    width: 100%;
    margin-top: -50px;
    position: relative;

    .page-history {
        height: 50px;
        background: rgba($color: #333, $alpha: 0.7);


        .page-history-container {
            width: 1200px;
            margin: 0 auto;
            font-size: 0;
            letter-spacing: 0;
            position: relative;

            .btn-home {
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                background: rgba($color: #fff, $alpha: 0.2);
                width: 50px;
                height: 50px;
                transition: .5s;

                &:hover {
                    background: rgba($color: #000, $alpha: 0.5);
                }

                &::after {
                    content: '\f52b';
                    display: block;
                    font-family: "Font Awesome 5 Free";
                    font-style: normal;
                    font-weight: 600;
                    color: $color-primary;
                    font-size: 20px;
                    width: 50px;
                    line-height: 50px;
                    text-align: center;
                }
            }


            ul {
                float: left;
                margin-left: 50px;
                width: 100%;
                box-sizing: border-box;

                li {
                    width: 25%;
                    display: inline-block;
                    border-left: 1px solid rgba($color: #fff, $alpha: 0.2);
                    box-sizing: border-box;
                    transition: .5s;


                    &:hover,
                    &.current {
                        background: rgba($color: #000, $alpha: 0.5);
                    }

                    a {
                        font-size: 12px;
                        letter-spacing: 2px;
                        color: #fff;
                        display: block;
                        line-height: 50px;
                        height: 50px;
                        overflow: hidden;
                        padding-left: 20px;
                        box-sizing: border-box;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.sub-contents {
    margin: 0 auto;
    padding: 70px 0;

    & img {
        max-width: 100%;
    }


    .img {
        max-height: 450px;
        overflow: hidden;
    }

    p {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }

    .doc-title {
        font-size: 20px;
        text-align: center;
        padding-bottom: 50px;
        text-transform: uppercase;

        span {
            display: inline-block;
            padding: 0 10px 10px 10px;
            border-bottom: 1px solid #333;
        }
    }

    .sub-contents-container {
        min-height: 500px;
        margin: 0 auto;
        text-align: justify;
        line-height: 1.5;

        &.wid1200 {
            width: 1200px;

        }
    }
}

@media screen and (max-width: 1400px) {
    footer .section-container {
        width: auto;
    }

}

@media screen and (max-width: 1200px) {
    header {
        .header-wrap {
            width: auto
        }

        #gnb {
            width: auto;
            margin-right: 70px;
        }

        .gnb-all {
            width: 60px;

            a {
                font-size: 0;
                padding: 0;
            }
        }
    }

    .main-visual .panel-inner {
        width: auto;
    }

    .main-banner {
        width: auto;

        &>div {
            padding: 40px 30px;
        }
    }

    .main-notice {
        width: auto;
    }

    .main-news {
        width: auto;
        padding: 80px 1%;
    }

    .main-biz-banner {

        .section-container {
            width: auto;
        }
    }

    .main-about {

        padding: 80px 0;

        .section-container {
            width: auto;
        }

        .about-item {
            .about-figure {
                strong {
                    font-size: 100px;
                }

                em {
                    font-size: 15px;
                }

            }

            .about-title {
                font-size: 18px;
            }

            .about-context {
                font-size: 13px;
            }
        }
    }

    .main-info {
        .section-container {
            width: auto;
        }

        .info-wrap {
            .title {
                font-size: 18px;
                padding-bottom: 10px;
            }

            .text {
                font-size: 12px;
            }
        }

    }

    .sub-wrap .page-history .page-history-container {
        width: auto;
    }

    .sub-wrap .page-history .page-history-container .btn-home {
        top: -50px;
    }

    .sub-wrap .page-history .page-history-container ul {
        margin: 0;
        float: none;
    }

    .sub-contents .sub-contents-container {
        padding: 0 1%;

        &.wid1200 {
            width: auto;
        }
    }

    .sub-contents .img {
        max-height: 350px;
    }
}

@media screen and (max-width: 1024px) {
    header {
        #gnb {
            display: none;
        }

        .header-wrap {
            height: 80px;
        }

        .logo {
            top: 25px;
            font-size: 15.2px;

            &>span {
                font-size: 10px;
            }
        }

        .gnb-all {
            top: 15px;
        }
    }

    .main-visual {
        .panel-inner {
            padding-left: 50px;
        }
    }


    .main-banner>div dt {
        font-size: 15px;

        em {
            font-size: 20px;
        }
    }

    .main-notice .notice-list a {
        font-size: 14px;
    }

}

@media screen and (max-width: 768px) {

    .gnb-sitemap {
        padding: 0 20px;

        &>ul>li>a {
            padding: 10px 0;
            font-size: 14px;
            font-weight: normal;
        }

        .gnb-sitemap-depth2 li>a {
            font-size: 12px;
            padding: 7px 0 7px 5%;
        }
    }

    .btn-gnb-close {
        width: 50px;
        height: 50px;
    }

    .section-title {
        margin-bottom: 60px;
        font-size: 25px;

        span {
            padding: 0 20px;
        }

        &>p {
            font-weight: normal;
            letter-spacing: 0;
        }
    }

    .main-visual {
        height: auto;

        .panel-inner {
            h3 {
                font-size: 30px;

            }

            .panel-text-01,
            .panel-text-02 {
                font-size: 13px;
            }

            .btn-more {
                width: 120px;
                font-size: 11px;
                margin-top: 20px;
                padding: 0 12px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 1px;


                &::after {
                    display: none
                }
            }
        }
    }

    .main-banner>div {
        width: auto;
        height: auto;
        float: none;

        .btn-more {
            top: 0;
            right: 0;
            left: initial;
        }

        &:hover {
            .btn-more {
                display: block
            }
        }
    }

    .main-notice {
        height: auto;
        padding: 0 20px;
        line-height: 1.3;
        margin: 0;

        border-bottom: 1px solid #ebebeb;

        h3 {
            line-height: 1;
            padding: 10px 0;
        }

        .notice-list {
            position: static;
            width: auto;

            p {
                height: auto;
                padding-bottom: 10px;
            }

            a {
                max-width: 90%;
            }

            .date {
                display: none;
            }
        }
    }

    .main-news .section-container>ul li {
        height: auto !important;
        width: auto;
        float: none;
        margin: 20px 0 0 0;

        &:first-child {
            margin-top: 0;
        }

        dl {
            padding: 0;
        }

        dt {
            font-size: 18px;
        }

        .text {
            font-size: 14px;
        }

        .date {
            font-size: 12px;
            color: #888;

        }

        .btn {
            bottom: 0;
            left: initial;
            right: 0;
            bottom: initial;
            top: 0;

            a {
                border-color: transparent;
                background-color: rgba($color: #fff, $alpha: 0.8);
            }
        }
    }

    .main-biz-banner {
        padding: 60px 0;

        .section-container {
            padding: 0;

            &::before {
                display: none;
            }
        }




    }

    .main-info .info-wrap {

        .info-item-left,
        .info-item-center,
        .info-item-right {
            width: auto;
            height: auto;
            float: none;
        }


        .info-item-center .info-item--stock {
            float: none;
            width: auto;

            .stock {
                .stock-current {
                    position: static;
                    width: auto;
                    text-align: left;
                }

                .stock-detail {
                    float: none;
                    width: auto;
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }
    }


}

@media screen and (max-width: 768px) and (orientation:landscape) {

    .gnb-sitemap {
        padding: 0 20px;
    }

    .gnb-sitemap>ul>li>a {
        padding: 10px 0;
        font-size: 14px;
        font-weight: normal;
    }
}

@media screen and (max-width: 560px) {
    .main-visual .panel-inner {
        padding: 0 30px;

        h3 {
            font-size: 22px;
        }

        .panel-text-02 {
            width: auto;
        }
    }

    .main-about .about-item {
        width: auto;
        display: block;
        text-align: center;
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }
    }

    .main-banner>div {
        padding: 30px 20px;

        dt {
            font-size: 12px;

            em {
                font-size: 16px;
            }
        }

        dd {
            font-size: 13px;
        }
    }


}

@media screen and (max-width: 480px) {

    .main-info .info-wrap .info-item-center .info-item--history,
    .main-info .info-wrap .info-item-center .info-item--philosophy {
        width: auto;
        float: none;
        height: auto;
    }

    .sub-visual {
        height: 250px;

        li h4 {
            font-size: 20px;

            span {
                font-size: 10px;
            }
        }
    }


    .sub-contents {
        padding: 40px 0;
    }

    .sub-contents .sub-contents-container {
        font-size: 14px;
    }

}

@media screen and (max-width: 360px) {
    .main-visual .panel-inner {
        margin-top: 80px;
    }

    .main-visual .panel-navi-wrap {
        top: 350px;
    }

    .main-banner {
        margin-top: 400px;
    }


    .sub-wrap .page-history .page-history-container ul li a {
        padding: 0 5px;
    }
}