@import 'reset';


@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.blind {
    overflow: hidden;
    position: absolute;
    border: 0;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
}

body {
    font-family: 'S-CoreDream-3Light', sans-serif;
}

h3 {
    font-size: 20px;
    background-color: #e4e4e4;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-top: 50px;

    &:nth-of-type(1) {
        margin-top: 0
    }
}

.tab_list {
    height: auto;
    width: 500px;
    margin-left: 50px;
    margin-top: 10px;
}

.tab_list>ul>li {
    margin-left: 20px;

    &:first-child {
        margin-left: 0;
    }

    &>a {
        display: block;
        line-height: 40px;
        text-align: left;
    }
}

.tab_list ul {
    position: relative;
    font-size: 16px;


    &::after {
        display: block;
        clear: both;
        content: ""
    }


    &>li {
        //float: left;
        display: inline-block;



        ul {
            li {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                font-size: 14px;

                a {
                    max-width: 400px;
                    text-overflow: ellipsis;
                    white-space: normal;
                    overflow: hidden;

                }
            }
        }
    }

}


.tab_list li ul {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;

    &>li {
        margin-top: 10px;
    }
}

.tab_list li ul:after {
    display: block;
    clear: both;
    content: ""
}




.tab_list li li.latest_more {
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 12px;
}

.tab_list.tab1 .tab1>a,
.tab_list.tab2 .tab2>a {
    border-bottom: 1px solid deeppink;
    font-weight: bold;
    color: deeppink;
    background: #000;
    padding: 0 10px;
}

.tab_list.tab1 .tab1 ul,
.tab_list.tab2 .tab2 ul {
    display: block
}

.tab_list2 {
    height: auto;
    width: 500px;
    margin-left: 50px;
    margin-top: 10px;
    position: relative;

    ul::after {
        content: '';
        clear: both;
        display: block;
    }

    &>ul>li {
        float: left;

        &>a {
            display: block;
            line-height: 40px;
            margin-right: 40px;

        }

        &.active {
            &>a {
                border-bottom: 1px solid deeppink;
                color: deeppink;
                background: #000;
                padding: 0 10px;
            }

            .tab_cont {
                display: block
            }
        }

        .more {
            position: absolute;
            top: -40px;
            right: 0;
        }
    }

    .tab_cont {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;

        li {
            margin-top: 10px;
            overflow: hidden;
            font-size: 16px;
            font-size: 14px;

            a {
                float: left;
            }

            .date {
                float: right;
            }
        }

        &.active {
            display: block;
        }
    }
}


.btn_lang {
    width: 200px;
    height: 40px;
    margin: 50px auto;
    overflow: hidden;
    background: #333;

    a {
        color: #fff;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        position: relative;
        display: block;
        border-bottom: 1px solid #fff;
        transition: 0.4s;

        &:hover,
        &:focus {
            background: #ddd;
            color: #333;
            font-weight: bold;
        }
    }

    &>a {
        &::after {
            content: '>';
            position: absolute;
            top: 0;
            right: 20px;
            color: #fff;
            z-index: 1;
        }
    }

    li {
        height: 40px;
        width: 100%;
    }

    &.active {
        height: auto;
    }
}





#gnb {
    width: 90%;
    margin: 0 auto;
    height: 100px;
    text-align: center;
    position: relative;
    z-index: 1000;

    .depth01>li {
        float: left;
        width: 14.2%;
        position: relative;


        &>a {
            line-height: 100px;
            display: block;
            font-size: 14px;
            font-weight: bold;
            transition: .3s;
            overflow: hidden;
            height: 100px;
        }

        &.on>a {
            color: orangered;
        }

        &.on>.depth02 {
            background: orangered;
            color: #333;
        }

        .depth02 {
            display: none;
            position: absolute;
            //background: #fff;
            top: 100px;
            left: 0;
            width: 100%;
            z-index: 1;


            a {
                display: block;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                padding: 10px 4px;
                transition: .3s;
                letter-spacing: 0.5px;

                &:hover {
                    background: #333;
                    color: #fff;
                }
            }
        }
    }
}


#gnb2 {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    z-index: 1500;
    position: relative;

    //position: relative;
    &::after {
        border-bottom: 1px solid #ccc;
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        display: block;
    }



    .depth01>li {
        float: left;
        width: 14.2%;


        &>a {
            line-height: 100px;
            display: block;
            font-size: 14px;
            font-weight: bold;
            transition: .3s;
            overflow: hidden;
            height: 100px;
        }

        &.on>a {
            color: orangered;
        }


        .depth02 {
            position: absolute;
            //height: 0;
            left: 0;
            width: 100%;
            background: #333;
            z-index: 1000;
            display: none;


            .depth02-container {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                overflow: hidden;

                .depth02-header {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 30%;
                    height: 100%;
                    background: #ddd;
                    font-weight: bold;

                    &>p {
                        font-weight: bold;
                        padding-top: 20px;
                        font-size: 25px;
                    }
                }

                &>ul {
                    width: 100%;
                    padding-left: 30%;
                    //padding: 30px 0;
                    min-height: 100px;
                    letter-spacing: -10px;
                    text-align: left;

                    li {
                        display: inline-block;
                        width: 50%;

                        letter-spacing: 0;


                        a {
                            color: #fff;
                            display: block;
                            text-align: left;
                            padding-left: 50px;
                            line-height: 30px;
                            padding: 10px 0 10px 50px;
                            transition: 0.5s;

                            &:hover,
                            &:focus {
                                background: #f8f8f8;
                                color: #333;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }


        &.open .depth02 {
            display: block !important;

        }
    }
}


.tb-type01 {
    width: 80%;
    margin: 50px auto;
    border-top: 3px solid #333;

    td,
    th {
        border: 1px solid #ddd;
        padding: 10px 15px;
    }

    th {
        background-color: #f1f1f1;
    }

    td {
        text-align: left;
    }
}

.tb-form {

    .tb-tit {
        width: 20%;
    }

    .tb-input {
        width: 80%;
    }

    //placeholder 
    ::placeholder {
        font-size: 13px;
        font-family: 'S-CoreDream-3Light', sans-serif;
        color: #888;
        font-weight: bold;
        letter-spacing: 2px;
    }

    //input, select, textarea common style 
    input,
    select,
    textarea {
        border: 1px solid #ddd;
        padding: 0 10px;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        font-size: 13px;
        height: 35px;
        line-height: 35px;
        font-weight: bold;
        font-family: 'S-CoreDream-3Light', sans-serif;
    }

    //Hide Arrows From Input Number - chrome, safari, edge, opera
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    //Hide Arrows From Input Number-firefox
    input[type=number] {
        -moz-appearance: textfield;
    }


    .input-box-container {
        width: 100%;
        letter-spacing: -10px;

    }

    .box {
        letter-spacing: 0;
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
        position: relative;


        &-name {
            width: 100%;
        }

        &-phone {
            max-width: 70px;

            &::before {
                content: '-';
                display: block;
                position: absolute;
                line-height: 35px;
                top: 0;
                left: -8px;
            }

            &:nth-of-type(1)::before {
                display: none;
            }
        }

        &-file {
            width: 100%;
            margin-left: 0;
            margin-bottom: 5px;


            .customfile {
                position: relative;
                overflow: hidden;
                width: 100% !important;
                height: 40px;
                background: #fff;
                border-radius: 0px;
                border: solid 1px #ddd;
                padding: 0;

                .cust-field {
                    line-height: 40px;
                    height: 40px;
                    cursor: pointer;
                    color: #212121;
                    display: block;
                    font-weight: normal;
                    color: #333;
                    margin-left: 100px;
                }

                .cust-btn {
                    float: left;
                    line-height: 40px;
                    padding: 0 20px;
                    height: 40px;
                    font-size: 12px;
                    text-align: center;
                    cursor: pointer;
                    color: #fff;
                    background: #333;
                    text-transform: uppercase;
                }

                .fileinput {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    cursor: pointer;
                    z-index: 99;
                    padding: 0;
                    margin: 0;
                }
            }
        }

        &-textarea {
            width: 100%;
            min-height: 160px;
            max-height: 300px;

            textarea {
                width: 100%;
                height: 100%;
                line-height: 150%;
                padding: 10px;
            }
        }

        &-radio {

            //radio container 
            .radio-container {
                display: block;
                position: relative;
                cursor: pointer;
                user-select: none;
                padding-left: 35px;
                line-height: 25px;

                // Hide the browser's default radio button 
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }

                // Create a custom radio button 
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #ddd;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                }


                &:hover input~.checkmark {
                    background-color: #333;
                }

                /* When the radio button is checked, add a blue background */
                input:checked~.checkmark {
                    background-color: #2196F3;
                }

                /* Create the indicator (the dot/circle - hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                /* Show the indicator (dot/circle) when checked */
                input:checked~.checkmark:after {
                    display: block;
                }

                /* Style the indicator (dot/circle) */
                .checkmark:after {
                    top: 7px;
                    left: 7px;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background: white;
                }
            }
        }

        &-check {

            //checkbox container 
            .check-container {
                display: block;
                position: relative;
                cursor: pointer;
                user-select: none;
                padding-left: 30px;
                line-height: 20px;

                // Hide the browser's default checkbox button 
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }

                // Create a custom checkbox button 
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #ddd;
                    height: 20px;
                    width: 20px;
                }

                //hover
                &:hover input~.checkmark {
                    background-color: #333;
                }

                /* When the checkbox button is checked, add a blue background */
                input:checked~.checkmark {
                    background-color: #2196F3;
                }

                /* Create the indicator (the dot/circle - hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                /* Show the indicator (dot/circle) when checked */
                input:checked~.checkmark:after {
                    display: block;
                }

                /* Style the indicator (dot/circle) */
                .checkmark:after {
                    left: 6px;
                    top: 2px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }

        &:nth-of-type(1) {
            margin-left: 0;
        }
    }
}


.box-input-full {
    width: 100%;
}


.place-ani {
    position: relative;

    &>label,
    &>input {
        font-size: 14px;
    }

    &>label {
        position: absolute;
        left: 10px;
        top: 8px;
        text-align: left;
        z-index: 10;
        width: 100%;
        color: #333;
        transition: all .5s ease-out;
        box-sizing: border-box;
    }

    &>input {
        position: relative;
        outline: 0;
        transition: all .5s ease-out;

        &:focus {
            box-shadow: 0 1px 0 0 #333;
        }
    }


    &.focused {
        &>label {
            transform: translateY(-120%);
            left: 0;
            font-size: 12px;
        }

        &>input {
            line-height: 30px;
            height: 30px;
            margin-top: 5px;
        }
    }


    &-toast {
        &>label {
            width: auto;

            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 10px 0 10px;
                border-color: #ff0047 transparent transparent transparent;
                bottom: -5px;
                left: 20px;
                z-index: -999;
                opacity: 0;
            }
        }

        &>input {
            &:focus {
                box-shadow: 0 1px 0 0 #ff0047;
            }
        }

        &.focused {
            &>label {
                background: #ff0047;
                color: #fff;
                width: auto;
                padding: 2px 10px;
                border-radius: 10px;
                transform: translateY(-150%);

                &::after {
                    opacity: 1;
                }
            }
        }
    }


}


* {
    margin: 0;
    padding: 0;
}

.tooltip-wrap {
    position: relative;
    width: 800px;
    height: 260px;

    a[data-tooltip] {
        background: #dfdfdf;
        position: absolute;
        color: #333;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        font-size: 12px;
        border-radius: 5px;
        font-weight: bold;
    }
}

.chart-pop {
    display: none;
    position: absolute;
    top: 75px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    padding: 35px;
    border: 1px solid #d71a21;
    border-radius: 5px;
    background-color: #fff;
    font-size: 13px;

}

.chart-pop .chart-close01 {
    position: absolute;
    right: 10px;
    top: 10px;
}

.layer-content {
    padding-top: 15px;
}


//SNAV

.sample-container {
    height: 400px;
    margin: 40px auto
}

.sample-contents {
    padding-top: 100px;
    position: relative;
    z-index: 1
}

.snav {
    width: 100%;
    height: 50px;
    z-index: 150;
    position: absolute;

    background-color: rgba($color: #000000, $alpha: 0.7);

    &>div {
        width: 50%;
        height: 50px;
        float: left;
        position: relative;


        .snav-depth-sel {
            color: #fff;
            line-height: 50px;
            text-align: center;
        }

    }

    ul {
        position: absolute;
        left: 0;
        top: 50px;
        height: 0;
        width: 100%;
        overflow: hidden;
        background: rgba(78, 78, 156, 0.8);


        li a {
            display: block;
            line-height: 50px;
            color: #ffbdbd;
            text-align: center;

            &:hover {
                background: rgba($color: #000000, $alpha: 0.3)
            }
        }

    }



}





.form-container {

    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {

        .col-25,
        .col-75,
        input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }
}